/* 소개 > 센터장 인사말 */

.ctn_info{
    position: relative; /*before 배경, 사진, after 로고 정렬의 기준*/
}
.ctn_info::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 760px;
    background-color: var(--bg-main-color);
    z-index: -1; /* 영역 안에서 맨 아래*/
}
.ctn_info::after{
    content: "";
    position: absolute;
    bottom: 21px;
    right: 0;
    width: 534px;
    height: 501px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='535' height='502' viewBox='0 0 535 502' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M460.046 48.1194C460.046 74.341 438.799 95.5884 412.577 95.5884C386.356 95.5884 365.108 74.341 365.108 48.1194C365.108 21.8977 386.356 0.650391 412.577 0.650391C438.799 0.650391 460.046 21.8977 460.046 48.1194Z' fill='%23E55927' fill-opacity='0.05'/%3E%3Cpath d='M528.337 202.967C515.83 153.011 469.995 116.273 418.689 112.435C369.728 108.811 334.907 124.658 310.889 151.093C273.937 191.669 262.922 266.141 229.523 308.565C242.101 342.106 262.922 376.215 266.902 382.042C302.432 351.273 325.101 307.854 344.714 252.639C353.526 227.839 368.448 195.648 400.71 199.13C425.653 201.83 450.738 225.352 440.789 288.028C428.993 362.003 381.95 421.694 341.374 424.608C311.457 426.74 289.144 411.177 273.653 390.285C287.723 409.33 309.112 441.449 354.236 457.296C401.421 473.853 440.86 465.468 464.95 445.002C477.172 431.785 488.329 416.08 497.922 397.889C535.23 327.112 541.057 253.989 528.337 203.11' fill='%23E55927' fill-opacity='0.05'/%3E%3Cpath d='M354.236 456.94C302.291 441.093 264.841 384.102 239.828 330.38C220.712 289.306 209.129 250.862 199.536 224.072C183.618 179.658 149.011 147.539 96.852 150.168C27.7804 153.65 -2.34965 209.007 0.634933 267.988C3.76163 330.238 44.693 407.41 122.505 419.42C148.727 423.47 174.806 423.399 200.957 416.577C241.533 477.406 286.728 499.79 338.603 501.353C381.95 502.632 428.211 484.725 464.879 445.002C440.789 465.538 402.061 471.65 354.236 457.011M154.767 353.688C110.709 354.256 83.4925 329.456 71.2699 287.388C61.4635 253.704 70.0619 230.61 89.6748 226.204C106.161 222.509 120.516 229.046 133.235 266.424C141.194 289.875 147.164 315.67 165 352.835C161.66 353.404 158.249 353.688 154.767 353.688Z' fill='%23F0A227' fill-opacity='0.05'/%3E%3Cpath d='M142.544 95.661C142.544 118.756 123.855 137.445 100.76 137.445C77.6652 137.445 58.9761 118.756 58.9761 95.661C58.9761 72.5661 77.6652 53.877 100.76 53.877C123.855 53.877 142.544 72.5661 142.544 95.661Z' fill='%23F0A227' fill-opacity='0.05'/%3E%3Cmask id='mask0_279_1774' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='150' width='202' height='272'%3E%3Cpath d='M71.2701 287.379C61.4636 253.696 70.062 230.601 89.675 226.195C92.8017 225.485 95.9284 225.201 98.984 225.343V150.018C98.2734 150.018 97.6339 150.018 96.9232 150.018C27.8516 153.5 -2.27845 208.856 0.70613 267.837C3.83283 330.087 44.7642 407.26 122.576 419.269C148.798 423.32 174.878 423.249 201.028 416.427C197.546 411.239 194.135 405.767 190.724 400.012C180.065 381.891 171.751 366.328 165.071 352.756C161.731 353.324 158.32 353.608 154.838 353.608C110.78 354.177 83.5637 329.377 71.3411 287.308' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_279_1774)'%3E%3Cpath d='M33.9751 72.1726L-107.054 374.611L164.664 501.316L305.693 198.877L33.9751 72.1726Z' fill='url(%23paint0_linear_279_1774)' fill-opacity='0.05'/%3E%3C/g%3E%3Cmask id='mask1_279_1774' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='273' y='112' width='262' height='355'%3E%3Cpath d='M528.337 202.962C515.83 153.006 469.996 116.268 418.689 112.43C414.781 112.146 411.015 112.004 407.248 112.004V200.333C429.775 206.302 449.814 230.89 440.718 288.023C428.922 361.998 381.879 421.689 341.303 424.603C311.386 426.735 289.073 411.172 273.582 390.28C287.652 409.325 309.041 441.444 354.165 457.291C401.35 473.848 440.789 465.463 464.879 444.998C477.102 431.78 488.258 416.076 497.852 397.884C535.159 327.107 540.986 253.985 528.266 203.105' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_279_1774)'%3E%3Cpath d='M340.518 -3.79187L117.03 383.301L474.275 589.556L697.763 202.464L340.518 -3.79187Z' fill='url(%23paint1_linear_279_1774)' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_279_1774' x1='-4.14888' y1='243.464' x2='232.032' y2='353.597' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0A227'/%3E%3Cstop offset='0.4' stop-color='%23F0A227'/%3E%3Cstop offset='1' stop-color='%23C2631D'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_279_1774' x1='498.119' y1='140.997' x2='325.525' y2='439.939' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E55927'/%3E%3Cstop offset='0.65' stop-color='%23E55927'/%3E%3Cstop offset='1' stop-color='%23BB3921'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}


.ctn_info .center_tit{
    padding: 0 42.30% 99px 0;
}
.ctn_info .center_tit h2{
    font-size: var(--center-tit-size);
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
}
.ctn_info .center_tit h2 span{
    /*글자 색 그라데이션*/
    background-image: linear-gradient(to right, #3FCCFF, #0043BF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.ctn_info .photo{
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 160px;
    width: 29.16%;
    height: 572px;
    border-radius: 20px;
}
.ctn_info .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_info .center_detail{
    padding: 0 56.74% 129px 0;
    font-family: var(--sub-fontfamily);
}
.ctn_info .center_detail p{
    color: var( --tit-font-color);
}
.ctn_info .center_detail .center_sign{
    margin: 61px 0 0 0;
    display: flex;
    gap: 19px;
    align-items: center;
    color: var( --tit-font-color);
}
.ctn_info .center_detail .center_sign span{
    font-size: var(--center-sign-size);
}

@media screen and (max-width: 1300px) {
   .ctn_info .photo{
        right: 20px;
        height: 550px;
    }
    .ctn_info .center_tit{
        padding: 0 42.30% 70px 0;
    }
    .ctn_info .center_tit h2 br{
        display: none;
    }
    .ctn_info .center_detail{
        padding: 0 56.74% 40px 0;
    }
    .ctn_info .center_detail .center_sign{
        margin: 61px 0 0 0;
        display: flex;
        gap: 19px;
        align-items: center;
        color: var( --tit-font-color);
    }
}
@media screen and (max-width: 1024px){
    .ctn_info::before{
        position: relative;
    }
    .ctn_info::after{
        position: relative;
    }
    .ctn_info .center_tit{
        padding: 0 0 40px 0;
        text-align: center;
    }
    .ctn_info .photo{
        position: relative;
        overflow: hidden;
        top: 0;
        right: auto;
        width: auto;
        height: 276px;
        margin: 0 0 70px 0;
    }
    .ctn_info .center_detail{
        padding: 0;
    }
    .ctn_info .center_detail .center_sign{
        margin: 51px 0 80px 0;
        gap: 17px;
    }
} /*@media rolling :: 1024 모바일*/

@media screen and (max-width: 768px){
    .ctn_info::before{
        position: relative;
    }
    .ctn_info::after{
        position: relative;
    }
    .ctn_info .center_tit{
        padding: 0 0 40px 0;
        text-align: center;
    }
    .ctn_info .photo{
        position: relative;
        overflow: hidden;
        top: 0;
        right: auto;
        width: auto;
        height: 276px;
        margin: 0 0 70px 0;
    }
    .ctn_info .center_detail{
        padding: 0;
    }
    .ctn_info .center_detail .center_sign{
        margin: 51px 0 80px 0;
        gap: 17px;
    }
} /*@media rolling :: 768 모바일*/