/*header footer*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    background-color: #fff;
}

header .wrapper{
    height: var(--header-h);
    display: flex;/*logo, nav, util*/  
    justify-content: space-between;
    align-items: center;
}
header .logo a{
    display: block;
    width: 242px;
    height: 41px;
    background: url(../images/common/logo.svg) no-repeat center center / contain;
}

header .util{
    display: flex;
    align-items: center;
    gap: 6px;
}
header .util .login_wrap{
    display: flex; /*로그인 회원가입 좌우 정렬*/
    padding: 10px 22px 11px 25px;
    border: 1px solid #adadad;
    border-radius: 40px;
}

header .util .login_wrap .login a,
header .util .login_wrap .signup a{
    display: inline-block;
    font-size: 14px;
    font-family: var(--sub-fontfamily);
}
header .util .login_wrap .signup a{
    margin-left: 25px;
    padding-left: 13px;
    position: relative;
}
header .util .login_wrap .signup a::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 13px;
    top: 4px;
    left: -6px;
    background-color: #adadad;
}
header .util .search{
    line-height: 0;
}
header .util .search .search_open{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--point-color);
}
header .util .search .search_open::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_167' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_167)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}


/*******************  아래로 스크롤 내릴 때 header  사라짐 ***********************/

header.fixed.gnb_up{
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over{
    top: 0;
}

/*******************  header에 fixed클래스 추가  ***********************/
header.fixed{
    box-shadow: 0 0.12em 0.18em 0 rgba(0, 0, 0, 0.05);
}

@media screen and (min-width:1025px) {
    header .gnb .gnb_open,
    header .gnb .gnb_close{
        display: none; /*온라인에서만 보임*/
    }
    header .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li{
        position: relative; /*2차메뉴의 정렬 기준*/
        text-align: left;
    }
    header .gnb .gnb_wrap ul.depth1 > li> a{
        display: inline-block;
        line-height: 95px; /*a에 들어가는 행간은 px로 주기*/
        font-size: var(--header-font-size);
        font-weight: var(--Extra-bold-weight);
        color: var(--tit-font-color);
        padding: 0 34px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{ /*2차메뉴*/
        display: none;
        position: absolute;
        top: 76px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border: 1px solid #ccc;
        width: 200px;
        padding: 18px 0 30px 25px;
        border-radius: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 a{
        display: inline-block;
        white-space: nowrap;
        font-size: 18px;
        padding: 5px 0;
    }

    /* ##########  1차 메뉴에 over클래스 추가했을 때  ##########*/

    header .gnb .gnb_wrap ul.depth1 > li.over > a >span{
        color: var(--main-font-color);
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a>span::before{
        content: "";
        position: absolute;
        bottom: -14px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--main-font-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2{
        display: block; /*2차메뉴 나타나게 하기*/
    }

    /* ##########  2차 메뉴에 마우스 오버했을 때  ##########*/

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 a:hover{
        font-weight: var(--bold-weight);
        color: var(--point-color);
        position: relative; /*밑줄 선의 정렬 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 a:hover::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 4px;
        left: 0;
        background-color: var(--point-color);
    }
    header .gnb .gnb_util{ /*브라우저 사이즈가 줄어들었을 때 모바일용 gnb_util 없애주기*/
        display: none;
    }
} /*@media  1025px 이상에서만 완전 pc용 */


@media screen and (max-width:1024px){ 
    header .wrapper{
        margin-right: 0;
    }
    header .logo a{
        width: 119px;
        height: 20px;
    }
    header .util{
        display: none;
    }

    header .gnb_util{ /*모바일 유틸*/
        display: none;
        position: absolute;
        align-items: center;
        margin: 8px 0 0 20px;
        gap: 8px;
    }
    header .gnb_util .login_wrap{
        display: flex; /*로그인 회원가입 좌우 정렬*/
        padding: 5px 17px 6px 20px;
        border: 1px solid #adadad;
        border-radius: 40px;
    }
    header .gnb_util .login_wrap .login a,
    header .gnb_util .login_wrap .signup a{
        display: inline-block;
        font-size: 14px;
        font-family: var(--sub-fontfamily);
    }

    header .gnb_util .login_wrap .signup a{
        margin-left: 10px;
        padding-left: 4px;
        position: relative;
    }
    header .gnb_util .login_wrap .signup a::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 13px;
        top: 4px;
        left: -3px;
        background-color: #adadad;
    }
    header .gnb_util .search{
        line-height: 0 /*원래 가지고 있던 여백 빼주기*/
    }
    header .gnb_util .search .search_open{
        position: relative;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--point-color);
    }
    header .gnb_util .search .search_open::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_160_18' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_160_18)'%3E%3Cpath d='M13.8833 14.875L9.42083 10.4125C9.06667 10.6958 8.65937 10.9201 8.19896 11.0854C7.73854 11.2507 7.24861 11.3333 6.72917 11.3333C5.44236 11.3333 4.3533 10.8877 3.46198 9.99635C2.57066 9.10503 2.125 8.01597 2.125 6.72917C2.125 5.44236 2.57066 4.3533 3.46198 3.46198C4.3533 2.57066 5.44236 2.125 6.72917 2.125C8.01597 2.125 9.10503 2.57066 9.99635 3.46198C10.8877 4.3533 11.3333 5.44236 11.3333 6.72917C11.3333 7.24861 11.2507 7.73854 11.0854 8.19896C10.9201 8.65937 10.6958 9.06667 10.4125 9.42083L14.875 13.8833L13.8833 14.875ZM6.72917 9.91667C7.61458 9.91667 8.36719 9.60677 8.98698 8.98698C9.60677 8.36719 9.91667 7.61458 9.91667 6.72917C9.91667 5.84375 9.60677 5.09115 8.98698 4.47135C8.36719 3.85156 7.61458 3.54167 6.72917 3.54167C5.84375 3.54167 5.09115 3.85156 4.47135 4.47135C3.85156 5.09115 3.54167 5.84375 3.54167 6.72917C3.54167 7.61458 3.85156 8.36719 4.47135 8.98698C5.09115 9.60677 5.84375 9.91667 6.72917 9.91667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    header .gnb .gnb_open{ /*메뉴열기*/
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_15)'%3E%3Cpath d='M5.31323 8.74902C5.04761 8.74902 4.825 8.65913 4.64542 8.47934C4.46563 8.29954 4.37573 8.07684 4.37573 7.81121C4.37573 7.54538 4.46563 7.32277 4.64542 7.1434C4.825 6.96381 5.04761 6.87402 5.31323 6.87402H24.6882C24.9539 6.87402 25.1765 6.96392 25.356 7.14371C25.5358 7.3235 25.6257 7.54621 25.6257 7.81184C25.6257 8.07767 25.5358 8.30027 25.356 8.47965C25.1765 8.65923 24.9539 8.74902 24.6882 8.74902H5.31323ZM5.31323 23.124C5.04761 23.124 4.825 23.0341 4.64542 22.8543C4.46563 22.6745 4.37573 22.4518 4.37573 22.1862C4.37573 21.9204 4.46563 21.6978 4.64542 21.5184C4.825 21.3388 5.04761 21.249 5.31323 21.249H24.6882C24.9539 21.249 25.1765 21.3389 25.356 21.5187C25.5358 21.6985 25.6257 21.9212 25.6257 22.1868C25.6257 22.4527 25.5358 22.6753 25.356 22.8546C25.1765 23.0342 24.9539 23.124 24.6882 23.124H5.31323ZM5.31323 15.9365C5.04761 15.9365 4.825 15.8466 4.64542 15.6668C4.46563 15.487 4.37573 15.2643 4.37573 14.9987C4.37573 14.7329 4.46563 14.5103 4.64542 14.3309C4.825 14.1513 5.04761 14.0615 5.31323 14.0615H24.6882C24.9539 14.0615 25.1765 14.1514 25.356 14.3312C25.5358 14.511 25.6257 14.7337 25.6257 14.9993C25.6257 15.2652 25.5358 15.4878 25.356 15.6671C25.1765 15.8467 24.9539 15.9365 24.6882 15.9365H5.31323Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header.fixed .gnb .gnb_open{
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_15)'%3E%3Cpath d='M5.31323 8.74902C5.04761 8.74902 4.825 8.65913 4.64542 8.47934C4.46563 8.29954 4.37573 8.07684 4.37573 7.81121C4.37573 7.54538 4.46563 7.32277 4.64542 7.1434C4.825 6.96381 5.04761 6.87402 5.31323 6.87402H24.6882C24.9539 6.87402 25.1765 6.96392 25.356 7.14371C25.5358 7.3235 25.6257 7.54621 25.6257 7.81184C25.6257 8.07767 25.5358 8.30027 25.356 8.47965C25.1765 8.65923 24.9539 8.74902 24.6882 8.74902H5.31323ZM5.31323 23.124C5.04761 23.124 4.825 23.0341 4.64542 22.8543C4.46563 22.6745 4.37573 22.4518 4.37573 22.1862C4.37573 21.9204 4.46563 21.6978 4.64542 21.5184C4.825 21.3388 5.04761 21.249 5.31323 21.249H24.6882C24.9539 21.249 25.1765 21.3389 25.356 21.5187C25.5358 21.6985 25.6257 21.9212 25.6257 22.1868C25.6257 22.4527 25.5358 22.6753 25.356 22.8546C25.1765 23.0342 24.9539 23.124 24.6882 23.124H5.31323ZM5.31323 15.9365C5.04761 15.9365 4.825 15.8466 4.64542 15.6668C4.46563 15.487 4.37573 15.2643 4.37573 14.9987C4.37573 14.7329 4.46563 14.5103 4.64542 14.3309C4.825 14.1513 5.04761 14.0615 5.31323 14.0615H24.6882C24.9539 14.0615 25.1765 14.1514 25.356 14.3312C25.5358 14.511 25.6257 14.7337 25.6257 14.9993C25.6257 15.2652 25.5358 15.4878 25.356 15.6671C25.1765 15.8467 24.9539 15.9365 24.6882 15.9365H5.31323Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb_wrap{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    /*모바일 메뉴바 시작*/

    header .gnb .gnb_wrap ul.depth1 { /*모바일 메뉴바 크기 높이 잡아주기!*/
        margin-top: var(--header-h);
        padding: 0 20px;
        height: calc(100% - var(--header-h));
        overflow-x: hidden; /*좌우 스크롤바 X*/
        overflow-y: auto; /*위아래 스크롤바 자동으로 알아서*/
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child{
        border-top: 1px solid #ccc;
    }
    header .gnb .gnb_wrap ul.depth1 > li{
        border-bottom: 1px solid #ccc;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a{ /*1차메뉴*/
        display: block;
        padding: 23px 39px 23px 20px; /* 행간으로 주면 안됨*/
        font-size: var(--news-font-size);
        font-weight: var(--Extra-bold-weight);
        line-height: var(--tit-line-height);
        color: var(--point-color);
        position: relative; /*before 정렬기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li>  a::after{
        content: "";
        position: absolute;
        right: 0;
        top: 20px;
        width: 25px;
        height: 25px;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_163_249' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect x='18' width='18' height='18' transform='rotate(90 18 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_163_249)'%3E%3Cpath d='M9 10.856L14.5125 5.34347C14.7 5.15597 14.9219 5.06534 15.1781 5.07159C15.4344 5.07784 15.6562 5.17472 15.8437 5.36222C16.0312 5.54972 16.125 5.77159 16.125 6.02784C16.125 6.28409 16.0312 6.50597 15.8437 6.69347L10.0687 12.4497C9.91875 12.5997 9.75 12.7122 9.5625 12.7872C9.375 12.8622 9.1875 12.8997 9 12.8997C8.8125 12.8997 8.625 12.8622 8.4375 12.7872C8.25 12.7122 8.08125 12.5997 7.93125 12.4497L2.15625 6.67472C1.96875 6.48722 1.87812 6.26847 1.88437 6.01847C1.89062 5.76847 1.9875 5.54972 2.175 5.36222C2.3625 5.17472 2.58437 5.08097 2.84062 5.08097C3.09687 5.08097 3.31875 5.17472 3.50625 5.36222L9 10.856Z' fill='%23033056'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{ /*2차메뉴*/
        background-color: var(--bg-main-color);
        margin: 0 0 15px 0;
        padding: 16px 0 24px 26px;
        color: var(--tit-font-color);
        display: none; /*2차 메뉴 숨김*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
        display: block;
        line-height: 1.8;
    }

    header .gnb .gnb_close{
        display: none;
        position: absolute; /*gnb_wrap을 기준으로 정렬*/
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_1313' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_1313)'%3E%3Cpath d='M16.5001 17.9491L9.5247 24.9248C9.33426 25.115 9.0949 25.2124 8.80661 25.217C8.51855 25.2214 8.27483 25.124 8.07545 24.9248C7.87631 24.7255 7.77673 24.4839 7.77673 24.2002C7.77673 23.9165 7.87631 23.6749 8.07545 23.4756L15.0512 16.5002L8.07545 9.52483C7.88524 9.33439 7.78785 9.09502 7.78326 8.80673C7.77891 8.51867 7.87631 8.27495 8.07545 8.07557C8.27483 7.87643 8.51637 7.77686 8.80008 7.77686C9.08379 7.77686 9.32533 7.87643 9.5247 8.07557L16.5001 15.0513L23.4755 8.07557C23.6659 7.88537 23.9053 7.78797 24.1935 7.78339C24.4816 7.77903 24.7253 7.87643 24.9247 8.07557C25.1238 8.27495 25.2234 8.51649 25.2234 8.8002C25.2234 9.08391 25.1238 9.32545 24.9247 9.52483L17.949 16.5002L24.9247 23.4756C25.1149 23.666 25.2123 23.9054 25.2169 24.1937C25.2212 24.4817 25.1238 24.7255 24.9247 24.9248C24.7253 25.124 24.4838 25.2235 24.2001 25.2235C23.9164 25.2235 23.6748 25.124 23.4755 24.9248L16.5001 17.9491Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    /*2차 메뉴가 열렸을 때 - 화살표 방향 바뀌는 거 */
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after{
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_163_249' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect x='18' width='18' height='18' transform='rotate(90 18 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_163_249)'%3E%3Cpath d='M9 10.856L14.5125 5.34347C14.7 5.15597 14.9219 5.06534 15.1781 5.07159C15.4344 5.07784 15.6562 5.17472 15.8437 5.36222C16.0312 5.54972 16.125 5.77159 16.125 6.02784C16.125 6.28409 16.0312 6.50597 15.8437 6.69347L10.0687 12.4497C9.91875 12.5997 9.75 12.7122 9.5625 12.7872C9.375 12.8622 9.1875 12.8997 9 12.8997C8.8125 12.8997 8.625 12.8622 8.4375 12.7872C8.25 12.7122 8.08125 12.5997 7.93125 12.4497L2.15625 6.67472C1.96875 6.48722 1.87812 6.26847 1.88437 6.01847C1.89062 5.76847 1.9875 5.54972 2.175 5.36222C2.3625 5.17472 2.58437 5.08097 2.84062 5.08097C3.09687 5.08097 3.31875 5.17472 3.50625 5.36222L9 10.856Z' fill='%23033056'/%3E%3C/g%3E%3C/svg%3E%0A");
        transform: rotate(180deg);
    }
    /*메뉴가 열렸을 때 */
    header .gnb_util{
        display: flex;
    }
    header.menu_open .gnb .gnb_wrap{
        display: block;
    }
    header.menu_open .gnb .gnb_close{
        display: block;
    }


} /*@media  1024px 모바일 */
