@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual{
    padding-top: var(--header-h);
}

.visual_wrap{
    display: flex; /*swiper와 visual_side의 정렬*/
    justify-content: space-between;
    gap: 24px;
}

.visual_wrap .swiper{
    position: relative; /*글자정렬의 기준*/
}

.visual_wrap .visual_main .photo{
    overflow: hidden;
    height: 612px;
    border-radius: 40px;
}
.visual_wrap .visual_main .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual_wrap .visual_main .txt_wrap{
    position: absolute;
    top: 100px;
    left: 57px;
    color: #fff;
}
.visual_wrap .visual_main .txt_wrap h3{
    font-size: var(--tit-size);
    font-weight: var(--Extra-bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 20px 0;
}
.visual_wrap .visual_main .txt_wrap p{
    font-family: var(--sub-fontfamily);
    font-size: var(--news-font-size);
}

.visual_wrap .swiper .inner{
    position: absolute; /*swiper 기준 정렬*/
    display: flex;
    left: 59px;
    bottom: 55px;
    align-items: center;
    gap: 3px;
}
.visual_wrap .swiper .inner .paging{
    z-index: 10;
    display: flex; /*span 좌우 정렬*/
    width: 100%;
    gap: 6px;
}
.visual_wrap .swiper .inner .paging .swiper-pagination-bullet{ 
    /*선택안된 동그라미*/
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin: 0; /*원래 마진이 있어서 빼주었음*/
    opacity: 1; /*선택 안된 원래스타일로*/
}
.visual_wrap .swiper .inner .paging .swiper-pagination-bullet.swiper-pagination-bullet-active{
    /*선택된 동그라미*/
    display: block;
    width: 20px;
    height: 8px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}


.visual_wrap .swiper .inner .ctrl_wrap{
    z-index: 10;
    display: flex;
    gap: 2px;
}
.visual_wrap .swiper .inner .ctrl_wrap button{
    width: 13px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual_wrap .swiper .inner .ctrl_wrap .btn_play{
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1067' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect x='13' y='13' width='13' height='13' transform='rotate(-180 13 13)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1067)'%3E%3Cpath d='M4.33342 2.70866L10.2917 6.50033L4.33341 10.292L4.33342 2.70866Z' fill='white' fill-opacity='0.4'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual_wrap .swiper .inner .ctrl_wrap .btn_stop{
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1071' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1071)'%3E%3Cpath d='M7 9.5V2.5H9V9.5H7ZM3 9.5V2.5H5V9.5H3Z' fill='white' fill-opacity='0.4'/%3E%3C/g%3E%3C/svg%3E%0A");
}


/*사이드*/
.visual_wrap .visual_side{
    /*flex-basis: 19%;*/
    display: flex;
    flex-direction: column;
    /*min-width: 277px; 최소넓이*/
    width: 297px;
    gap: 24px;
}

.visual_wrap .visual_side .near_side a,
.visual_wrap .visual_side .navi_side a{
    display: block;
    padding: 19px 0px 0px 23px;
    background-color: var(--bg-main-color);
    border-radius: 20px;
}
.visual_wrap .visual_side .near_side a div,
.visual_wrap .visual_side .navi_side a div{
    position: relative; /*더보기 정렬의 기준*/
}
.visual_wrap .visual_side .near_side a p{
    font-size: 15px;
    font-family: var(--sub-fontfamily);
    color: var(--main-font-color);
    margin: 0 0 34px 0;
}
.visual_wrap .visual_side .navi_side a p{
    font-size: 15px;
    font-family: var(--sub-fontfamily);
    color: var(--main-font-color);
    margin: 0 0 58px 0;
}

.visual_wrap .visual_side .near_side a div h3,
.visual_wrap .visual_side .navi_side a div h3{
    font-size: var(--news-font-size);
    font-weight: var(--Extra-bold-weight);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
    padding: 0 0 25px 0;
}
.visual_wrap .visual_side .near_side a div .more{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 26px;
    height: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1082' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1082)'%3E%3Cpath d='M6.93341 19.5003L5.41675 17.9837L15.8167 7.58366H6.50008V5.41699H19.5001V18.417H17.3334V9.10033L6.93341 19.5003Z' fill='%23033056'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual_wrap .visual_side .navi_side a div .more{
    position: absolute;
    top: 0;
    right: 24px;
    width: 26px;
    height: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1082' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1082)'%3E%3Cpath d='M6.93341 19.5003L5.41675 17.9837L15.8167 7.58366H6.50008V5.41699H19.5001V18.417H17.3334V9.10033L6.93341 19.5003Z' fill='%23033056'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/***통합검색 */
.visual_wrap .visual_side .search_side{
    position: relative;
}
.visual_wrap .visual_side .search_side h3{
    padding: 0 0 0 23px;
    background: var(--main-font-color);
    line-height: 57px;
    border-radius: 20px 20px 0 0;
    font-size: var(--news-font-size);
    font-weight: var(--Extra-bold-weight);
    color: #fff;
    position: relative; /*뒷배경의 정렬 기준*/
    display: block;
}

.visual_wrap .visual_side .search_side .bg{
    position: absolute;
    top: 0;
    right: 0;
    height: 57px;
    padding: 0 0 14px 29px;
    background: url(../images/main/visual_bg.jpg) no-repeat center center / cover;
}
.visual_wrap .visual_side .search_side .bg .txt_bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 17px 11px 22px;
    background-color: var(--point-color);
    border-radius: 40px;
    gap: 7px;
}
.visual_wrap .visual_side .search_side .bg .txt_bg strong{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    font-family: var(--sub-fontfamily);
}
.visual_wrap .visual_side .search_side .bg .txt_bg .down{
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1101' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1101)'%3E%3Cpath d='M7.5 13.75L3.125 9.375L4 8.48438L6.875 11.3594V6.875H8.125V11.3594L11 8.5L11.875 9.375L7.5 13.75ZM6.875 5.625V3.75H8.125V5.625H6.875ZM6.875 2.5V1.25H8.125V2.5H6.875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual_wrap .visual_side .search_inner{
    padding: 22px 23px 27px ;
    background: var(--main-font-color);
    border-radius: 0 20px 20px 20px;
}
.visual_wrap .visual_side .search_inner .tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 7px;
    width: 220px;
}
.visual_wrap .visual_side .search_inner .tag a{
    display: block;
    font-family: var(--sub-fontfamily);
    font-weight: var(--bold-weight);
    font-size: 12px;
    color: #fff;
    padding: 6px 11px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/***검색하기 폼*/
.visual_wrap .visual_side .form {
    margin: 33px 0 0 0;
}
.visual_wrap .visual_side .form .input_group{
    display: flex;
    justify-content: space-between;
}
.visual_wrap .visual_side .form .input_group p{
    font-family: var(--sub-fontfamily);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 5px 0;
    position: relative;
}
.visual_wrap .visual_side .form .input_group p::after{
    content: "";
    position: absolute;
    width: 213px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.visual_wrap .visual_side .form .input_group .srch{
    position: relative;
}
.visual_wrap .visual_side .form .input_group .srch::after{
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 19px;
    height: 19px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1106' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1106)'%3E%3Cpath d='M15.5167 16.625L10.5292 11.6375C10.1333 11.9542 9.67812 12.2049 9.16354 12.3896C8.64896 12.5743 8.10139 12.6667 7.52083 12.6667C6.08264 12.6667 4.86545 12.1686 3.86927 11.1724C2.87309 10.1762 2.375 8.95903 2.375 7.52083C2.375 6.08264 2.87309 4.86545 3.86927 3.86927C4.86545 2.87309 6.08264 2.375 7.52083 2.375C8.95903 2.375 10.1762 2.87309 11.1724 3.86927C12.1686 4.86545 12.6667 6.08264 12.6667 7.52083C12.6667 8.10139 12.5743 8.64896 12.3896 9.16354C12.2049 9.67812 11.9542 10.1333 11.6375 10.5292L16.625 15.5167L15.5167 16.625ZM7.52083 11.0833C8.51042 11.0833 9.35156 10.737 10.0443 10.0443C10.737 9.35156 11.0833 8.51042 11.0833 7.52083C11.0833 6.53125 10.737 5.6901 10.0443 4.9974C9.35156 4.30469 8.51042 3.95833 7.52083 3.95833C6.53125 3.95833 5.6901 4.30469 4.9974 4.9974C4.30469 5.6901 3.95833 6.53125 3.95833 7.52083C3.95833 8.51042 4.30469 9.35156 4.9974 10.0443C5.6901 10.737 6.53125 11.0833 7.52083 11.0833Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/***마우스 오버 이벤트*/
.visual_wrap .visual_side  a:hover p{
    color: #fff;
}
.visual_wrap .visual_side .near_side a:hover,
.visual_wrap .visual_side .navi_side a:hover{
    background-color: var(--point-color);
}
.visual_wrap .visual_side .near_side a:hover div h3,
.visual_wrap .visual_side .navi_side a:hover div h3{
    color: #fff;
}
.visual_wrap .visual_side .near_side a:hover div .more,
.visual_wrap .visual_side .navi_side a:hover div .more{
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_165_267' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_165_267)'%3E%3Cpath d='M6.93341 19.5003L5.41675 17.9837L15.8167 7.58366H6.50008V5.41699H19.5001V18.417H17.3334V9.10033L6.93341 19.5003Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual_wrap .visual_side .search_inner .tag a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--point-color);
}


@media screen and (max-width:1024px){ 
    .visual_wrap{
        display: block; /*swiper와 visual_side의 정렬*/
    }
    .visual_wrap .visual_main .photo{
        height: 400px;
        border-radius: 20px;
    }
    .visual_wrap .visual_main .txt_wrap{ /*슬라이드 안에 들어있는 글자*/
        top: 80px;
    }
    .visual_wrap .visual_main .txt_wrap h3{
        margin: 0 0 15px 0;
    }
    
    /*사이드*/
    .visual_wrap .visual_side{
        display: block;
        width: auto;
    }
    .visual_wrap .visual_side .near_side a,
    .visual_wrap .visual_side .navi_side a{
        display: block;
        padding: 19px 0px 0px 23px;
        background-color: var(--bg-main-color);
        border-radius: 20px;
    }
    .visual_wrap .visual_side .near_side{
        margin: 17px 0 ;
    }
    .visual_wrap .visual_side .navi_side a p{
        margin: 0 0 34px 0;
    }
    .visual_wrap .visual_side .near_side a div h3 br{
        display: none;
    }
    .visual_wrap .visual_side .near_side a div .more{
        top: 3px;
    }
    .visual_wrap .visual_side .navi_side a div .more{
        top: 3px;
    }
    .visual_wrap .visual_side .search_side{
        display: none;
    }
} /*@media visual :: 1024 모바일*/


@media screen and (max-width:768px){ 
    .visual_wrap{
        display: block; /*swiper와 visual_side의 정렬*/
    }
    .visual_wrap .visual_main .photo{
        height: 184px;
        border-radius: 20px;
    }
    .visual_wrap .visual_main .txt_wrap{ /*슬라이드 안에 들어있는 글자*/
        top: 35px;
        left: 26px;
    }
    .visual_wrap .visual_main .txt_wrap h3{
        margin: 0;
    }
    .visual_wrap .visual_main .txt_wrap p{
        display: none;
    }
    .visual_wrap .swiper .inner{
        left: 26px;
        bottom: 30px;
        gap: 2px;
    }
    .visual_wrap .swiper .inner .paging .swiper-pagination-bullet.swiper-pagination-bullet-active{
        /*선택된 동그라미*/
        width: 16px;
    }
    /*사이드*/
    .visual_wrap .visual_side{
        display: block;
        width: auto;
    }
    .visual_wrap .visual_side .near_side a,
    .visual_wrap .visual_side .navi_side a{
        padding: 13px 0px 0px 26px;
        border-radius: 10px;
    }
    .visual_wrap .visual_side .near_side{
        margin: 8px 0 ;
    }
    .visual_wrap .visual_side .near_side a p,
    .visual_wrap .visual_side .navi_side a p{
        font-size: 14px;
        margin: 0 0 25px 0;
    }
    .visual_wrap .visual_side .near_side a div h3,
    .visual_wrap .visual_side .navi_side a div h3{
        padding: 0 0 20px 0;
    }
    .visual_wrap .visual_side .near_side a div h3 br{
        display: none;
    }
    .visual_wrap .visual_side .near_side a div .more,
    .visual_wrap .visual_side .navi_side a div .more{
        top: -3px;
        right: 23px;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1393' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1393)'%3E%3Cpath d='M5.86665 16.5007L4.58331 15.2173L13.3833 6.41732H5.49998V4.58398H16.5V15.584H14.6666V7.70065L5.86665 16.5007Z' fill='%23033056'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

} /*@media visual :: 768 모바일*/



/* ############ visit 시작 ##############*/

.visit{
    margin: 128px 0 0 0;
}

.visit .tit h2{
    display: block;
    color: var(--tit-font-color);
    font-size: var(--tit-size);
    line-height: var(--tit-line-height);
    font-weight: var(--Extra-bold-weight);
    padding: 0 0 0 95px;
    position: relative; /*앞 3d 아이콘 정렬 기준*/
}
.visit .tit h2::before{
    content: "";
    position: absolute;
    background: url(../images/main/visit_icon.png) no-repeat center center / contain;
    width: 81px;
    height: 73px;
    top: -17px;
    left: 0;
}
.visit .tit .visit_tag{
    margin: 40px 0 0 0;
    display: flex;
    gap: 10px;
}
.visit .tit .visit_tag div p{
    padding: 9px 24px 10px 25px;
    background-color: var(--bg-main-color);
    border-radius: 40px;
    font-family: var(--sub-fontfamily);
}
.visit .list{
    margin: 30px 0 0 0;
    width: calc(50% + 630px);
    left: calc(50% - 630px);
    position: relative;
}

.visit .list ul li{
    width: 321px;
    /* margin-left: 10px; 그림자 때문에*/ 
}
.visit .list ul li a{
    display: block;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 7px 10px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid #ededed;
    margin: 0 0 30px 0; /*그림자 때문에 여백 넣어주기*/
}
.visit .list ul li a .photo{
    overflow: hidden;
    height: 250px;
    border-radius: 20px 20px 0 0;
}
.visit .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /*오버이벤트용*/
}
.visit .list ul li a .txt {
    padding: 34px 24px 40px 27px;
}
.visit .list ul li a .txt h3{
    display: inline-block;
    font-size: var(--header-font-size);
    font-weight: var(--Extra-bold-weight);
    color: var(--point-color);
    line-height: var(--tit-line-height);
    margin: 0 0 25px 0;
    white-space: nowrap;
}
.visit .list ul li a .txt p{
    font-family: var(--sub-fontfamily);
    overflow: hidden; /*꼭 넣어주기*/
    /*3줄 제한*/
    height: 4.5em; /*행간 * 줄 수 */
    -webkit-line-clamp: 3; /*줄 수*/

    /*...생성*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.visit .ctrl_wrap .wrapper{
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}
.visit .ctrl_wrap .btn_prev{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--point-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1079' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='15' y='15' width='15' height='15' transform='rotate(180 15 15)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1079)'%3E%3Cpath d='M9.98437 1.25L11.0937 2.35938L5.95312 7.5L11.0937 12.6406L9.98438 13.75L3.73437 7.5L9.98437 1.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visit .ctrl_wrap .btn_next{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--point-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1075' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1075)'%3E%3Cpath d='M5.01562 13.75L3.90625 12.6406L9.04688 7.5L3.90625 2.35938L5.01562 1.25L11.2656 7.5L5.01562 13.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/***마우스 오버 이벤트*/

.visit .list ul li a:hover .photo img{
    transform: scale3d(1.1, 1.1, 1);
}

.visit .list ul li a:hover .txt h3{
    position: relative;
}
.visit .list ul li a:hover .txt h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--point-color);
    bottom: -2px;
    left: 0;
}

@media screen and (max-width:1300px){
    .visit .list{
        width: calc(100% - 20px);
        left: 20px;
    }
} /*@media 모바일 사이즈 줄어들면 여백 만들어주기*/

@media screen and (max-width:1024px){
    .visit{
        margin: 100px 0 0 0;
    }
    .visit .tit h2{
        padding: 0 0 0 80px;
    }
    .visit .tit h2::before{
        width: 73px;
        height: 65px;
        top: -13px;
    }
    .visit .tit .visit_tag{
        margin: 25px 0 0 0;
        gap: 8px;
    }
    .visit .tit .visit_tag div p{
        padding: 7px 22px 8px 20px;
    }
    .visit .list ul li{
        width: 300px;
    }
    .visit .list ul li a .photo{
        height: 240px;
    }
    .visit .list ul li a .txt {
        padding: 30px 20px 36px 23px;
    }
    .visit .list ul li a .txt h3{
        margin: 0 0 20px 0;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .visit .ctrl_wrap .wrapper{
        gap: 10px;
    }
}/*@media visit :: 1024 모바일*/


@media screen and (max-width:768px){
    .visit{
        margin: 67x 0 0 0;
    }
    
    .visit .tit h2{
        padding: 0 0 0 55px;
    }
    .visit .tit h2::before{
        width: 46px;
        height: 41px;
        top: -11px;
    }
    .visit .tit .visit_tag{
        display: none;
    }
    .visit .list{
        margin: 22px 0 0 0;
        width: auto;
        left: 20px;
        position: relative;
    }
    .visit .list ul li{
        width: 264px;
        /* margin-left: 10px; 그림자 때문에*/ 
    }
    .visit .list ul li a{
        box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.15);
        margin: 0 0 20px 0; /*그림자 때문에 여백 넣어주기*/
    }
    .visit .list ul li a .photo{
        height: 176px;
    }
    .visit .list ul li a .txt {
        padding: 19px 23px 31px 22px;
    }
    .visit .list ul li a .txt h3{
        margin: 0 0 9px 0;
    }
    .visit .list ul li a .txt p{
        /*2줄 제한*/
        height: 3em; /*행간 * 줄 수 */
        -webkit-line-clamp: 2; /*줄 수*/
    }
    .visit .ctrl_wrap{
        display: none;
    }
}/*@media visit :: 768 모바일*/



/* ############ rolling 시작 ##############*/
.rolling{
    position: relative;
    padding: 110px 0;
}
.rolling .rolling_wrap{
    width: 100%;
    display: flex;
    gap: 17px;
    white-space: nowrap;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0; 

    animation-name: rolling; /*애니메이션*/
    animation-duration: 13s;
    animation-iteration-count: infinite; /*반복*/
    animation-timing-function: linear; /*가속도 X*/

}

@keyframes rolling{
    0% {left: 0;}
    100% {left: -2767px;}
}

.rolling  .heart{
    display: flex;
    padding: 20px 34px 20px 40px;
    background: linear-gradient(90deg, #57EEFF, #2F8EE0 74%);
    border-radius: 60px;
    align-items: center;
    gap: 24px;
}
.rolling  .heart p{
    font-size: var(--sub-tit-size);
    font-weight: var(--Extra-bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
}
.rolling  .heart .heart_icon{
    display: flex;
    gap: 11px;
}
.rolling .heart .heart_icon .red_heart{
    width: 57px;
    height: 57px;
    background-color: #FF3C5D;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1166' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1166)'%3E%3Cpath d='M15 26.25L13.1875 24.625C11.0833 22.7292 9.34375 21.0938 7.96875 19.7188C6.59375 18.3438 5.5 17.1094 4.6875 16.0156C3.875 14.9219 3.30729 13.9167 2.98438 13C2.66146 12.0833 2.5 11.1458 2.5 10.1875C2.5 8.22917 3.15625 6.59375 4.46875 5.28125C5.78125 3.96875 7.41667 3.3125 9.375 3.3125C10.4583 3.3125 11.4896 3.54167 12.4688 4C13.4479 4.45833 14.2917 5.10417 15 5.9375C15.7083 5.10417 16.5521 4.45833 17.5313 4C18.5104 3.54167 19.5417 3.3125 20.625 3.3125C22.5833 3.3125 24.2188 3.96875 25.5313 5.28125C26.8438 6.59375 27.5 8.22917 27.5 10.1875C27.5 11.1458 27.3385 12.0833 27.0156 13C26.6927 13.9167 26.125 14.9219 25.3125 16.0156C24.5 17.1094 23.4062 18.3438 22.0312 19.7188C20.6562 21.0938 18.9167 22.7292 16.8125 24.625L15 26.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.rolling .heart .heart_icon .post{
    width: 57px;    
    height: 57px;
    background-color: #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1170' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect width='31' height='31' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1170)'%3E%3Cpath d='M5.16671 21.959C4.45629 21.959 3.84813 21.706 3.34223 21.2001C2.83633 20.6942 2.58337 20.0861 2.58337 19.3757V9.23607C2.58337 8.91315 2.67487 8.59562 2.85785 8.28346C3.04084 7.97131 3.29379 7.72912 3.61671 7.5569L13.5625 2.58398L23.3146 7.5569C23.573 7.68607 23.7936 7.89058 23.9766 8.17044C24.1596 8.4503 24.2834 8.74093 24.348 9.04232H20.5698L13.5625 5.49023L5.16671 9.65586V21.959ZM9.04171 27.1257C8.33129 27.1257 7.72313 26.8727 7.21723 26.3668C6.71133 25.8609 6.45837 25.2527 6.45837 24.5423V12.9173C6.45837 12.2069 6.71133 11.5987 7.21723 11.0928C7.72313 10.5869 8.33129 10.334 9.04171 10.334H25.8334C26.5438 10.334 27.152 10.5869 27.6579 11.0928C28.1638 11.5987 28.4167 12.2069 28.4167 12.9173V24.5423C28.4167 25.2527 28.1638 25.8609 27.6579 26.3668C27.152 26.8727 26.5438 27.1257 25.8334 27.1257H9.04171ZM17.4375 19.8277L25.8334 15.5007V12.9173L17.4375 17.2444L9.04171 12.9173V15.5007L17.4375 19.8277Z' fill='%23101010'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.rolling .letter .letter_icon{
    width: 97px;
    height: 97px;
    background-color: var(--main-font-color);
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/main/rolling03.jpg);
}
.rolling .current {
    padding: 35px 47px 32px 47px;
    background: linear-gradient(90deg, #2F8EE0, #0004DA 74%);
    border-radius: 60px;
}
.rolling  .current p,
.rolling  .village p,
.rolling  .check p,
.rolling  .partner p{
    font-size: var(--sub-tit-size);
    font-weight: var(--Extra-bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}
.rolling  .village{
    padding: 35px 57px 32px 57px;
    background-color: #FF6D00;
    border-radius: 60px;
}
.rolling  .check{
    padding: 35px 52px 32px 52px;
    background: linear-gradient(90deg, #0004DA, #8C32DB 50%);
    border-radius: 60px;
}
.rolling .paper .paper_icon{
    width: 97px;
    height: 97px;
    background-color: #FF59C8;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/main/rolling04.jpg);
}
.rolling  .partner{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 20px 34px 20px 40px;
    background: linear-gradient(90deg, #3DBD6E, #30E0F4 50%);
    border-radius: 60px;
}
.rolling  .partner .partner_icon{
    width: 57px;    
    height: 57px;
    background-color: #974EEF;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_1332' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_1332)'%3E%3Cpath d='M15.5 27.5L18.2188 25C20.4479 22.9167 21.9271 21.3281 22.6562 20.2344C23.3854 19.1406 23.75 17.9688 23.75 16.7188C23.75 16.1771 23.6771 15.6667 23.5312 15.1875C23.3854 14.7083 23.1667 14.2292 22.875 13.75H25C25.6875 13.75 26.276 13.9948 26.7656 14.4844C27.2552 14.974 27.5 15.5625 27.5 16.25V27.5H15.5ZM2.5 27.5V16.25C2.5 15.5625 2.73958 14.974 3.21875 14.4844C3.69792 13.9948 4.29167 13.75 5 13.75H7.09375C6.82292 14.1875 6.61458 14.6615 6.46875 15.1719C6.32292 15.6823 6.25 16.1979 6.25 16.7188C6.25 17.9688 6.59896 19.1406 7.29688 20.2344C7.99479 21.3281 9.47917 22.9167 11.75 25L14.5 27.5H2.5ZM23.75 12.5C22.6875 12.5 21.7969 12.1406 21.0781 11.4219C20.3594 10.7031 20 9.8125 20 8.75C20 7.70833 20.3594 6.82292 21.0781 6.09375C21.7969 5.36458 22.6875 5 23.75 5C24.7917 5 25.6771 5.36458 26.4062 6.09375C27.1354 6.82292 27.5 7.70833 27.5 8.75C27.5 9.8125 27.1354 10.7031 26.4062 11.4219C25.6771 12.1406 24.7917 12.5 23.75 12.5ZM15 11.25C13.7708 11.25 12.7344 10.8281 11.8906 9.98438C11.0469 9.14062 10.625 8.10417 10.625 6.875C10.625 5.66667 11.0469 4.63542 11.8906 3.78125C12.7344 2.92708 13.7708 2.5 15 2.5C16.2083 2.5 17.2396 2.92708 18.0938 3.78125C18.9479 4.63542 19.375 5.66667 19.375 6.875C19.375 8.10417 18.9479 9.14062 18.0938 9.98438C17.2396 10.8281 16.2083 11.25 15 11.25ZM8.75 16.7188C8.75 17.5729 9.16667 18.5312 10 19.5938C10.8333 20.6562 12.4896 22.3125 14.9688 24.5625C17.4271 22.3542 19.0885 20.7135 19.9531 19.6406C20.8177 18.5677 21.25 17.5938 21.25 16.7188C21.25 15.8854 20.9688 15.1823 20.4062 14.6094C19.8438 14.0365 19.1667 13.75 18.375 13.75C17.8958 13.75 17.4479 13.8646 17.0312 14.0938C16.6146 14.3229 16.25 14.6042 15.9375 14.9375L14.9688 15.9375L14.0312 14.9688C13.7396 14.6562 13.4062 14.375 13.0312 14.125C12.6562 13.875 12.1875 13.75 11.625 13.75C10.7708 13.75 10.0781 14.0365 9.54688 14.6094C9.01563 15.1823 8.75 15.8854 8.75 16.7188ZM6.25 12.5C5.1875 12.5 4.29688 12.1406 3.57812 11.4219C2.85938 10.7031 2.5 9.8125 2.5 8.75C2.5 7.70833 2.85938 6.82292 3.57812 6.09375C4.29688 5.36458 5.1875 5 6.25 5C7.29167 5 8.17708 5.36458 8.90625 6.09375C9.63542 6.82292 10 7.70833 10 8.75C10 9.8125 9.63542 10.7031 8.90625 11.4219C8.17708 12.1406 7.29167 12.5 6.25 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}


.news{
    margin: 150px 0 0 0;
}




