/* header , footer 같이 모든 페이지 공통사항 저장 */


header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: top 0.5s; /*헤더 바가 스크롤 하면서 부드럽게 바뀔 때 */
}

header .logo a{
    display: block;
    width: 6.58em;
    height: 2.23em;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .util{
    display: flex;
    gap: 0.35em;
}
header .util .search .search_open{
    display: block;
    width: 2.35em;
    height: 2.35em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_46' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_46)'%3E%3Cpath d='M21.1707 22.2918L14.3666 15.4873C13.8249 15.9346 13.202 16.2846 12.4978 16.5374C11.7937 16.7901 11.0652 16.9165 10.3125 16.9165C8.46088 16.9165 6.89384 16.2755 5.61135 14.9933C4.32887 13.7112 3.68762 12.1445 3.68762 10.2933C3.68762 8.44224 4.32868 6.87502 5.61081 5.59163C6.89293 4.30842 8.45962 3.66681 10.3109 3.66681C12.1619 3.66681 13.7291 4.30806 15.0125 5.59054C16.2957 6.87303 16.9373 8.44007 16.9373 10.2917C16.9373 11.0653 16.8075 11.8043 16.5479 12.5084C16.2881 13.2126 15.9415 13.8251 15.5081 14.3458L22.3123 21.1499L21.1707 22.2918ZM10.3125 15.2918C11.7084 15.2918 12.8906 14.8074 13.8593 13.8385C14.8282 12.8698 15.3126 11.6875 15.3126 10.2917C15.3126 8.89579 14.8282 7.71351 13.8593 6.74483C12.8906 5.77597 11.7084 5.29154 10.3125 5.29154C8.9166 5.29154 7.73432 5.77597 6.76564 6.74483C5.79678 7.71351 5.31235 8.89579 5.31235 10.2917C5.31235 11.6875 5.79678 12.8698 6.76564 13.8385C7.73432 14.8074 8.9166 15.2918 10.3125 15.2918Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .bag .bag_open{
    display: block;
    width: 2.35em;
    height: 2.35em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_59' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_59)'%3E%3Cpath d='M5.75002 23.2917C5.2098 23.2917 4.7483 23.1004 4.36552 22.7178C3.98292 22.335 3.79163 21.8735 3.79163 21.3333V9.00006C3.79163 8.45984 3.98292 7.99834 4.36552 7.61556C4.7483 7.23296 5.2098 7.04167 5.75002 7.04167H8.12496C8.12496 5.68894 8.59928 4.53826 9.54792 3.58962C10.4966 2.64098 11.6472 2.16667 13 2.16667C14.3527 2.16667 15.5034 2.64098 16.452 3.58962C17.4006 4.53826 17.875 5.68894 17.875 7.04167H20.2499C20.7901 7.04167 21.2516 7.23296 21.6344 7.61556C22.017 7.99834 22.2083 8.45984 22.2083 9.00006V21.3333C22.2083 21.8735 22.017 22.335 21.6344 22.7178C21.2516 23.1004 20.7901 23.2917 20.2499 23.2917H5.75002ZM5.75002 21.6667H20.2499C20.3333 21.6667 20.4097 21.6319 20.479 21.5624C20.5485 21.4931 20.5833 21.4167 20.5833 21.3333V9.00006C20.5833 8.91665 20.5485 8.84027 20.479 8.77094C20.4097 8.70142 20.3333 8.66667 20.2499 8.66667H5.75002C5.6666 8.66667 5.59023 8.70142 5.5209 8.77094C5.45138 8.84027 5.41663 8.91665 5.41663 9.00006V21.3333C5.41663 21.4167 5.45138 21.4931 5.5209 21.5624C5.59023 21.6319 5.6666 21.6667 5.75002 21.6667ZM13 14.625C14.3527 14.625 15.5034 14.1507 16.452 13.202C17.4006 12.2534 17.875 11.1027 17.875 9.75H16.25C16.25 10.6528 15.934 11.4201 15.302 12.0521C14.6701 12.684 13.9027 13 13 13C12.0972 13 11.3298 12.684 10.6979 12.0521C10.0659 11.4201 9.74996 10.6528 9.74996 9.75H8.12496C8.12496 11.1027 8.59928 12.2534 9.54792 13.202C10.4966 14.1507 11.6472 14.625 13 14.625ZM9.74996 7.04167H16.25C16.25 6.13889 15.934 5.37153 15.302 4.73958C14.6701 4.10764 13.9027 3.79167 13 3.79167C12.0972 3.79167 11.3298 4.10764 10.6979 4.73958C10.0659 5.37153 9.74996 6.13889 9.74996 7.04167Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*******************  아래로 스크롤 내릴 때 header  사라짐 ***********************/
header.fixed.gnb_up{
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over{
    top: 0;
}

/*******************  header에 fixed클래스 추가  ***********************/
header.fixed{
    background-color: #fff;
    color: var( --tit-font-color);
    border-bottom: 1px solid #ccc;
}
header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after{
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.50006 5.91751L0.0241699 1.44163L0.858389 0.607407L4.50006 4.24907L8.14172 0.607407L8.97594 1.44163L4.50006 5.91751Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open{
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_76' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_76)'%3E%3Cpath d='M21.1708 22.2918L14.3667 15.4873C13.825 15.9346 13.2021 16.2846 12.498 16.5374C11.7938 16.7901 11.0653 16.9165 10.3126 16.9165C8.461 16.9165 6.89396 16.2755 5.61147 14.9933C4.32899 13.7112 3.68774 12.1445 3.68774 10.2933C3.68774 8.44224 4.32881 6.87502 5.61093 5.59163C6.89306 4.30842 8.45974 3.66681 10.311 3.66681C12.162 3.66681 13.7293 4.30806 15.0126 5.59054C16.2958 6.87303 16.9375 8.44007 16.9375 10.2917C16.9375 11.0653 16.8076 11.8043 16.548 12.5084C16.2882 13.2126 15.9416 13.8251 15.5083 14.3458L22.3124 21.1499L21.1708 22.2918ZM10.3126 15.2918C11.7085 15.2918 12.8908 14.8074 13.8594 13.8385C14.8283 12.8698 15.3127 11.6875 15.3127 10.2917C15.3127 8.89579 14.8283 7.71351 13.8594 6.74483C12.8908 5.77597 11.7085 5.29154 10.3126 5.29154C8.91672 5.29154 7.73445 5.77597 6.76576 6.74483C5.7969 7.71351 5.31247 8.89579 5.31247 10.2917C5.31247 11.6875 5.7969 12.8698 6.76576 13.8385C7.73445 14.8074 8.91672 15.2918 10.3126 15.2918Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .util .bag .bag_open{
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_73' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_73)'%3E%3Cpath d='M5.75014 23.2917C5.20992 23.2917 4.74842 23.1004 4.36564 22.7178C3.98305 22.335 3.79175 21.8735 3.79175 21.3333V9.00006C3.79175 8.45984 3.98305 7.99834 4.36564 7.61556C4.74842 7.23296 5.20992 7.04167 5.75014 7.04167H8.12508C8.12508 5.68894 8.5994 4.53826 9.54804 3.58962C10.4967 2.64098 11.6474 2.16667 13.0001 2.16667C14.3528 2.16667 15.5035 2.64098 16.4521 3.58962C17.4008 4.53826 17.8751 5.68894 17.8751 7.04167H20.25C20.7902 7.04167 21.2517 7.23296 21.6345 7.61556C22.0171 7.99834 22.2084 8.45984 22.2084 9.00006V21.3333C22.2084 21.8735 22.0171 22.335 21.6345 22.7178C21.2517 23.1004 20.7902 23.2917 20.25 23.2917H5.75014ZM5.75014 21.6667H20.25C20.3334 21.6667 20.4098 21.6319 20.4791 21.5624C20.5487 21.4931 20.5834 21.4167 20.5834 21.3333V9.00006C20.5834 8.91665 20.5487 8.84027 20.4791 8.77094C20.4098 8.70142 20.3334 8.66667 20.25 8.66667H5.75014C5.66673 8.66667 5.59035 8.70142 5.52102 8.77094C5.45151 8.84027 5.41675 8.91665 5.41675 9.00006V21.3333C5.41675 21.4167 5.45151 21.4931 5.52102 21.5624C5.59035 21.6319 5.66673 21.6667 5.75014 21.6667ZM13.0001 14.625C14.3528 14.625 15.5035 14.1507 16.4521 13.202C17.4008 12.2534 17.8751 11.1027 17.8751 9.75H16.2501C16.2501 10.6528 15.9341 11.4201 15.3022 12.0521C14.6702 12.684 13.9029 13 13.0001 13C12.0973 13 11.3299 12.684 10.698 12.0521C10.0661 11.4201 9.75008 10.6528 9.75008 9.75H8.12508C8.12508 11.1027 8.5994 12.2534 9.54804 13.202C10.4967 14.1507 11.6474 14.625 13.0001 14.625ZM9.75008 7.04167H16.2501C16.2501 6.13889 15.9341 5.37153 15.3022 4.73958C14.6702 4.10764 13.9029 3.79167 13.0001 3.79167C12.0973 3.79167 11.3299 4.10764 10.698 4.73958C10.0661 5.37153 9.75008 6.13889 9.75008 7.04167Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .logo a{
    background-image: url(../images/common/logo.svg);
}

/*******************  header에 fixed클래스 끝!! ***********************/

@media screen and (min-width:1025px) {
            header .gnb .gnb_open,
            header .gnb .gnb_close{
                display: none;
            }
            header .gnb .gnb_wrap ul.depth1{
                display: flex;
            }
            header .gnb .gnb_wrap ul.depth1 > li{ /*1차메뉴*/
                position: relative;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                font-size: 1.17rem; /*20px*/
                line-height: var(--header-h);
                padding: 1.3em;
            }
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span{
                display: block;
                padding-right: 0.9em;
                position: relative;
            }
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after{
                content: "";
                position: absolute;
                width: 0.45em;
                height: 0.3em;
                right: -0.15em; 
                top: 1.85em; 
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.49999 5.91753L0.0241089 1.44164L0.858328 0.607422L4.49999 4.24909L8.14166 0.607422L8.97588 1.44164L4.49999 5.91753Z' fill='white'/%3E%3C/svg%3E%0A");
            }

            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                display: none;
                position: absolute;
                left: 1.52em; /*26*/
                top: 5em; /*85*/
                background-color: rgba(255, 255, 255, 0.5);
                border: 1px solid #ccc;
                color: var(--base-font-color);
                /*투명박스*/
                border-radius: 10px;
                box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(10px);
                padding: 0.76em 1.47em 1.58em 1.17em; /*14px 25px 27px 20px*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                white-space: nowrap;
                line-height: 1.7;
                padding: 0 0.76em;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span{
                position: relative; /*밑줄 기준*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                font-weight: var(--bold-weight);
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 1px;
                background-color: var(--base-font-color);
            }
            /***************메뉴에 마우스를 over 스타일 추가 했을 때********************/
            header .gnb .gnb_wrap ul.depth1 > li.over > a {
                font-weight: var(--bold-weight);
            }
            header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after{
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.49994 0.0824971L8.97583 4.55838L8.14161 5.3926L4.49994 1.75093L0.858278 5.3926L0.0240583 4.55838L4.49994 0.0824971Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2{ /*2차메뉴*/
                display: block;
            }

}


@media screen and (max-width:768px) {
            header{
                position: fixed;
                left: 0;
                top: 0;
                z-index: 100;
                width: 100%;
                height: 56px;
                padding: 0 20px;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;

                transition: top 0.5s; /*헤더 바가 스크롤 하면서 부드럽게 바뀔 때 */
            }

            header .logo a{
                display: block;
                width: 6.58em;
                height: 2.23em;
                background: url(../images/common/logo_w.svg) no-repeat center center / contain;
            }
            header .util{
                display: flex;
                gap: 0.35em;
            }
            header .util .search .search_open{
                display: block;
                width: 2.35em;
                height: 2.35em;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_46' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_46)'%3E%3Cpath d='M21.1707 22.2918L14.3666 15.4873C13.8249 15.9346 13.202 16.2846 12.4978 16.5374C11.7937 16.7901 11.0652 16.9165 10.3125 16.9165C8.46088 16.9165 6.89384 16.2755 5.61135 14.9933C4.32887 13.7112 3.68762 12.1445 3.68762 10.2933C3.68762 8.44224 4.32868 6.87502 5.61081 5.59163C6.89293 4.30842 8.45962 3.66681 10.3109 3.66681C12.1619 3.66681 13.7291 4.30806 15.0125 5.59054C16.2957 6.87303 16.9373 8.44007 16.9373 10.2917C16.9373 11.0653 16.8075 11.8043 16.5479 12.5084C16.2881 13.2126 15.9415 13.8251 15.5081 14.3458L22.3123 21.1499L21.1707 22.2918ZM10.3125 15.2918C11.7084 15.2918 12.8906 14.8074 13.8593 13.8385C14.8282 12.8698 15.3126 11.6875 15.3126 10.2917C15.3126 8.89579 14.8282 7.71351 13.8593 6.74483C12.8906 5.77597 11.7084 5.29154 10.3125 5.29154C8.9166 5.29154 7.73432 5.77597 6.76564 6.74483C5.79678 7.71351 5.31235 8.89579 5.31235 10.2917C5.31235 11.6875 5.79678 12.8698 6.76564 13.8385C7.73432 14.8074 8.9166 15.2918 10.3125 15.2918Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .util .bag .bag_open{
                display: block;
                width: 2.35em;
                height: 2.35em;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_59' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_59)'%3E%3Cpath d='M5.75002 23.2917C5.2098 23.2917 4.7483 23.1004 4.36552 22.7178C3.98292 22.335 3.79163 21.8735 3.79163 21.3333V9.00006C3.79163 8.45984 3.98292 7.99834 4.36552 7.61556C4.7483 7.23296 5.2098 7.04167 5.75002 7.04167H8.12496C8.12496 5.68894 8.59928 4.53826 9.54792 3.58962C10.4966 2.64098 11.6472 2.16667 13 2.16667C14.3527 2.16667 15.5034 2.64098 16.452 3.58962C17.4006 4.53826 17.875 5.68894 17.875 7.04167H20.2499C20.7901 7.04167 21.2516 7.23296 21.6344 7.61556C22.017 7.99834 22.2083 8.45984 22.2083 9.00006V21.3333C22.2083 21.8735 22.017 22.335 21.6344 22.7178C21.2516 23.1004 20.7901 23.2917 20.2499 23.2917H5.75002ZM5.75002 21.6667H20.2499C20.3333 21.6667 20.4097 21.6319 20.479 21.5624C20.5485 21.4931 20.5833 21.4167 20.5833 21.3333V9.00006C20.5833 8.91665 20.5485 8.84027 20.479 8.77094C20.4097 8.70142 20.3333 8.66667 20.2499 8.66667H5.75002C5.6666 8.66667 5.59023 8.70142 5.5209 8.77094C5.45138 8.84027 5.41663 8.91665 5.41663 9.00006V21.3333C5.41663 21.4167 5.45138 21.4931 5.5209 21.5624C5.59023 21.6319 5.6666 21.6667 5.75002 21.6667ZM13 14.625C14.3527 14.625 15.5034 14.1507 16.452 13.202C17.4006 12.2534 17.875 11.1027 17.875 9.75H16.25C16.25 10.6528 15.934 11.4201 15.302 12.0521C14.6701 12.684 13.9027 13 13 13C12.0972 13 11.3298 12.684 10.6979 12.0521C10.0659 11.4201 9.74996 10.6528 9.74996 9.75H8.12496C8.12496 11.1027 8.59928 12.2534 9.54792 13.202C10.4966 14.1507 11.6472 14.625 13 14.625ZM9.74996 7.04167H16.25C16.25 6.13889 15.934 5.37153 15.302 4.73958C14.6701 4.10764 13.9027 3.79167 13 3.79167C12.0972 3.79167 11.3298 4.10764 10.6979 4.73958C10.0659 5.37153 9.74996 6.13889 9.74996 7.04167Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }

            /*******************  아래로 스크롤 내릴 때 header  사라짐 ***********************/
            header.fixed.gnb_up{
                top: var(--header-h-m);
            }
            header.fixed.gnb_up.menu_over{
                top: 0;
            }

            /*******************  header에 fixed클래스 추가  ***********************/
            header.fixed{
                background-color: #fff;
                color: var( --tit-font-color);
                border-bottom: 1px solid #ccc;
            }
            header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after{
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.50006 5.91751L0.0241699 1.44163L0.858389 0.607407L4.50006 4.24907L8.14172 0.607407L8.97594 1.44163L4.50006 5.91751Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
            }
            header.fixed .util .search .search_open{
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_76' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_76)'%3E%3Cpath d='M21.1708 22.2918L14.3667 15.4873C13.825 15.9346 13.2021 16.2846 12.498 16.5374C11.7938 16.7901 11.0653 16.9165 10.3126 16.9165C8.461 16.9165 6.89396 16.2755 5.61147 14.9933C4.32899 13.7112 3.68774 12.1445 3.68774 10.2933C3.68774 8.44224 4.32881 6.87502 5.61093 5.59163C6.89306 4.30842 8.45974 3.66681 10.311 3.66681C12.162 3.66681 13.7293 4.30806 15.0126 5.59054C16.2958 6.87303 16.9375 8.44007 16.9375 10.2917C16.9375 11.0653 16.8076 11.8043 16.548 12.5084C16.2882 13.2126 15.9416 13.8251 15.5083 14.3458L22.3124 21.1499L21.1708 22.2918ZM10.3126 15.2918C11.7085 15.2918 12.8908 14.8074 13.8594 13.8385C14.8283 12.8698 15.3127 11.6875 15.3127 10.2917C15.3127 8.89579 14.8283 7.71351 13.8594 6.74483C12.8908 5.77597 11.7085 5.29154 10.3126 5.29154C8.91672 5.29154 7.73445 5.77597 6.76576 6.74483C5.7969 7.71351 5.31247 8.89579 5.31247 10.2917C5.31247 11.6875 5.7969 12.8698 6.76576 13.8385C7.73445 14.8074 8.91672 15.2918 10.3126 15.2918Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header.fixed .util .bag .bag_open{
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_73' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_73)'%3E%3Cpath d='M5.75014 23.2917C5.20992 23.2917 4.74842 23.1004 4.36564 22.7178C3.98305 22.335 3.79175 21.8735 3.79175 21.3333V9.00006C3.79175 8.45984 3.98305 7.99834 4.36564 7.61556C4.74842 7.23296 5.20992 7.04167 5.75014 7.04167H8.12508C8.12508 5.68894 8.5994 4.53826 9.54804 3.58962C10.4967 2.64098 11.6474 2.16667 13.0001 2.16667C14.3528 2.16667 15.5035 2.64098 16.4521 3.58962C17.4008 4.53826 17.8751 5.68894 17.8751 7.04167H20.25C20.7902 7.04167 21.2517 7.23296 21.6345 7.61556C22.0171 7.99834 22.2084 8.45984 22.2084 9.00006V21.3333C22.2084 21.8735 22.0171 22.335 21.6345 22.7178C21.2517 23.1004 20.7902 23.2917 20.25 23.2917H5.75014ZM5.75014 21.6667H20.25C20.3334 21.6667 20.4098 21.6319 20.4791 21.5624C20.5487 21.4931 20.5834 21.4167 20.5834 21.3333V9.00006C20.5834 8.91665 20.5487 8.84027 20.4791 8.77094C20.4098 8.70142 20.3334 8.66667 20.25 8.66667H5.75014C5.66673 8.66667 5.59035 8.70142 5.52102 8.77094C5.45151 8.84027 5.41675 8.91665 5.41675 9.00006V21.3333C5.41675 21.4167 5.45151 21.4931 5.52102 21.5624C5.59035 21.6319 5.66673 21.6667 5.75014 21.6667ZM13.0001 14.625C14.3528 14.625 15.5035 14.1507 16.4521 13.202C17.4008 12.2534 17.8751 11.1027 17.8751 9.75H16.2501C16.2501 10.6528 15.9341 11.4201 15.3022 12.0521C14.6702 12.684 13.9029 13 13.0001 13C12.0973 13 11.3299 12.684 10.698 12.0521C10.0661 11.4201 9.75008 10.6528 9.75008 9.75H8.12508C8.12508 11.1027 8.5994 12.2534 9.54804 13.202C10.4967 14.1507 11.6474 14.625 13.0001 14.625ZM9.75008 7.04167H16.2501C16.2501 6.13889 15.9341 5.37153 15.3022 4.73958C14.6702 4.10764 13.9029 3.79167 13.0001 3.79167C12.0973 3.79167 11.3299 4.10764 10.698 4.73958C10.0661 5.37153 9.75008 6.13889 9.75008 7.04167Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header.fixed .logo a{
                background-image: url(../images/common/logo.svg);
            }
} /*@media header 모바일 */






footer{
    margin: 500px 0 0 0;
}

