/* header , footer 같이 모든 페이지 공통사항 저장 */

header{
    position: fixed; /*body 기준 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    padding: 0 20px; /*좌우 여백*/
    display: flex; /* logo, gnb, util*/
    color: #fff;
    justify-content: space-between;
    align-items: center;

    transition: top 0.5s; /*헤더 바가 스크롤 하면서 부드럽게 바뀔 때*/
}
