@import url(default.css);
@import url(font.css);
@import url(common.css);


header{
    display: flex;
    justify-content: space-between; /*logo, inner를 header 넓이 안에서 좌우 끝으로 배치*/
    height: 100px;
    padding: 0 30px;
}
header .logo{
    margin: 32px 0 0 0;
}
header .inner{
    display: flex;
    align-items: center;
    gap: 55px;
}
header .inner .gnb ul{
    display: flex;
}
header .inner .gnb ul li a{
    display: block; 
    font-size: 20px;
    font-weight: 800;
    line-height: 100px;
    /*header의 높이랑 1차메뉴의 a의 높이는 같아야 함 a에 행간을 header의 높이값으로 줌
    a의 높이가 생기고 글자는 위아래 가운데 정렬됨*/
    padding: 0 23px;
}
header .inner .shop{
    font-weight: 800;
    color: #317039;
    border: 1px solid #317039;
    padding: 4px 33px ;
    border-radius: 20px;
}

.visual{
    background: url(../images/visual_bg2.jpg) no-repeat center center / cover;
    height: 700px;
    margin: 0 30px;
    text-align: right;
    color: #fff;
    border-radius: 20px;

}
.visual h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.03em;
    padding: 287px 0 34px 0;
}
.product{
    margin: 192px 0 0 0;
}
.product .tit h2{
    color: #317039;
    margin: 0 0 7px 0;
}
.product .tit p{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #1d1d1d;
}
.product .list{
    margin: 39px 0 0 0;
}
.product .list ul{
    display: flex;
    justify-content: space-between;
}
.product .list ul li{
    width: 404px;
}
.product .list ul li a{
    display: block;
}
.product .list ul li a .photo{
    font-size: 0;
    line-height: 0;
    /* 이미지 하단의 여백을 삭제하기 위해서
    img태그에 직접 주면 적용 X
    img태그만 감싸는 요소에 줘야함 */
}
.product .list ul li a h3{
    margin: 16px 0 0 0;
    /*1줄로 제안 - 글자 양이 많아지면 자르는 것*/
    white-space: nowrap; /*한줄로 표시*/
    overflow: hidden; /*넘치면 숨기기 - 글자가 잘림*/
    text-overflow: ellipsis; /* 잘리는 부분에 ...표시*/
}

.network{
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    margin: 150px 0 0 0;
    height: 700px;
    text-align: left;
    color: rgba(255, 255, 255, .8)
}
.network h2{
    color: #0695C1;
    padding: 190px 0 0 0;
}
.network .sub_tit{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.03em;
    margin: 7px 0 34px 0;
    color: #fff;
}
.network a{
    font-size: 15px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 17px;
    margin: 42px 0 0 0;
}

.community{
    margin: 192px 0 0 0;
}
.community .tit h2{
    color: #317039;
    margin: 0 0 7px 0;
}
.community .tit p{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #1d1d1d;
}



.community .list{
    margin: 35px 0 0 0;
    display: flex; /*그룹 좌우 배치*/
    justify-content: space-between; /*양쪽 끝에 배치*/
}
.community .list .group{
    width: calc(50% - 6px);
    /* 
        몇 개로 분할 : 2개 = 100/2 = 50%
        사이 여백의 총합 / 분할하는 개수로 나눔 = 12 / 2 = 6px
    */
}
.community .list .group ul{
    display: flex;
    flex-wrap: wrap; /*li가 2줄로 나타나는 걸 허락*/
    gap: 12px;
}


/*  1. li의 사이즈와 a의 사이즈가 동일해야 할때
    2. height를 꼭 줘야 하는 디자인일 때 (위에 product는 높이가 필요없는 디자인)
    -- li에는 넓이를 주고 a에는 높이를 줌 
*/

.community .list .group ul li a{
    padding: 0 40px 36px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.community .list .group ul li.color,
.community .list .group ul li.gray{
    width: calc(50% - 6px);
}
.community .list .group ul li.color a,
.community .list .group ul li.gray a{
    height: 240px;
}

.community .list .group ul li.riview{
    width: 100%; /*나를 감싸는 ul넓이의 100%가 적용됨 */
}
.community .list .group ul li.riview a{
    height: 324px;
    color: #fff;
}

.community .list .group ul li.gray a{
    background-color: #F4F4F4;
}
.community .list .group ul li.color.bg1 a{
    background-color: #317039;
    color: #fff;
}
.community .list .group ul li.color.bg2 a{
    background-color: #0695C1;
    color: #fff;
}
.community .list .group ul li.riview.bg1 a{
    background: url(../images/community_bg1.jpg) no-repeat center center / cover;
}
.community .list .group ul li.riview.bg2 a{
    background: url(../images/community_bg2.jpg) no-repeat center center / cover;
}

.community .list .group ul li a h3{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.03em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0 32px 0;
}
.community .list .group ul li a .date{
    display: flex;
    gap: 43px;
}
.community .list .group ul li.color a .date,
.community .list .group ul li.riview a .date{
    color: rgba(255,255,255,0.8);
}
.community .list .group ul li.gray a .date{
    color: rgba(61,61,61,0.8)
}


footer{
    margin: 162px 0 0 0;
    background-color: #1d1d1d;
    padding: 62px 0 123px 0;
    color: rgba(255,255,255,0.8);
}
footer .f_nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0 0 18px 0;
}

footer .f_nav ul{
    display: flex;
    gap: 43px;
}
footer .f_info{
    padding: 80px 0 22px 0;
}
footer .f_info .group{
    display: flex;
    gap: 30px;
    margin: 0 0 5px 0;
}
footer .copy{
    color: rgba(255,255,255,0.6);
}





