@import url(default.css);
@import url(font.css);
@import url(common.css);


.tit_font{  /*중복되는 것들만 넣어주기*/
    font-family: "Eulyoo1945";
    font-weight: 600;
    line-height: 1.2;
}


header{
    position: absolute; /*wrap을 기준으로 정렬*/
    left: 0;
    top: 0;
    color: #fff;
    z-index: 100;
    width: 100%; /*wrap을 기준으로 100%*/
    height: 90px;
    display: flex; /*logo, gnb, tnb 좌우 배치*/
    justify-content: space-between; /*좌우 양쪽 끝*/
    padding: 0 20px; /*logo, tnb 좌우 여백 padding으로 주기*/
    align-items: center;/*위아래 가운데*/
}
header .logo a{
    display: block;
    font-size: 0; /*이미지 히단에 존재하는 행간 삭제*/
    line-height: 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none;
}
header .gnb .gnb_wrap ul{
    display: flex;
}
header .gnb .gnb_wrap ul li a{
    display: block;
    font-size: 20px;
    padding: 0 23px;
    line-height: 90px; /*header의 높이와 같은 값을 행간으로!*/
}
header .tnb{
    display: flex; /*마이페이지 검색 정렬*/
    gap: 2px;
}
header .tnb .mypage{
    width: 40px;
    height: 40px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_170' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='35'%3E%3Crect width='35' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_170)'%3E%3Cpath d='M17.5 17.0511C16.0964 17.0511 14.8948 16.5514 13.8954 15.5519C12.8957 14.5523 12.3958 13.3506 12.3958 11.9469C12.3958 10.5433 12.8957 9.34175 13.8954 8.3423C14.8948 7.34262 16.0964 6.84277 17.5 6.84277C18.9036 6.84277 20.1052 7.34262 21.1046 8.3423C22.1043 9.34175 22.6042 10.5433 22.6042 11.9469C22.6042 13.3506 22.1043 14.5523 21.1046 15.5519C20.1052 16.5514 18.9036 17.0511 17.5 17.0511ZM6.5625 28.157V24.9148C6.5625 24.2007 6.75646 23.5394 7.14438 22.9307C7.53229 22.3221 8.05073 21.8542 8.69969 21.5271C10.141 20.8205 11.5951 20.2906 13.0619 19.9371C14.5288 19.5837 16.0081 19.407 17.5 19.407C18.9919 19.407 20.4712 19.5837 21.9381 19.9371C23.4049 20.2906 24.859 20.8205 26.3003 21.5271C26.9493 21.8542 27.4677 22.3221 27.8556 22.9307C28.2435 23.5394 28.4375 24.2007 28.4375 24.9148V28.157H6.5625ZM8.75 25.9695H26.25V24.9148C26.25 24.6195 26.1644 24.3461 25.9933 24.0945C25.8222 23.8432 25.59 23.638 25.2966 23.4791C24.04 22.8603 22.7589 22.3914 21.4532 22.0725C20.1472 21.7539 18.8295 21.5945 17.5 21.5945C16.1705 21.5945 14.8528 21.7539 13.5468 22.0725C12.2411 22.3914 10.96 22.8603 9.70339 23.4791C9.41002 23.638 9.17778 23.8432 9.00667 24.0945C8.83556 24.3461 8.75 24.6195 8.75 24.9148V25.9695ZM17.5 14.8636C18.3021 14.8636 18.9887 14.578 19.5599 14.0068C20.1311 13.4357 20.4167 12.749 20.4167 11.9469C20.4167 11.1449 20.1311 10.4582 19.5599 9.88704C18.9887 9.31586 18.3021 9.03027 17.5 9.03027C16.6979 9.03027 16.0113 9.31586 15.4401 9.88704C14.8689 10.4582 14.5833 11.1449 14.5833 11.9469C14.5833 12.749 14.8689 13.4357 15.4401 14.0068C16.0113 14.578 16.6979 14.8636 17.5 14.8636Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb .search{
    width: 40px;
    height: 40px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_173' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_173)'%3E%3Cpath d='M24.4277 25.7218L16.5768 17.8705C15.9518 18.3865 15.233 18.7904 14.4205 19.0821C13.608 19.3737 12.7675 19.5196 11.8989 19.5196C9.76249 19.5196 7.95436 18.7799 6.47457 17.3005C4.99478 15.8211 4.25488 14.0134 4.25488 11.8774C4.25488 9.74155 4.99457 7.93322 6.47395 6.45238C7.95332 4.97176 9.76103 4.23145 11.8971 4.23145C14.0329 4.23145 15.8412 4.97134 17.3221 6.45113C18.8027 7.93092 19.543 9.73905 19.543 11.8755C19.543 12.7682 19.3932 13.6208 19.0936 14.4333C18.7938 15.2458 18.3939 15.9525 17.8939 16.5533L25.7449 24.4043L24.4277 25.7218ZM11.8989 17.6449C13.5096 17.6449 14.8737 17.0859 15.9914 15.968C17.1094 14.8503 17.6683 13.4861 17.6683 11.8755C17.6683 10.2649 17.1094 8.90072 15.9914 7.78301C14.8737 6.66509 13.5096 6.10613 11.8989 6.10613C10.2883 6.10613 8.92415 6.66509 7.80645 7.78301C6.68853 8.90072 6.12957 10.2649 6.12957 11.8755C6.12957 13.4861 6.68853 14.8503 7.80645 15.968C8.92415 17.0859 10.2883 17.6449 11.8989 17.6449Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px) {
            header{
                height: 56px;
                padding: 0 0 0 20px;
            }
            header .logo a img{
                width: 119px;
            }
            header .gnb .gnb_open{
                display: block; /*none -> block*/
                width: 56px; /*header높이와 동일*/
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_412' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_412)'%3E%3Cpath d='M5.31348 8.74902C5.04785 8.74902 4.82525 8.65913 4.64566 8.47934C4.46587 8.29954 4.37598 8.07684 4.37598 7.81121C4.37598 7.54538 4.46587 7.32277 4.64566 7.1434C4.82525 6.96381 5.04785 6.87402 5.31348 6.87402H24.6885C24.9541 6.87402 25.1767 6.96392 25.3563 7.14371C25.5361 7.3235 25.626 7.54621 25.626 7.81184C25.626 8.07767 25.5361 8.30027 25.3563 8.47965C25.1767 8.65923 24.9541 8.74902 24.6885 8.74902H5.31348ZM5.31348 23.124C5.04785 23.124 4.82525 23.0341 4.64566 22.8543C4.46587 22.6745 4.37598 22.4518 4.37598 22.1862C4.37598 21.9204 4.46587 21.6978 4.64566 21.5184C4.82525 21.3388 5.04785 21.249 5.31348 21.249H24.6885C24.9541 21.249 25.1767 21.3389 25.3563 21.5187C25.5361 21.6985 25.626 21.9212 25.626 22.1868C25.626 22.4527 25.5361 22.6753 25.3563 22.8546C25.1767 23.0342 24.9541 23.124 24.6885 23.124H5.31348ZM5.31348 15.9365C5.04785 15.9365 4.82525 15.8466 4.64566 15.6668C4.46587 15.487 4.37598 15.2643 4.37598 14.9987C4.37598 14.7329 4.46587 14.5103 4.64566 14.3309C4.82525 14.1513 5.04785 14.0615 5.31348 14.0615H24.6885C24.9541 14.0615 25.1767 14.1514 25.3563 14.3312C25.5361 14.511 25.626 14.7337 25.626 14.9993C25.626 15.2652 25.5361 15.4878 25.3563 15.6671C25.1767 15.8467 24.9541 15.9365 24.6885 15.9365H5.31348Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap{
                display: none;
            }
            header .tnb{
                display: none;
            }
}/*@header visual 모바일*/


.visual{
    height: 100vh; /*vh 쓰기 - 브라우저 높이에 맞춰서*/
    min-height: 500px; /*최소 높이*/
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
/* .visual .wrapper { 글자가 만약 아래에 있거나, 중앙정렬일 때는 이렇게!
    height: 100vh;
    dispaly: flex; 
    flex-direction: column => 위아래 정렬
    justify-centent : flex-end or center => 맨 아래 정렬
}*/
.visual h2{
    font-size: 45px;
    padding: 47vh 0 17px 0; 
    /*브라우저의 높이가 줄어들었을 때를 고려해서
    상단 여백을 padding 의 vh로 주기!*/
    /*10vh = 100px정도 - 어느정도 차이나긴 함*/
}
@media screen and (max-width:640px) { /* visual 모바일 */
            /*.visual{ <- 방법1. 위 아래 여백이 고정되어 있어서 브라우저 높이가 줄어들면 글자가 내려가면서 높이도 같이 바뀜
                height: auto;
                min-height: 0; 
            }
            .visual h2{
                font-size: 30px;
                padding: 427px 0 8px 0; 
            }
            .visual p{
                padding: 0 0 81px 0;
            }*/

            .visual{ /* <-방법2. 높이가 한정되어 있고 줄어들 때 내부 글자가 줄바꿈 되면서 들어감, 위 여백은 계속 바뀜*/
                height: auto; 
                min-height: 0; /* 최소 높이 */
            }
            .visual .wrapper{ /*위에 패딩을 주는 건 모바일에서는 안됨, 아래에서부터 여백 들어가야 함*/
                height: 600px;
                display: flex;
                flex-direction: column; /* flex 양옆 정렬 => 위 아래 정렬 */
                justify-content: flex-end; /* 맨 아래로 내려가게 정렬 */
                padding: 0 0 81px 0;
            }
            .visual h2{
                font-size: 30px;
                padding: 0 0 8px 0; 
            }
} /*@media visual 모바일*/


.book{
    margin: 153px 0 0 0;
}
.book .book_wrap{
    width: calc(50% + 630px); /*book_wrap의 50%*/
    position: relative;
    left: calc(50% - 630px); /* 위치 잡아준 것*/
    display: flex; /* tit, list, more 좌우 배치 */
    justify-content: space-between;
}
.book .book_wrap .tit h2{
    font-size: 45px;
    color: #482E1D;
    margin: 0 0 11px 0;
}
.book .book_wrap .list{
    width: calc(100% - 319px); /* book_wrap의 넓이를 100% 하고 왼쪽 tit의 넓이를 빼기*/
    overflow-x: hidden; /*가로 스크롤바 X */
}
.book .book_wrap .list ul{
    display: flex;
    gap: 20px;
    width: 1440px;
    /* 
    li의 넓이 * li의 갯수 = 220 * 6 = 1320
    사이 여백 * li의 갯수 = 20 * 6 = 120
    1320 + 120 = 1440
    */
}
.book .book_wrap .list ul li{
    width: 220px;
    /* 밑바닥 아래로 정렬*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.book .book_wrap .list ul li a{
    display: block;
}

.book .book_wrap .list ul li a .photo{
    overflow: hidden;
}
.book .book_wrap .list ul li:nth-child(3) a .photo,
.book .book_wrap .list ul li:nth-child(5) a .photo{
    border: 1px solid #ccc;
}
.book .book_wrap .list ul li a .photo img{
    width: 100%; /*높이 알아서 들어감
    -책은 이미지 전체가 나와야 하기 때문에 object-fit 안줌*/
    vertical-align: top; /* 이미지 하단의 행간 여백을 없애줌*/
}
.book .book_wrap .list ul li a h3{
    font-size: 20px;
    color: #1d1d1d;
    padding: 17px 0 7px 0;
    /* 1줄 제한 */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

    /* 2줄 제한
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden; */
}

@media screen and (min-width:641px) {
    /********** book 오버효과 **********/
    .book .book_wrap .list ul li a h3 span{
        position: relative; /* after 정렬의 기준 */
    }
    .book .book_wrap .list ul li a h3 span::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1px;
        background-color: #482E1D;
        transition: 0.5s;
    }
    .book .book_wrap .list ul li a:hover h3 span::after{
        width: 100%; /* span태그를 기준으로 100% */
    }
}/*@media book 오버 효과 - pc버전*/

.book .book_wrap .list ul li a strong{
    display: block; /*illine태그라서 블럭 줘야지 넓게 잡힘*/
}
.book .book_wrap .more{
    position: absolute; /*book_wrap을 기준으로 정렬*/
    left: 0;
    top: 210px;
    padding: 0 23px 0 0;
}
.book .book_wrap .more::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 4px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_228' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_228)'%3E%3Cpath d='M7.50016 13.6663V8.49967H2.3335V7.49967H7.50016V2.33301H8.50016V7.49967H13.6668V8.49967H8.50016V13.6663H7.50016Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;

}
@media screen and (max-width:640px) {
            .book{
                margin: 86px 0 0 0;
            }
            .book .book_wrap{
                width: auto; 
                left: auto; 
                display: block; /*tit, list 위아래로 배치되니까 flex해제*/
            }
            .book .book_wrap .tit{
                margin: 0 52px 0 20px; /* tit, list 여백 따로,
                 오른쪽 여백은 브라우저 줄어들었을 때 more와의 여백*/
            }
            .book .book_wrap .tit h2{         
                font-size: 28px;
                margin: 0;
            }
            .book .book_wrap .tit h2 br{
                display: none;
            }
            .book .book_wrap .tit p{
                display: none;
            }
            .book .book_wrap .list{
                padding: 0 0 10px 10px; /* tit, list 여백 따로, 아래 스크롤 여백 주기*/
                width: auto; /* 100% 이기 때문에*/
                overflow-x: auto;
                margin: 35px 0 0 0;
            }
            .book .book_wrap .list ul{
                gap: 10px;
                width: 972px;
                /* 
                li의 넓이 * li의 갯수 = 152 * 6 = 912
                사이 여백 * li의 갯수 = 10 * 6 = 60
                912 + 60 = 972
                */
            }
            .book .book_wrap .list ul li{
                width: 152px;
                /* 밑바닥 아래로 정렬*/
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            .book .book_wrap .list ul li a h3{
                font-size: 16px;
                color: #1d1d1d;
                padding: 8px 0 0px 0;
                /* 1줄 제한 
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;*/
            
                /* 2줄 제한*/
                white-space: normal;
                line-height: 1.2;
                height: 2.8em; /* 두줄이 되었을 때의 높이 */
                overflow: hidden; 
            }
            .book .book_wrap .list ul li a strong{
                display: none; 
            }
            .book .book_wrap .more{
                position: absolute; /*book_wrap을 기준으로 정렬*/
                left: auto;
                right: 20px;
                top: 0;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: #E7DECF;
                padding: 0;
            }
            .book .book_wrap .more::after{
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_423' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_423)'%3E%3Cpath d='M7.50016 13.6663V8.49967H2.3335V7.49967H7.50016V2.33301H8.50016V7.49967H13.6668V8.49967H8.50016V13.6663H7.50016Z' fill='%23482E1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            .book .book_wrap .more span{
                display: none; /*더보기 글자 숨김*/
            }
}/*@media book 모바일*/


.interview{
    margin: 95px 0 0 0;
    padding: 122px 0 140px 0;
    background-color: rgba(231, 222, 207, 0.3);
}
.interview .tit{
    text-align: center;
}
.interview .tit h2{
    font-size: 45px;
    color: #482E1D;
    margin: 0 0 11px 0;
}
.interview .list{
    margin: 42px 0 0 0;
}
.interview .list ul{
    display: flex; /*list 배치*/
    justify-content: space-between;
}
.interview .list ul li{
    width: calc(33.33% - 38px);
    /*
    100 % 한 줄에 나오는 li의 갯수 = 33.33
    한줄 여백의 합 % li의 갯수 = 114 / 3 = 38 */
}
.interview .list ul li:nth-child(2){
    /*디자인이 무조건 두번째 요소는 스타일이 다름*/
    margin: 29px 0 0 0;
}
.interview .list ul li a{
    display: block;
    position: relative; /*txt, txt_over 정렬의 기준*/
}
.interview .list ul li a .photo{
    position: relative; /*before의 정렬 기준*/
    overflow: hidden;
    height: 466px;
    border-radius: 40px 0 40px 0;
}
.interview .list ul li:nth-child(2) a .photo{
    /*디자인이 무조건 두번째 요소는 스타일이 다름*/
    border-radius: 0 40px 0 40px;
}
.interview .list ul li a .photo::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    /*이미지보다 순서를 위로
    z-index가 없는 것보다 있으면 무조건 위
    z-index가 서로 있으면 높은 숫자가 위로 올라감
    z-index값은 position 값이 필요*/
    width: 100%;
    height: 50%; /*그라디언트 높이 제한*/
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0.9)); /*그라디언트*/
    transition: 0.5s;
}
.interview .list ul li a .photo img{
    filter: grayscale(1); /*흑백*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.interview .list ul li a .txt{
    position: absolute; /*a를 기준으로 정렬*/
    left: 40px;
    bottom: 48px;
    z-index: 11; /*이미지 그라디언트 보다 위로!*/
    width: calc(100% - 80px); /*양 옆 여백 빼주기*/
    transition: 0.5s; /*오버시 글자 중첩되는 거 막아줌*/
}
.interview .list ul li a .txt::after{
    content: "";
    position: absolute;
    right: 0;
    top: 32px;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_280' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_280)'%3E%3Cpath d='M18.7497 34.1663V21.2497H5.83301V18.7497H18.7497V5.83301H21.2497V18.7497H34.1663V21.2497H21.2497V34.1663H18.7497Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.interview .list ul li a .txt strong{
    color: #fff;
    font-size: 30px;
}
.interview .list ul li a .txt_over{
    position: absolute; /*a를 기준으로 정렬*/
    left: 0;
    bottom: -73px;
    width: calc(100% - 40px);
    background-color: #482E1D;
    color: #fff;
    z-index: 12;
    padding: 29px 45px 44px 45px;
    border-radius: 40px 0 40px 0;
    opacity: 0;
    /*부드럽게 나타났다 사라지는 건 display : none으로 구현 X
    opacity 0 -> 1로 변경
    opacity 는 공간을 차지함 --주의*/
    transition: 0.5s;
}
.interview .list ul li:nth-child(2) a .txt_over{
    border-radius: 0 40px 0 40px;
}
.interview .list ul li a .txt_over h3{
    font-size: 25px;
}
.interview .list ul li a .txt_over p{
    margin: 11px 0 17px 0;
    color: rgba(255,255,255, 0.8);
    /*2줄로 제한 --padding 주면 안됨*/
    line-height: 1.5;
    height: 3em;
    overflow: hidden;

    /*2줄 이상으로 제한시 끝에 ... 추가하는 코드*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: normal; /*줄바꿈 풀기 - 이쁘게 들어가라고*/
}
.interview .list ul li a .txt_over span{
    display: inline-block;
    padding: 0 32px 0 0;
    position: relative; /*after 정렬의 기준*/
}
.interview .list ul li a .txt_over span::after{
    content: "";
    position: absolute; /*span를 기준으로 정렬*/
    top: 2px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_774' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_774)'%3E%3Cpath d='M9.37484 17.0837V10.6253H2.9165V9.37533H9.37484V2.91699H10.6248V9.37533H17.0832V10.6253H10.6248V17.0837H9.37484Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px) {
    /********** interview 오버효과 **********/
    .interview .list ul li a:hover .photo::before{
        display: none;
    }
    .interview .list ul li a:hover .photo img{
        filter:grayscale(0);
    }
    .interview .list ul li a:hover .txt{
        opacity: 0; /*오버시 글자 중첩되는 거 막아줌*/
    }
    .interview .list ul li a:hover .txt_over{
        opacity: 1; /* 0-> 1*/
        bottom: -90px; /* 살짝 자연스럽게 내려가게 bottom 위치 조절해주기*/
    }
    .interview .more{
        display: none; /*모바일에서만 보임*/
    }
}/*@media interview 오버 효과 - pc버전*/

@media screen and (max-width:640px) {
            .interview{
                margin: 44px 0 0 0;
                padding: 86px 0 105px 0;
            }
            .interview .wrapper{
                position: relative; /*more정렬의 기준*/
            }
            .interview .tit{
                text-align: left;
                padding: 0 52px 0 0; /*more와의 여백 - 브라우저 줄어들었을 때 대비*/
            }
            .interview .tit h2{
                font-size: 28px;
                margin: 0;
            }
            .interview .tit p{
                display: none;
            }
            .interview .list{
                margin: 35px 0 0 0;
            }
            .interview .list ul{
                display: block; /*flex ->block*/
            }
            .interview .list ul li{
                width: auto;
            }
            .interview .list ul li:nth-child(2),
            .interview .list ul li:nth-child(3){
               display: none; /* 2, 3번 숨김*/
            }
            .interview .list ul li a .photo{
                height: 320px;
                border-radius: 30px 0 30px 0;
            }
            .interview .list ul li a .photo::before{
               display: none;
            }
            .interview .list ul li a .photo img{
                filter: grayscale(0); /*흑백*/
            }
            .interview .list ul li a .txt{
                display: none; /*모바일에서는 안나옴*/
            }
            .interview .list ul li a .txt_over{
                bottom: -70px;
                width: 85%; /*txt_over 박스의 넓이 / 전체 넓이 *100 = 272 / 320*100 */
                padding: 29px 25px 21px 25px;
                border-radius: 30px 0 30px 0;
                opacity: 1;
            }
            .interview .list ul li a .txt_over h3{
                font-size: 18px;
            }
            .interview .list ul li a .txt_over p{
                margin: 6px 0 16px 0;
            }
            .interview .list ul li a .txt_over span{
                padding: 0 20px 0 0;
            }
            .interview .list ul li a .txt_over span::after{
                top: 3px;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_774' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_774)'%3E%3Cpath d='M9.37484 17.0837V10.6253H2.9165V9.37533H9.37484V2.91699H10.6248V9.37533H17.0832V10.6253H10.6248V17.0837H9.37484Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            .interview .more{
                display: block; /*나타남*/
                position: absolute; /*wrapper을 기준으로 정렬*/
                left: auto;
                top: 0;
                right: 0;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: #E7DECF;
                padding: 0;
            }
            .interview .more::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_490' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_490)'%3E%3Cpath d='M7.50016 13.6663V8.49967H2.3335V7.49967H7.50016V2.33301H8.50016V7.49967H13.6668V8.49967H8.50016V13.6663H7.50016Z' fill='%23482E1D'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
        
            .interview .more span{
                display: none; /*더보기 글자 숨김*/
            }
}/*@media interview 모바일*/


.story{
    margin: 150px 0 0 0;
}
.story .wrapper{
    position: relative; /*more정렬의 기준*/
}
.story .tit h2{
    font-size: 45px;
    color: #482E1D;
}
.story .list{
    margin: 52px 0 0 0;
}
.story .list ul{
    display: flex;
    justify-content: space-between;
}
.story .list ul li{
    width: calc(25% - 18px);
    /* (100 / 한줄에 보이는 li의 갯수) - (한줄 여백의 총합 / 한줄에 보이는 li의 갯수)
    25% - 18px
    */
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.story .list ul li a{
    display: block;
}
.story .list ul li a .photo{
    overflow: hidden;
    height: 295px; /*짧은 거 높이*/
    border-radius: 5px;
}
.story .list ul li.long a .photo{
    height: 400px; /*긴 거 높이*/
}
.story .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*transition: 0.5s; - 오버하면 사진이 커지는 효과*/
}
.story .list ul li a .txt{
    padding: 17px 10px 15px 10px;
}
.story .list ul li a .txt strong{
    display: block;
    color: #482E1D;
    /*1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story .list ul li a .txt h3{
    padding: 10px 0;
    font-size: 20px;
    color: #1d1d1d;
    /*1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story .list ul li a .txt p{
    /*7줄 제한*/
    line-height: 1.5;
    height: 10.5em; /* 7줄이 되었을 때의 높이 */ /*행간 *줄수*/
    overflow: hidden; 

    /*...생성*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /*줄 수*/

    word-break: normal;
}
.story .list ul li.long a .txt p{ /*long에서 바뀌는 것들*/
    /*3줄제한*/
    height: 4.5em;
    -webkit-line-clamp: 3; /*줄 수*/
}
.story .more{
    position: absolute; /*wrapper을 기준으로 정렬*/
    top: 30px;
    right: 0;
    padding: 0 23px 0 0;
}
.story .more::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 4px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_228' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_228)'%3E%3Cpath d='M7.50016 13.6663V8.49967H2.3335V7.49967H7.50016V2.33301H8.50016V7.49967H13.6668V8.49967H8.50016V13.6663H7.50016Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;

}
@media screen and (min-width:641px) {
/********************** story 오버스타일*****************/
    /*
    오버하면 사진이 커지는 효과
    .story .list ul li a:hover .photo img{
        transform: scale3d(1.2, 1.2, 1); 
    }
    */
    .story .list ul li a .txt h3 span{
        position: relative;
    }
    .story .list ul li a .txt h3 span::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 1px;
        background-color: #482E1D;
        transition: 0.5s;
    }
    .story .list ul li a:hover .txt h3 span::after{
        width: 100%;
    }
}/*@media story 오버 - pc버전*/

@media screen and (max-width:640px) {
            .story{
                margin: 86px 0 0 0;
            }
            .story .tit{
                padding: 0 52px 0 0;
            }
            .story .tit h2{
                font-size: 28px;
            }
            .story .list{
                margin: 35px 0 0 0;
            }
            .story .list ul{
                display: block; /*flex해제*/
            }
            .story .list ul li{
                width: auto;
                border: 0; /*4곳에 들어가는 border 삭제*/
                border-bottom: 1px solid #E7DECF;
                border-radius: 0;
                padding: 19px 0; /*margin을 주면은 선이 밖으로 안나감*/
            }
            .story .list ul li:first-child{
                border-top: 1px solid #E7DECF;
            }
            .story .list ul li a{
                display: flex; /*photo, tit 좌우 배치*/
                flex-direction: row-reverse; /*좌우반전*/
                justify-content: space-between; /*사이 여백 알맞게 배치*/
                align-items:center;
            }
            .story .list ul li a .photo{
                /* width: 39.37%;  126 / 320 *100 = 39.37% */ /*사진도 브라우저 넓이에 따라 바뀜*/
                width: 126px; /*사진 넓이 고정*/
                height: 80px; /*짧은 거 높이*/
                border-radius: 3px;
            }
            .story .list ul li.long a .photo{
                height: 80px; /*긴 거 높이*/
            }
            .story .list ul li a .txt{
                /* width: 52.5%; 168 / 320 *100 = 52.5% */ /*글자도 바뀜*/
                width: calc(100% - 160px); /*글자는 바뀜*/
                padding: 0;
            }
            .story .list ul li a .txt strong{
                /*1줄 제한 -> 여러줄 허용*/
                white-space: normal;
                overflow: visible; /* 넘치는 요소 안자름*/
            }
            .story .list ul li a .txt h3{
                padding: 6px 0;
                font-size: 18px;
                /*1줄 제한*/
                white-space: normal;
                overflow: visible;/* 넘치는 요소 안자름*/
            }
            .story .list ul li a .txt p{
                display: none;
            }
            .story .more{
                top: 0;
                right: 0;
                width: 28px;
                height: 28px;
                padding: 0;
                border-radius: 50%;
                background-color: #E7DECF;
            }
            .story .more::after{
                width: 100%;
                height: 100%;
                top: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_490' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_490)'%3E%3Cpath d='M7.50016 13.6663V8.49967H2.3335V7.49967H7.50016V2.33301H8.50016V7.49967H13.6668V8.49967H8.50016V13.6663H7.50016Z' fill='%23482E1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            .story .more span{
                display: none; /*더보기 글자 숨김*/
            }
}/*@media story 모바일*/


footer{
    margin: 154px 0 0 0;
    padding: 76px 0 130px 0;
    background-color: #E7DECF;
    color: #482E1D;
}
footer .wrapper{
    display: flex; /* slogan, f_info 좌우 배치*/
    justify-content: space-between;
    position: relative; /* copyright 정렬의 기준*/
}
footer .slogan p{
    font-size: 30px;
}
footer .wrapper .f_info{
    width: /*30.95%;*/ 390px;
}
footer .wrapper .f_info h3{
    font-size: 25px;
    margin: 0 0 9px 0;
}
footer .wrapper .f_info address{
    margin: 0 0 57px 0;
    color: rgba(72, 46, 29, 0.8);
}
footer .wrapper .f_info ul.tel{
    margin: 0 0 60px 0;
    color: rgba(72, 46, 29, 0.8);
}
footer .wrapper .f_info ul.tel li strong{
    font-weight: 800;
    margin: 0 10px 0 0;
}
footer .f_info ul.sns{
    display: flex;
    gap: 22px;
    color: rgba(72, 46, 29, 0.8);
}
footer .copyright{
    position: absolute; /*wrapper을 기준으로 정렬*/
    left: 0;
    bottom: 0;
}
footer .copyright .f_logo{
    width: 170px;
    margin: 0 0 20px 0;
}
footer .copyright p{
    color: rgba(72, 46, 29, 0.8);
}
@media screen and (max-width:640px) {
            footer{
                margin: 56px 0 0 0;
                padding: 69px 0 83px 0;
            }
            footer .wrapper{
                display: block; 
            }
            footer .slogan p{
                font-size: 19px;
            }
            footer .wrapper .f_info{
                width: auto;
                margin: 47px 0 0 0;
            }
            footer .wrapper .f_info h3{
                font-size: 17px;
                margin: 0 0 5px 0;
            }
            footer .wrapper .f_info address{
                margin: 0 0 27px 0;
            }
            footer .wrapper .f_info ul.tel{
                margin: 0 0 25px 0;
            }
            footer .wrapper .f_info ul.tel li strong{
                font-weight: 800;
                margin: 0 7px 0 0;
            }
            footer .copyright{
                position: relative; /*absolute해제*/
                left: auto;
                bottom: auto;
                margin: 50px 0 0 0;
            }
            footer .copyright .f_logo{
                width: 130px;
                margin: 0 0 5px 0;
            }
}/*@media footer 모바일*/













