@import url(default.css);
@import url(font.css);
@import url(common_full.css);



html, body{
    font-family: "Pretendard";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
    word-break: keep-all; 
}
/* html{
    font-size: 17px;
}
body{
    font-size: 1rem;
} */

@media screen and (max-width:1024px){
    /* html{
        font-size: 14px;
    }
    body{
        font-size: 1.21rem;
    } */
    html, body{
        font-size: 16px;
    }
}

.biz, .news, .banner{
    margin: 50px 0;
}

.biz .tit h2{
    font-size: var(--tit-font-size);
    font-weight: var(--tit-font-weight);
    color: var(--tit-color);
}

.biz strong{
    font-size: 2em;
}
.biz em{
    font-size: 2rem;
}
.biz .btn_wrap{
    display: flex;
    align-items: flex-start;
    gap: 0.7em;
}

/*글자는 rem, 여백은 em으로*/

.biz .btn_wrap .view{
    /*글자 크기 -25px   여백 7px 30px   라운드 30px*/
    font-size: 1.47rem; /*25 / 17 */
    border: 1px solid #CC001E;
    padding: 0.41rem 1.76rem; /*7 / 17, 30 / 17 */
    border-radius: 1.76rem; /*30 / 17 */
}
.biz .btn_wrap .more{
    font-size: 1.47rem; /*25px*/
    border: 1px solid #CC001E;
    padding: 0.28em 1.2em; /*7 / 25, 30 / 25*/
    border-radius: 1.2em; /*30 /25*/
}


@media screen and (max-width:1024px){
    .biz .btn_wrap .view{
        font-size: 1.2rem;
    }
    .biz .btn_wrap .more{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:768px){
    .biz .btn_wrap .view{
        font-size: 0.8rem;
    }
    .biz .btn_wrap .more{
        font-size: 0.8rem;
    }
}






.news .tit h2{
    font-size: var(--tit-font-size);
    font-weight: var(--tit-font-weight);
    color: var(--tit-color);
}

.banner .tit h2{
    font-size: var(--tit-font-size);
    font-weight: var(--tit-font-weight);
    color: var(--tit-color);
}

:root{
    --tit-font-size:2.35rem;
    --tit-font-weight: 700;
    --tit-color: #1d1d1d;
}


/* @media screen and (max-width:1024px){
    :root{
        --tit-font-size:30px;
    }
}



@media screen and (max-width:768px){
    :root{
        --tit-font-size:20px;
    }
} */





