@import url(default.css);
@import url(res_common.css);
@import url(font.css);

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 100;
    transition: 0.5s;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a{
    display: block;
    width: 171px;
    height: 27px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /*contain - 로고를 안자르고 영역에 맞게 리사이즈*/
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /*모바일에서만 나오기 때문에 사라지게 함*/
}
header .gnb .gnb_wrap ul.depth1{
    display: flex; /*1차 메뉴 li를 좌우로*/
}
header .gnb .gnb_wrap ul.depth1 > li > a{
    /* 1차메뉴의 a*/
    display: block;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    line-height: 90px;
    padding: 0 34px;
    transition: 0.5s;
}
header .gnb .gnb_wrap ul.depth1 > li> ul.depth2{
    display: none; /*2차메뉴 숨김*/
}
header .tnb .search{
    display: block;
    width: 51px;
    height: 51px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_25' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_25)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4687C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4687 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

/***********************header가 고정되었을 때************************/

header.fixed{
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
}
header.fixed .logo a{
    background-image: url(../images/logo.svg) ; /*background -> background-image*/
    /*background로 선언하고 배경 이미지, 반복, 위치, 크기를 지정했는데
    이미지만 변경한다면
    반드시 background-image라고 속성을 쓰고 변경하기!
    그냥 background라고 하면 다른 모든 속성이 취소됨*/
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a{
    /* 1차메뉴의 a*/
    color: #1d1d1d;
}
header.fixed .tnb .search{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_32' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_32)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4687C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4687 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/***********************header가 고정되었을 때************************/

@media screen and (max-width:640px){ 
            header{
                height: 56px;
            }
            header .wrapper{
                margin-right: 0; /*오른쪽 여백 삭제 - gnb_open 배치 때문*/
            }
            header .logo a{
                width: 100px;
                height: 16px;
            }
            header .gnb .gnb_open{
                display: block;
                width: 56px;
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_69' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_69)'%3E%3Cpath d='M4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4ZM4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                transition: 0.5s;
            }
            header .gnb .gnb_wrap{
                display: none;
            }
            header .tnb{
                display: none;
            }
            /***********************header가 고정되었을 때************************/

            header.fixed .gnb .gnb_open{
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_78' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_78)'%3E%3Cpath d='M4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4ZM4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            /***********************header가 고정되었을 때************************/
}/*@media*/



.visual{
    height: 100vh; /*브라우저 높이*/
    background: url(../images/visual_bg02.jpg) center center / cover no-repeat;
    color: #fff;
    border: 1px solid transparent; 
    /*투명한 1px border -> padding 대신 margin을 주면 밀려나니까 주는 방식*/
}
.visual h2{
    font-weight: 800;
    font-size: 45px;
    margin: 64.11vh 0 0 0; /*577 / 900 * 100*/
}

@media screen and (max-width:640px){ 
            .visual h2{
                font-size: 20px;
                text-align: left;
                margin: 72vh 0 0 0; /*504 / 700 * 100*/
                transform: translateY(-50%);
                /*나의 높이 절반을 위로 이동*/
            }
} /*@media*/








footer{
    margin: 3000px 0 0 0;
}