@import url(default.css);
@import url(common_full.css);
@import url(font.css);

.skip_nav{ /*body을 기준*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.skip_nav a{
    position: absolute; /* skip_nav */
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    padding: 10px 0;
    background-color: #000783;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus{
    top: 0;
}

header{
    position: fixed; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    color: #fff;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a{
    display: block;
    width: 171px;
    height: 27px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util .search .search_open{
    display: block;
    width: 51px;
    height: 51px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_25' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_25)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

/******** header에 fixed 클래스 추가시**************/

header.fixed{
    background-color: #fff;
    color: #1d1d1d;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.0.5);
    border-bottom: 1px solid #e2e2e2;
}
header.fixed .logo a{
    background-image: url(../images/logo.svg);
}
header.fixed .util .search .search_open{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_7)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}



@media screen and (min-width:1025px){ 
            /***************** 1025 이상 pc 버전 ******************/
            header .gnb .gnb_open,
            header .gnb .gnb_close{
                display: none;
            }
            header .gnb .gnb_wrap ul.depth1{
                display: flex; /*1차메뉴 li 좌우 배치*/
            }
            header .gnb .gnb_wrap ul.depth1 > li{ /*상자 만들어서 넓이 잡아서 가운데 정렬 해주기*/
                width: 134px;
                text-align: center;
                position: relative; /* ul.depth2의 정렬 기준*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > a{ /*1차메뉴 스타일*/
                display: block;
                font-size: 25px;
                font-weight: 700;
                line-height: 90px; /*header의 높이 만큼*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{ /*2차 메뉴*/
                /* 꼭 absolute 해주기!!*/
                position: absolute; /* li를 기준으로 정렬*/
                left: 0;
                top: 90px; /* 1차 메뉴의 a높이만큼만 들어가야 함*/
                width: 100%; /* li의 넓이와 같아지게..*/
                display: none;
                padding: 24px 0 0 0; /*a태그와 2차메뉴 사이의 여백 margin XXXX */
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li >a { /*2차 메뉴 스타일*/
                display: block;
                padding: 5px 0; /*2차 메뉴들 간의 여백*/
                color: #555;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
                color: #A24D40;
                font-weight: 700;
            }

            /****************메뉴에 마우스를 오버했을 때***************/
            
            header.menu_over{
                color: #1d1d1d;
            }
            header.menu_over::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 274px;
                background-color: #fff;
                z-index: -1;
                /* 
                    position 들어간 요소와 안들어간 요소가 겹치면 position 속성이 있는 요소가 위
                    position 속성이 있는 요소끼리 순서를 정할 때는 z-index가 높은 요소가 위
                    위로 배치되어야 할 요소한테 모두 position, z-index를 주기 어려울 경우
                    >> z-index: -1 << position이 없는 요소보다도 아래 배치.. 
                        내 정렬의 기준 안에서 맨 아래가 됨
                    >> header에 border을 줬음 - header::before한테 z-index를 주고 배경색을 줌
                       header에 준 border보다 before가 위에 있음 border 안보임
                */
            }
            header.menu_over::after{
                content: "";
                position: absolute;
                left: 0;
                top: 90px;
                width: 100%;
                height: 1px;
                background-color: #e2e2e2;
            }
            header.menu_over .logo a{
                background-image: url(../images/logo.svg);
            }
            header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a{
                color: #A24D40;
            }
            header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span{
                position: relative; /*after*/
            }
            header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -31px;
                width: 100%;
                height: 2px;
                background-color: #E06552;
                z-index: 1;
            }
            header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                display: block; /*none -> block*/
            }
            header.menu_over .util .search .search_open{
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_7)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            
} /* @media pc */



@media screen and (max-width:1024px){
            /******************* 모바일 스타일*******************/
            header{
                height: 56px;
            }
            header .wrapper{
                margin-right: 0;
            }
            header .logo a{
                width: 100px;
                height: 16px;
            }
            header .util{
                display: none;
            }

            header .gnb .gnb_open{
                display: block;
                width: 56px;
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_69' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_69)'%3E%3Cpath d='M4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4ZM4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap{
                display: none; /*메뉴 숨김*/
                position: fixed; /* body 를 기준으로 정렬*/
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                color: #1d1d1d;
            }
            header .gnb .gnb_close{
                display: none; /*숨김*/
                position: fixed; /* body 를 기준으로 정렬*/
                right: 0;
                top: 0;
                width: 56px;
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_37_113' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_37_113)'%3E%3Cpath d='M12 13.4L7.10005 18.3C6.91672 18.4833 6.68338 18.575 6.40005 18.575C6.11672 18.575 5.88338 18.4833 5.70005 18.3C5.51672 18.1167 5.42505 17.8833 5.42505 17.6C5.42505 17.3167 5.51672 17.0833 5.70005 16.9L10.6 12L5.70005 7.1C5.51672 6.91667 5.42505 6.68333 5.42505 6.4C5.42505 6.11667 5.51672 5.88333 5.70005 5.7C5.88338 5.51667 6.11672 5.425 6.40005 5.425C6.68338 5.425 6.91672 5.51667 7.10005 5.7L12 10.6L16.9 5.7C17.0834 5.51667 17.3167 5.425 17.6 5.425C17.8834 5.425 18.1167 5.51667 18.3 5.7C18.4834 5.88333 18.575 6.11667 18.575 6.4C18.575 6.68333 18.4834 6.91667 18.3 7.1L13.4 12L18.3 16.9C18.4834 17.0833 18.575 17.3167 18.575 17.6C18.575 17.8833 18.4834 18.1167 18.3 18.3C18.1167 18.4833 17.8834 18.575 17.6 18.575C17.3167 18.575 17.0834 18.4833 16.9 18.3L12 13.4Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }

            /******** header에 fixed 클래스 추가시**************/
            
            header.fixed .gnb .gnb_open{
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_78' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_78)'%3E%3Cpath d='M4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4ZM4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }

            /******** 메뉴가 열렸을 때*************/
            header.menu_open .gnb .gnb_wrap{
                display: block; /* 나타남 */
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 {
                margin: 56px 0 0 0;
                height: calc(100% -56px);
                overflow-x: hidden; /*좌우는 스크롤 X*/
                overflow-y: auto; /*감싸는 영역보다 내부요소가 더 기면 스크롤*/
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li{
                border-bottom: 1px solid #ccc;
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li:first-child{
                border-top: 1px solid #ccc;
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                padding: 23px 39px 23px 20px;
                font-size: 20px;
                position: relative;
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li > a::after{
                content: "";
                position: absolute;
                right: 20px;
                top: 24px;
                width: 19px;
                height: 19px;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_37_130' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect y='19' width='19' height='19' transform='rotate(-90 0 19)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_37_130)'%3E%3Cpath d='M9.50004 16.4789L15.4635 10.5155C15.6207 10.3582 15.8059 10.2816 16.019 10.2855C16.2322 10.2896 16.4175 10.3703 16.5748 10.5276C16.732 10.685 16.8107 10.8702 16.8107 11.0833C16.8107 11.2964 16.732 11.4817 16.5748 11.6391L10.514 17.712C10.3708 17.8551 10.2104 17.9612 10.0328 18.0302C9.85524 18.0992 9.67764 18.1337 9.50004 18.1337C9.32244 18.1337 9.14485 18.0992 8.96725 18.0302C8.78965 17.9612 8.62928 17.8551 8.48612 17.712L2.41304 11.6391C2.25576 11.4817 2.17917 11.2944 2.18326 11.0772C2.18735 10.86 2.26803 10.6728 2.42531 10.5155C2.58259 10.3582 2.76784 10.2796 2.98106 10.2796C3.19415 10.2796 3.37934 10.3582 3.53662 10.5155L9.50004 16.4789Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                background-color: #f7f7f7;
                color: #555;
                padding: 15px 0px 20px 36px;
                display: none; /*열린 메뉴에서만 나타남*/
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 4px 0;
            }
            header.menu_open .gnb .gnb_close{
                display: block; /* 나타남 */
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li.open > a{
                color: #E06552;
                font-weight: 700;
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li.open > a::after{
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_37_136' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect x='19' width='19' height='19' transform='rotate(90 19 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_37_136)'%3E%3Cpath d='M9.49996 2.52107L3.53653 8.4845C3.37925 8.64177 3.19407 8.71843 2.98098 8.71448C2.76775 8.71039 2.58251 8.6297 2.42523 8.47242C2.26795 8.31501 2.18931 8.12976 2.18931 7.91667C2.18931 7.70358 2.26795 7.51833 2.42523 7.36092L8.48603 1.28805C8.62919 1.14489 8.78957 1.0388 8.96717 0.969798C9.14476 0.900791 9.32236 0.866287 9.49996 0.866287C9.67756 0.866287 9.85515 0.900791 10.0328 0.969798C10.2103 1.0388 10.3707 1.14489 10.5139 1.28805L16.587 7.36092C16.7442 7.51833 16.8208 7.70563 16.8167 7.92281C16.8126 8.13999 16.732 8.32722 16.5747 8.4845C16.4174 8.64177 16.2322 8.72041 16.0189 8.72041C15.8058 8.72041 15.6207 8.64177 15.4634 8.4845L9.49996 2.52107Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header.menu_open .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2{
                display: block;
            }
}/* @media 모바일 */





.visual{
    height: 100dvh;
    background: url(../images/visual_bg02.jpg) no-repeat center center / cover;
    color: #fff;
    position: relative;
}
.visual p{
    font-weight: 700;
    font-size: 45px;
    padding: 55vh 0 0 0;
}

.visual span{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:768px){
    .visual p{
        font-size: 20px;
    }
}





footer{
    margin: 2000px 0 500px 0;
}