@import url(default.css);
@import url(font.css);
@import url(common_full.css);

.visual{
    position: relative; /*btn_wrap 의 정렬 기준*/
}

.visual .popup .popup_wrap .popup_item{
    height: 900px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .popup .popup_wrap .popup_item.bg1{
    background-image: url(../images/popup01.jpg);
}
.visual .popup .popup_wrap .popup_item.bg2{
    background-image: url(../images/popup02.jpg);
}
.visual .popup .popup_wrap .popup_item.bg3{
    background-image: url(../images/popup03.jpg);
}
.visual .popup .popup_wrap .popup_item h3{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    padding: 401px 0 23px 0;
}
.visual .slick-prev{
    position: absolute; /*popup_wrap을 기준으로 정렬*/
    left: 20px;
    top: 440px;
    width: 50px;
    height: 50px;
    color: transparent; /*previous 글자를 안보이게*/
    z-index: 10;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_106_59' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106_59)'%3E%3Cpath d='M6.63447 25L22.3277 40.6932C22.7416 41.1071 22.9433 41.5944 22.9329 42.1552C22.9221 42.7163 22.7098 43.2038 22.2959 43.6177C21.8817 44.0316 21.3942 44.2385 20.8334 44.2385C20.2727 44.2385 19.7852 44.0316 19.3709 43.6177L3.38968 27.6682C3.01294 27.2915 2.73378 26.8694 2.55218 26.4021C2.37058 25.9347 2.27979 25.4673 2.27979 25C2.27979 24.5326 2.37058 24.0652 2.55218 23.5979C2.73378 23.1305 3.01294 22.7085 3.38968 22.3317L19.3709 6.34997C19.7852 5.93608 20.278 5.73452 20.8496 5.74528C21.4211 5.75605 21.9138 5.96837 22.3277 6.38226C22.7416 6.79615 22.9485 7.28365 22.9485 7.84476C22.9485 8.40553 22.7416 8.89285 22.3277 9.30674L6.63447 25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .slick-next{
    position: absolute; /*popup_wrap을 기준으로 정렬*/
    right: 20px;
    top: 440px;
    width: 50px;
    height: 50px;
    color: transparent; /*previous 글자를 안보이게*/
    z-index: 10;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_106_59' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106_59)'%3E%3Cpath d='M6.63447 25L22.3277 40.6932C22.7416 41.1071 22.9433 41.5944 22.9329 42.1552C22.9221 42.7163 22.7098 43.2038 22.2959 43.6177C21.8817 44.0316 21.3942 44.2385 20.8334 44.2385C20.2727 44.2385 19.7852 44.0316 19.3709 43.6177L3.38968 27.6682C3.01294 27.2915 2.73378 26.8694 2.55218 26.4021C2.37058 25.9347 2.27979 25.4673 2.27979 25C2.27979 24.5326 2.37058 24.0652 2.55218 23.5979C2.73378 23.1305 3.01294 22.7085 3.38968 22.3317L19.3709 6.34997C19.7852 5.93608 20.278 5.73452 20.8496 5.74528C21.4211 5.75605 21.9138 5.96837 22.3277 6.38226C22.7416 6.79615 22.9485 7.28365 22.9485 7.84476C22.9485 8.40553 22.7416 8.89285 22.3277 9.30674L6.63447 25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.visual ul.slick-dots{
    position: absolute; /*popup_wrap을 기준으로 정렬*/
    right: 50%;
    bottom: 37px;
    display: flex; /* li를 좌우 배치*/
    gap: 5px;

}
.visual ul.slick-dots li button{
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: transparent; /* 1,2,3 글자 안보이게*/
}
.visual ul.slick-dots li.slick-active button{
    background-color: #fff;
}

.visual .btn_wrap{
    position: absolute; /*visual을 기준으로 정렬*/
    left: calc(50% + 10px);
    bottom: 35px;
    display: flex; /* js에서 요소에 display: inline-block을 줘서 코딩이 틀어짐*/
}
.visual .btn_wrap .ctrl_stop{
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_131_8' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='11'%3E%3Crect x='0.181152' width='11' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_131_8)'%3E%3Cpath d='M6.5979 8.25V2.75H8.20207V8.25H6.5979ZM3.1604 8.25V2.75H4.76457V8.25H3.1604Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.visual .btn_wrap .ctrl_play{
    display: none; /*처음에는 숨김*/
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_127_242' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='11'%3E%3Crect x='0.181152' width='11' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_127_242)'%3E%3Cpath d='M4.30615 7.87968V3.12012L8.04329 5.4999L4.30615 7.87968Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1410px){
    .visual .slick-prev,
    .visual .slick-next{
        display: none !important; /*숨김*/
        /*css 적용 우선순위 상관없이 무조건 먼저 실행하도록 하는 명령
            !important - 단 하나의 요소의 pc버전에서 important,
            모바일에서 important 남발하면 스타일이 꼬임!
        */ 
    }
}

@media screen and (max-width:768px){
            .visual .popup .popup_wrap .popup_item{
                height: 600px;
            }
            .visual .popup .popup_wrap .popup_item h3{
                font-size: 28px;
                padding: 342px 0 10px 0;
            }
            .visual ul.slick-dots{
                bottom: 18px;
            }
            .visual ul.slick-dots li button{
                width: 8px;
                height: 8px;
            }
} /*@media visual 모바일*/



.biz{
    margin: 153px 0 0 0;
}
.biz .tit h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.biz .list{
    margin: 41px 0 0 0;
    width: calc(100% + 24px); /*여백주면 wrapper 안으로 들어가서 안맞음, 따로 wrapper 밖으로 빼줘야 함*/
}
.biz .list .list_wrap .list_item{
    margin-right: 24px; /*여백주기*/
}
.biz .list .list_wrap .list_item a{
    display: block;
}
.biz .list .list_wrap .list_item a .photo{
    overflow: hidden;
    height: 264px;
}
.biz .list .list_wrap .list_item a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list .list_wrap .list_item a h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 12px 0 6px 0;
}

@media screen and (max-width:768px){
            .biz{
                margin: 72px 0 0 0;
            }
            .biz .tit h2{
                font-size: 23px;
            }
            .biz .list{
                margin: 17px 0 0 0;
                width: calc(100% + 16px); /*여백주면 wrapper 안으로 들어가서 안맞음, 따로 wrapper 밖으로 빼줘야 함*/
            }
            .biz .list .list_wrap .list_item{
                margin-right: 16px; /*여백주기*/
            }
            .biz .list .list_wrap .list_item a .photo{
                height: 235px;
            }
            .biz .list .list_wrap .list_item a h3{
                font-size: 18px;
                margin: 11px 0 4px 0;
            }
            
} /*@media biz 모바일*/



.notice{
    background-color: #FF7373;
    margin: 121px 0 0 0;
    padding: 120px 0 98px 0;
    color: #fff;
}
.notice .tit h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.notice .list{
    margin: 61px 0 0 0;
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
}
.notice .list .list_wrap .list_item a{
    display: block;
    background-color: #fff;
    border-radius: 20px;
    color: #555;
}
.notice .list .list_wrap .list_item{
    width: 404px;
    margin-right: 24px;
}
.notice .list .list_wrap .list_item a .photo{
    overflow: hidden;
    height: 335px;
    border-radius: 20px 20px 0 0 ;
}
.notice .list .list_wrap .list_item a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .list .list_wrap .list_item a .txt{
    padding: 28px 40px 52px 40px;
}
.notice .list .list_wrap .list_item a .txt h3{
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 17px 0;
}

@media screen and (max-width:1300px){
    .notice .list{
        width: calc(100% + 20px); /*왼쪽 여백만 빼주기*/
        left: 20px;
    }
}/*@media notice 모바일*/

@media screen and (max-width:768px){
            .notice{
                margin: 44px 0 0 0;
                padding: 64px 0 43px 0;
            }
            .notice .tit h2{
                font-size: 23px;
            }
            .notice .list{
                margin: 17px 0 0 0;
            }
            .notice .list .list_wrap .list_item a{
                border-radius: 10px;
            }
            .notice .list .list_wrap .list_item{
                width: 264px;
                margin-right: 16px;
            }
            .notice .list .list_wrap .list_item a .photo{
                height: 219px;
                border-radius: 10px 10px 0 0 ;
            }
            .notice .list .list_wrap .list_item a .txt{
                padding: 18px 28px 37px 28px;
            }
            .notice .list .list_wrap .list_item a .txt h3{
                font-size: 18px;
                margin: 0 0 5px 0;
            }
}/*@media notice 모바일*/





footer{
    margin: 5000px 0 0 0;
}


