@font-face {
	font-family: 'PT';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard-Regular.woff) format('woff');
    /*local 내 컴퓨터에 프리텐다드가 깔려있다면 그걸 먼저 쓰라는 말*/
}
@font-face {
	font-family: 'PT';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard-Bold.woff) format('woff');
    /*local 내 컴퓨터에 프리텐다드가 깔려있다면 그걸 먼저 쓰라는 말*/
}
body{/*바디는 본문으로 지정해줌*/
    /*sans-serif는 고딕, serif 명조*/
    font-family: 'PT', sans-serif;
    font-size: 17px;
    color: #555555;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all; /*줄바꿈 시 단어단위별로 떨어짐*/
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1260px; margin: 0 auto;
}
.about{
    text-align: center;
}
.about h1{
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
    letter-spacing: -0.03em;
    margin: 100px 0 20px 0;
}
.about p{
    margin: 0;
}
.about .photo{
    margin: 63px 0 0 0;
}
.invest h1{
    font-size: 17px;
    font-weight: 400;
    color: #00a384;
    margin: 112px 0 20px 0;
}
.invest p{
    font-size: 50px; 
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
    letter-spacing: -0.03em;
    margin: 0;
}
.invest p strong{
    font-weight: 700;
    color: #00a384;
}





