@import url(default.css);
@import url(font.css);
@import url(common.css);

.section_tit{
    font-family: 'Gmarket Sans'; 
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    font-size: 45px;
}
@media screen and (max-width:640px){
                .section_tit{
                    font-size: 20px;
                }
}/* @media */


header{
    height: 90px;
    position: absolute; /*wrap을 기준으로 정렬*/
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    z-index: 100; /* 맨 위에 배치 - 가장 위에 배치한다는 뜻*/
}
header .wrapper{
    display: flex;
    justify-content: space-between; /*좌우 끝*/
    align-items: center;/*위아래 가운데*/
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /*모바일에서만 보임*/
}
header .gnb .gnb_wrap ul{
    display: flex;
}
header .gnb .gnb_wrap ul li a{
    display: block;
    line-height: 90px;
    /*header 높이만큼 행간 주기 - 글자의 높이가 헤더와 같아짐, 위 아래 가운데에 글자가 들어감*/
    font-family: 'Gmarket Sans'; 
    font-weight: 500;
    font-size: 20px;
    padding: 0 30px;
}
header .tnb{
    display: flex; /*mypage, lang 좌우 배치 */
    gap: 4px;
}
header .tnb .mypage{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 9.12826C8.33698 9.12826 7.34141 8.7142 6.5133 7.88609C5.68499 7.05778 5.27083 6.06211 5.27083 4.89909C5.27083 3.73607 5.68499 2.7405 6.5133 1.91239C7.34141 1.08408 8.33698 0.669922 9.5 0.669922C10.663 0.669922 11.6586 1.08408 12.4867 1.91239C13.315 2.7405 13.7292 3.73607 13.7292 4.89909C13.7292 6.06211 13.315 7.05778 12.4867 7.88609C11.6586 8.7142 10.663 9.12826 9.5 9.12826ZM0.4375 16.4946V15.6439C0.4375 15.0522 0.598209 14.5042 0.919625 14C1.24104 13.4957 1.6706 13.108 2.20831 12.8369C3.40255 12.2515 4.60736 11.8124 5.82274 11.5195C7.03812 11.2267 8.26388 11.0803 9.5 11.0803C10.7361 11.0803 11.9619 11.2267 13.1773 11.5195C14.3926 11.8124 15.5975 12.2515 16.7917 12.8369C17.3294 13.108 17.759 13.4957 18.0804 14C18.4018 14.5042 18.5625 15.0522 18.5625 15.6439V16.4946C18.5625 17.0041 18.384 17.4375 18.0269 17.7947C17.6698 18.1518 17.2365 18.3303 16.7267 18.3303H2.27326C1.76355 18.3303 1.33016 18.1518 0.973094 17.7947C0.616031 17.4375 0.4375 17.0041 0.4375 16.4946ZM2.25 16.5178H16.75V15.6439C16.75 15.3992 16.6791 15.1726 16.5373 14.9642C16.3956 14.756 16.2031 14.586 15.9601 14.4543C14.9189 13.9416 13.8574 13.5531 12.7755 13.2888C11.6934 13.0248 10.6016 12.8928 9.5 12.8928C8.3984 12.8928 7.30657 13.0248 6.22451 13.2888C5.14265 13.5531 4.08113 13.9416 3.03995 14.4543C2.79687 14.586 2.60444 14.756 2.46267 14.9642C2.32089 15.1726 2.25 15.3992 2.25 15.6439V16.5178ZM9.5 7.31576C10.1646 7.31576 10.7335 7.07912 11.2068 6.60586C11.68 6.1326 11.9167 5.56367 11.9167 4.89909C11.9167 4.23451 11.68 3.66558 11.2068 3.19232C10.7335 2.71905 10.1646 2.48242 9.5 2.48242C8.83542 2.48242 8.26649 2.71905 7.79323 3.19232C7.31997 3.66558 7.08333 4.23451 7.08333 4.89909C7.08333 5.56367 7.31997 6.1326 7.79323 6.60586C8.26649 7.07912 8.83542 7.31576 9.5 7.31576Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 19px; /* 1개만 쓰면 넓이, 높이는 비율에 맞게 알아서 들어감*/
    background-repeat: no-repeat;
    background-position: center center;
}
header .tnb .lang{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0003 23.0837C10.4807 23.0837 9.04671 22.7924 7.69824 22.2098C6.34977 21.6273 5.17377 20.8341 4.17024 19.8304C3.16652 18.8269 2.37338 17.6509 1.79083 16.3024C1.20827 14.9539 0.916992 13.5199 0.916992 12.0003C0.916992 10.4687 1.20827 9.03164 1.79083 7.6892C2.37338 6.34676 3.16652 5.17377 4.17024 4.17024C5.17377 3.16652 6.34977 2.37338 7.69824 1.79083C9.04671 1.20827 10.4807 0.916992 12.0003 0.916992C13.532 0.916992 14.969 1.20827 16.3115 1.79083C17.6539 2.37338 18.8269 3.16652 19.8304 4.17024C20.8341 5.17377 21.6273 6.34676 22.2098 7.6892C22.7924 9.03164 23.0837 10.4687 23.0837 12.0003C23.0837 13.5199 22.7924 14.9539 22.2098 16.3024C21.6273 17.6509 20.8341 18.8269 19.8304 19.8304C18.8269 20.8341 17.6539 21.6273 16.3115 22.2098C14.969 22.7924 13.532 23.0837 12.0003 23.0837ZM12.0003 21.3089C12.5957 20.5192 13.0968 19.7228 13.5036 18.9195C13.9104 18.1163 14.2417 17.2383 14.4976 16.2855H9.50308C9.77394 17.2682 10.1091 18.1612 10.5085 18.9645C10.9076 19.7677 11.4049 20.5492 12.0003 21.3089ZM9.74108 20.988C9.29385 20.3464 8.89223 19.6169 8.5362 18.7997C8.18017 17.9822 7.90348 17.1442 7.70612 16.2855H3.74849C4.36469 17.4971 5.19107 18.515 6.22766 19.3392C7.26424 20.1633 8.43538 20.7129 9.74108 20.988ZM14.2596 20.988C15.5653 20.7129 16.7364 20.1633 17.773 19.3392C18.8096 18.515 19.636 17.4971 20.2522 16.2855H16.2945C16.0596 17.1515 15.7642 17.9933 15.4082 18.8107C15.0523 19.6282 14.6695 20.3539 14.2596 20.988ZM3.01466 14.5355H7.35174C7.27844 14.1019 7.22526 13.6767 7.1922 13.26C7.15934 12.8435 7.14291 12.4236 7.14291 12.0003C7.14291 11.577 7.15934 11.1571 7.1922 10.7406C7.22526 10.3239 7.27844 9.89877 7.35174 9.46516H3.01466C2.90246 9.86144 2.81652 10.2735 2.75683 10.7012C2.69694 11.129 2.66699 11.562 2.66699 12.0003C2.66699 12.4386 2.69694 12.8716 2.75683 13.2994C2.81652 13.7272 2.90246 14.1392 3.01466 14.5355ZM9.10145 14.5355H14.8992C14.9723 14.1019 15.0254 13.6805 15.0584 13.2714C15.0913 12.8623 15.1077 12.4386 15.1077 12.0003C15.1077 11.562 15.0913 11.1384 15.0584 10.7292C15.0254 10.3201 14.9723 9.89877 14.8992 9.46516H9.10145C9.02834 9.89877 8.97526 10.3201 8.9422 10.7292C8.90934 11.1384 8.89291 11.562 8.89291 12.0003C8.89291 12.4386 8.90934 12.8623 8.9422 13.2714C8.97526 13.6805 9.02834 14.1019 9.10145 14.5355ZM16.6489 14.5355H20.986C21.0982 14.1392 21.1841 13.7272 21.2438 13.2994C21.3037 12.8716 21.3337 12.4386 21.3337 12.0003C21.3337 11.562 21.3037 11.129 21.2438 10.7012C21.1841 10.2735 21.0982 9.86144 20.986 9.46516H16.6489C16.7222 9.89877 16.7754 10.3239 16.8084 10.7406C16.8413 11.1571 16.8577 11.577 16.8577 12.0003C16.8577 12.4236 16.8413 12.8435 16.8084 13.26C16.7754 13.6767 16.7222 14.1019 16.6489 14.5355ZM16.2945 7.71516H20.2522C19.6286 6.4886 18.8078 5.47069 17.7899 4.66141C16.772 3.85233 15.5952 3.29894 14.2596 3.00124C14.7068 3.68024 15.1046 4.42292 15.4531 5.22928C15.8017 6.03545 16.0822 6.86408 16.2945 7.71516ZM9.50308 7.71516H14.4976C14.2267 6.73983 13.886 5.8412 13.4756 5.01928C13.0649 4.19737 12.5732 3.42153 12.0003 2.69178C11.4275 3.42153 10.9357 4.19737 10.5251 5.01928C10.1146 5.8412 9.77394 6.73983 9.50308 7.71516ZM3.74849 7.71516H7.70612C7.91845 6.86408 8.19894 6.03545 8.54758 5.22928C8.89602 4.42292 9.29385 3.68024 9.74108 3.00124C8.39785 3.29894 7.21923 3.85427 6.2052 4.66724C5.19098 5.48002 4.37208 6.49599 3.74849 7.71516Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width:640px){
                header{
                    height: 56px;
                }
                header .wrapper{
                    margin-right: 0; /*오른쪽 여백만 삭제 - 메뉴 열기 버튼이 오른족 끝까지 배치*/
                }
                header .logo a img{
                    width: 90px;
                }
                header .gnb .gnb_open{
                    display: block;
                    width: 56px;
                    height: 56px;
                    background-size: 30px;
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_3162' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_3162)'%3E%3Cpath d='M3.54199 5.83301C3.36491 5.83301 3.21651 5.77308 3.09678 5.65322C2.97692 5.53335 2.91699 5.38488 2.91699 5.2078C2.91699 5.03058 2.97692 4.88217 3.09678 4.76259C3.21651 4.64287 3.36491 4.58301 3.54199 4.58301H16.4587C16.6357 4.58301 16.7841 4.64294 16.9039 4.7628C17.0237 4.88266 17.0837 5.03113 17.0837 5.20822C17.0837 5.38544 17.0237 5.53384 16.9039 5.65342C16.7841 5.77315 16.6357 5.83301 16.4587 5.83301H3.54199ZM3.54199 15.4163C3.36491 15.4163 3.21651 15.3564 3.09678 15.2365C2.97692 15.1167 2.91699 14.9682 2.91699 14.7911C2.91699 14.6139 2.97692 14.4655 3.09678 14.3459C3.21651 14.2262 3.36491 14.1663 3.54199 14.1663H16.4587C16.6357 14.1663 16.7841 14.2263 16.9039 14.3461C17.0237 14.466 17.0837 14.6145 17.0837 14.7915C17.0837 14.9688 17.0237 15.1172 16.9039 15.2368C16.7841 15.3565 16.6357 15.4163 16.4587 15.4163H3.54199ZM3.54199 10.6247C3.36491 10.6247 3.21651 10.5647 3.09678 10.4449C2.97692 10.325 2.91699 10.1765 2.91699 9.99947C2.91699 9.82224 2.97692 9.67384 3.09678 9.55426C3.21651 9.43454 3.36491 9.37467 3.54199 9.37467H16.4587C16.6357 9.37467 16.7841 9.43461 16.9039 9.55447C17.0237 9.67433 17.0837 9.8228 17.0837 9.99988C17.0837 10.1771 17.0237 10.3255 16.9039 10.4451C16.7841 10.5648 16.6357 10.6247 16.4587 10.6247H3.54199Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                header .gnb .gnb_wrap{
                    display: none; /* 가운데 메뉴 숨김 */
                }
                header .tnb{
                    display: none;
                }
}/* @media */


.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 900px;
    text-align: left;
}
.visual h2{
    padding: 548px 0 11px 0;
}
.visual p{
    color: #fff;
}
@media screen and (max-width:640px){
                .visual{
                    height: auto; /*높이를 안준 것 처럼 - 콘텐츠 길이만큼 늘어남*/
                    padding: 0 0 93px 0;
                }
                .visual h2{
                    padding: 355px 0 8px 0;
                }
                .visual p{
                    font-size: 25px;
                }
                .visual p br{
                    display: none; /* 줄바꿈 삭제 */
                }
}/* @media */


.project{
    margin: 165px 0 0 0;
}
.project .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* tit 높이를 존재하는 만큼만 주기 위해서 */
}
.project .wrapper .tit{
    margin: 5px 0 0 0;
}
.project .tit{
    position: sticky; /* 감싸는 wrapper을 기준으로 정렬 무조건*/
    top: 20px; /* 좌우 정렬값 주면 안됨 top값은 상단에 고정되었을 때 위치값 */
    /* sticky의 단점 - 감싸는 요소 중에 하나라도 overflow-hidden값을 가지고 있으면 적용 X
    사실상 못써!! */
}
.project .tit h2{
    color: #0047AB;
    margin: 0 0 11px 0;
}
.project .list{
    width: 49.04%; /* 618/1260*100 = 49.04% */
    margin: 143px 0 0 0; /*홀수 사진이 내려가는 걸로 해서 여백을 더 줌*/
}
.project .list ul{
    display: flex;
    flex-wrap: wrap; /* 2줄 이상 허용 */
    gap: 24px 24px;
}
.project .list ul li{
    width: calc(50% - 12px);
    /* 1000% / 한줄에 보일 li 갯수 = 100% / 2 = 50%
    한줄에 있는 여백의 총합 / 한줄에 보일 li 갯수 = 24 / 2 = 12px */
}
.project .list ul li:nth-child(even){ /*even : 짝수 - 짝수 사진이 올라가야 함 /// odd - 홀수*/
    transform: translateY(-143px);
}
.project .list ul li a{
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.project .list ul li a .photo{
    overflow: hidden;
    border-radius: 20px;
    height: 435px;
    position: relative; /* before 정렬의 기준 */
}
.project .list ul li a .photo::before{
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 171, 0.9);
    opacity: 0;
    transition: 0.5s;
}
.project .list ul li a .photo img{
    /* 이미지를 감싸는 영역 photo 사이즈만큼만 나오게 리사이즈*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt{
    position: absolute; /* a을 기준으로 정렬 */
    left: 30px;
    bottom: 40px;
    color: #fff;
    width: calc(100% - 62px); /* 왼쪽여백, 오른쪽 여백 합 */
}
.project .list ul li a .txt h3{
    font-family: 'Gmarket Sans'; 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}
.project .list ul li a .txt p{
    display: none;
    margin: 19px 0 13px 0;
    color: rgba(255, 255, 255, 0.8);
}
.project .list ul li a .txt span{
    display: none; /* 나머지 글자 숨김 - display: none 은 아예 태그가 존재하지 않는 것처럼 코딩됨 */
    color: rgba(255, 255, 255, 0.8);
    padding: 0 21px 0 0;
    position: relative; /* after 정렬의 기준*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.project .list ul li a .txt span::after{
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_1101' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_1101)'%3E%3Cpath d='M9.2684 7.5L4.56044 2.79203C4.43627 2.66786 4.3758 2.52005 4.37903 2.34859C4.38226 2.17714 4.44596 2.02927 4.57012 1.905C4.69429 1.78083 4.8421 1.71875 5.01356 1.71875C5.18502 1.71875 5.33288 1.78083 5.45715 1.905L10.242 6.69953C10.3549 6.81255 10.4386 6.93917 10.4931 7.07937C10.5477 7.21958 10.575 7.35979 10.575 7.5C10.575 7.64021 10.5477 7.78042 10.4931 7.92063C10.4386 8.06083 10.3549 8.18745 10.242 8.30047L5.44747 13.095C5.3233 13.2192 5.1771 13.2796 5.00887 13.2764C4.84054 13.2732 4.69429 13.2095 4.57012 13.0853C4.44596 12.9611 4.38387 12.8133 4.38387 12.6419C4.38387 12.4704 4.44596 12.3226 4.57012 12.1983L9.2684 7.5Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px){
/*********************************** 오버했을 때 641px 이상 (포함)에서만*********************************/

            .project .list ul li a:hover .photo::before{
                opacity: 1;
            }
            .project .list ul li a:hover .txt p{
                display: block; 
            }
            .project .list ul li a:hover .txt span{
                display: inline-block; /*그냥 block으로 하면 꽉차게 여백이 있어서 inline으로 바꿔줌*/
            }
/*********************************** 오버 끝 *********************************/
}/* @media */       

@media screen and (max-width:640px){ /*640px 이하 (포함)에서만 작동 */
                .project{
                    margin: 71px 0 0 0;
                }
                .project .wrapper{
                    display: block; /* flex 해제 / tit list 위아래 배치 */
                }
                .project .tit{
                    position: relative; /* sticky를 해제하기 위해서 다른 속성을 줌*/
                    top: auto; /* top 값을 지정하지 않은 것 처럼 취소하는 값 0이랑 다름 */
                }
                .project .wrapper .tit {
                    margin: auto;
                }
                .project .tit h2{
                    margin: 0 0 7px 0;
                }
                .project .list{
                    width: auto; /*block 요소 이기 때문에 100% 들어감 - auto 가능*/
                    margin: 24px 0 0 0; 
                }
                .project .list ul{
                    gap: 16px 16px;
                }
                .project .list ul li{
                    width: calc(50% - 8px);
                    /* 1000% / 한줄에 보일 li 갯수 = 100% / 2 = 50%
                    한줄에 있는 여백의 총합 / 한줄에 보일 li 갯수 = 16 / 2 = 8px */
                }
                .project .list ul li:nth-child(even){ /*even : 짝수 odd - 홀수*/
                    transform: none; /* 짝수 사진 위로 올린 것 취소 */
                }
                .project .list ul li a .photo{
                    border-radius: 10px;
                    height: 85px;
                }
                .project .list ul li a .txt{
                    position: relative; /* absolute -> 해제하기 */
                    left: auto;
                    bottom: auto;
                    color: #1d1d1d;
                    width: auto;
                    padding: 8px 0 0 0;
                }
                .project .list ul li a .txt h3{
                    font-family: 'Gmarket Sans'; 
                    font-weight: 500;
                    font-size: 15px;
                }
}/* @media */


.news{
    margin: 128px 0 0 0;
    padding: 148px 0 146px 0;
    background-color: #f6f6f6;
}
.news .wrapper{
    position: relative;
}
.news .tit h2{
    color: #0047AB;
    margin: 0 0 11px 0;
}
.news .list{
    margin: 62px 0 0 0;
}
.news .list ul li{
    margin: 8px 0 0 0;
}
.news .list ul li:first-child{
    margin-top: 0;
}
.news .list ul li a{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #06275A;
    padding: 25px 40px; 
    align-items: center;
}
.news .list ul li a .subject{
    display: flex; /* strong, h3 좌우 배치 */
    width: calc(100% - 153px); /* date 날짜의 넓이 + subject 의 여백 = 153px //calc(100% - 153px) */
    justify-content: space-between;
    align-items: center;
}
.news .list ul li a .subject strong{
    display: block;
    padding: 3px 16px;
    background-color: #0047AB;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
}
.news .list ul li a .subject h3{
    font-family: 'Gmarket Sans'; 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    width: calc(100% - 135px); /* calc(100% - (strong 넓이 + 둘 사이 여백)) */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1d1d1d;
}
.news .list ul li a .date{
    color: #0047AB;
    width: 153px; /* 날짜 넓이(넉넉하게) + 제목과의 여백 */
    text-align: right;
}
.news .more{
    position: absolute; /*wrapper을 기준으로 정렬*/
    top: 58px;
    right: 0;
    border: 1px solid #0047AB;
    padding: 3px 28px 3px 15px;
    border-radius: 30px;
    color: #0047AB;
    font-size: 15px;
}
.news .more::after{
    content: "";
    position: absolute; /* more을 기준으로 정렬 */
    right: 8px;
    top: 6px;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_1349' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_1349)'%3E%3Cpath d='M7.96842 9.03092H4.42676C4.27624 9.03092 4.15009 8.97998 4.04833 8.8781C3.94645 8.77622 3.89551 8.65002 3.89551 8.4995C3.89551 8.34886 3.94645 8.22272 4.04833 8.12107C4.15009 8.01931 4.27624 7.96842 4.42676 7.96842H7.96842V4.42676C7.96842 4.27624 8.01937 4.15009 8.12125 4.04833C8.22313 3.94645 8.34933 3.89551 8.49985 3.89551C8.65049 3.89551 8.77663 3.94645 8.87828 4.04833C8.98004 4.15009 9.03092 4.27624 9.03092 4.42676V7.96842H12.5726C12.7231 7.96842 12.8493 8.01937 12.951 8.12125C13.0529 8.22313 13.1038 8.34933 13.1038 8.49985C13.1038 8.65049 13.0529 8.77663 12.951 8.87828C12.8493 8.98004 12.7231 9.03092 12.5726 9.03092H9.03092V12.5726C9.03092 12.7231 8.97998 12.8493 8.8781 12.951C8.77622 13.0529 8.65002 13.1038 8.4995 13.1038C8.34886 13.1038 8.22272 13.0529 8.12107 12.951C8.01931 12.8493 7.96842 12.7231 7.96842 12.5726V9.03092Z' fill='%230047AB'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (min-width:641px){ /* 641 이상 // pc 용 /모바일은 hover가 안들어가서! */
                .news .list ul li a:hover {
                    box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.25);
                }
                .news .list ul li a:hover .subject h3{
                    color: #0047AB;
                }
                .news .more:hover{
                    border: 1px solid #3FE0D0;
                    color: #fff;
                    background-color: #3FE0D0;
                }
                .news .more:hover::after{
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_1349' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_1349)'%3E%3Cpath d='M7.96842 9.03092H4.42676C4.27624 9.03092 4.15009 8.97998 4.04833 8.8781C3.94645 8.77622 3.89551 8.65002 3.89551 8.4995C3.89551 8.34886 3.94645 8.22272 4.04833 8.12107C4.15009 8.01931 4.27624 7.96842 4.42676 7.96842H7.96842V4.42676C7.96842 4.27624 8.01937 4.15009 8.12125 4.04833C8.22313 3.94645 8.34933 3.89551 8.49985 3.89551C8.65049 3.89551 8.77663 3.94645 8.87828 4.04833C8.98004 4.15009 9.03092 4.27624 9.03092 4.42676V7.96842H12.5726C12.7231 7.96842 12.8493 8.01937 12.951 8.12125C13.0529 8.22313 13.1038 8.34933 13.1038 8.49985C13.1038 8.65049 13.0529 8.77663 12.951 8.87828C12.8493 8.98004 12.7231 9.03092 12.5726 9.03092H9.03092V12.5726C9.03092 12.7231 8.97998 12.8493 8.8781 12.951C8.77622 13.0529 8.65002 13.1038 8.4995 13.1038C8.34886 13.1038 8.22272 13.0529 8.12107 12.951C8.01931 12.8493 7.96842 12.7231 7.96842 12.5726V9.03092Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
}/*@media*/

@media screen and (max-width:640px){ /* 641 이하 // news 모바일용 */
                .news{
                    margin: 71px 0 0 0;
                    padding: 0;/*패딩 없애기 - 0으로 처리*/
                    background-color: transparent; /*배경색 없애기*/
                }
                .news .tit{
                    margin-right: 36px;
                    /* 더보기 아이콘 들어갈 영역을 여백처리함
                    - 중복되어 보이지 않게 하기 위해서*/
                    /* 브라우저가 줄어들어도 겹치지 않게 */
                }
                .news .tit h2{
                    margin: 0 0 7px 0;
                }
                .news .list{
                    margin: 24px 0 56px 0;
                }
                .news .list ul li{
                    margin: 0;
                }
                .news .list ul li:nth-last-child(1),
                .news .list ul li:nth-last-child(2){
                    display: none; /* 마지막줄 기준으로 2개 없앰 */
                }
                .news .list ul li a{
                    display: block;
                    background-color: transparent; /*배경색 없애기*/
                    border: 0;
                    border-bottom: 1px solid #ccc;
                    padding:17px 0 15px 0; 
                }
                .news .list ul li:first-child a{
                    padding-top: 0;
                }
                .news .list ul li a .subject{
                    display: block;
                    width: auto; 
                }
                .news .list ul li a .subject strong{
                    display: inline-block;
                }
                .news .list ul li a .subject h3{
                    font-size: 16px;
                    width: auto;
                    /*한줄 제한 -> 무제한 줄바꿈*/
                    white-space: normal; /*원래대로*/
                    overflow: visible; /*다 보여주기*/
                    margin: 12px 0 7px 0;
                }
                .news .list ul li a .date{
                    width: auto;
                    text-align: left;
                }
                .news .more{
                    top: 28px;
                    right: 0;
                    padding: 0;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                }
                .news .more span{
                    display: none; /*더보기 글자 없애기*/
                }
                .news .more::after{
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-size: 17px;
                }
}/*@media*/


.webzine{
    background-color: #0047AB;
    color: #fff;
    padding: 147px 0 140px 0; /*padding 그림자 때문에 늘어난 만큼 빼줘야함*/
    position: relative; /*more정렬의 기준*/
}
.webzine .tit h2{
    color: #3FE0D0;
    margin: 0 0 11px 0;
}
.webzine .tit p{
    color: #fff;
}
.webzine .list{
    padding: 60px 0 10px 0; 
    /*패딩은 내부 여백이라 hover해도 사이즈가 잘 밖으로 나감
      padding 그림자 때문에 늘어난 만큼 밑에 10px 더 줘야 함*/
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px); /*콘텐츠 절반 위치에서 wrapper의 반 앞으로 위치*/
    overflow: hidden; /* 가로스크롤바 삭제 */
}
.webzine .list ul{
    display: flex;
    gap: 24px;
    width: 1605px; /* 콘텐츠 밖으로 나가기 때문에 계산 하는 것 */
    /* li의 넓이 * li의 갯수 + li의 여백 * li의 갯수 
        297 * 5 + 24 * 5 = 1485 + 120 = 1605
    */
}
.webzine .list ul li{
    width: 297px;
}
.webzine .list ul li a{
    display: block;
    background-color: #fff;
    border-radius: 20px;
    color: #1d1d1d;
    overflow: hidden; /* photo가 밖으로 삐져나가서 준 것 */
    transition: 0.5s; /*움직이는 오버효과 주려고 미리 준 것 - 부드럽게*/
}
.webzine .list ul li a .photo{
    overflow: hidden;
    height: 198px;
}
.webzine .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition : 0.5s 사진 커지는 효과 - 오버 이후 부드럽게 효과 */
}
.webzine .list ul li a .txt{
    padding: 25px 23px 26px 23px;
}
.webzine .list ul li a .txt strong{
    color: #0047AB;
    display: block;
    /* 1줄 제한 - 넓이가 제한이 되어야 함 (block요소여야 함)*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* strong 태그가 inline 태그라서 한줄 제한이 제대로 안들어감 */

}
.webzine .list ul li a .txt h3{
    font-family: 'Gmarket Sans'; 
    font-weight: 700;
    font-size: 20px;

    color: #1d1d1d;
    margin: 8px 0 11px 0;

    /* 2줄 제한 - 조건 block요소여야 함, 절대 padding 안됨 
        행간 지정 ...행간을 알면 안줘도 됨..
        height: 행간 * 줄 수 = 1.2 * 2 = 2.4em (단위는 em)

        2줄 이상 제한 끝에 ... 이 자동으로 생성되지 않음

        ex) 삼성 sdi 사이트 2줄 ... 적용 사례
        (다른 브라우저에서 적용이 안될 수도 있어서 아직 많이 사용하지는 않음)
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        하고 싶으면 위 코드 넣어주기 - 요즘 스타일
    */
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.webzine .list ul li a .txt p{
    line-height: 1.5;
    height: 3em;
    overflow: hidden; /*2줄 제한 */
    color: #1d1d1d;
    margin: 0 0 22px 0;
}
.webzine .list ul li a .txt .date{
    color: #0047AB;
    display: block;
}
.webzine .more{
    position: absolute; /*webzine을 기준으로 정렬*/
    right: calc(50% - 630px);
    /*브라우저 사이즈가 바뀌어도 가운데는 변하지 않음
    그 가운데로부터 wrapper 사이즈의 1260의 절반을 더 오른쪽으로 이동*/
    top: 186px;
    border: 1px solid #fff;
    padding: 3px 28px 3px 15px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;

}
.webzine .more::after{
    content: "";
    position: absolute; /* more을 기준으로 정렬 */
    right: 8px;
    top: 6px;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_1349' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_1349)'%3E%3Cpath d='M7.96842 9.03092H4.42676C4.27624 9.03092 4.15009 8.97998 4.04833 8.8781C3.94645 8.77622 3.89551 8.65002 3.89551 8.4995C3.89551 8.34886 3.94645 8.22272 4.04833 8.12107C4.15009 8.01931 4.27624 7.96842 4.42676 7.96842H7.96842V4.42676C7.96842 4.27624 8.01937 4.15009 8.12125 4.04833C8.22313 3.94645 8.34933 3.89551 8.49985 3.89551C8.65049 3.89551 8.77663 3.94645 8.87828 4.04833C8.98004 4.15009 9.03092 4.27624 9.03092 4.42676V7.96842H12.5726C12.7231 7.96842 12.8493 8.01937 12.951 8.12125C13.0529 8.22313 13.1038 8.34933 13.1038 8.49985C13.1038 8.65049 13.0529 8.77663 12.951 8.87828C12.8493 8.98004 12.7231 9.03092 12.5726 9.03092H9.03092V12.5726C9.03092 12.7231 8.97998 12.8493 8.8781 12.951C8.77622 13.0529 8.65002 13.1038 8.4995 13.1038C8.34886 13.1038 8.22272 13.0529 8.12107 12.951C8.01931 12.8493 7.96842 12.7231 7.96842 12.5726V9.03092Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px){ /******* more 오버 효과 *********/
    .webzine .more:hover{
        color: #0047AB;
        background-color: #fff;
    
    }
    .webzine .more:hover::after{
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_1349' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_1349)'%3E%3Cpath d='M7.96842 9.03092H4.42676C4.27624 9.03092 4.15009 8.97998 4.04833 8.8781C3.94645 8.77622 3.89551 8.65002 3.89551 8.4995C3.89551 8.34886 3.94645 8.22272 4.04833 8.12107C4.15009 8.01931 4.27624 7.96842 4.42676 7.96842H7.96842V4.42676C7.96842 4.27624 8.01937 4.15009 8.12125 4.04833C8.22313 3.94645 8.34933 3.89551 8.49985 3.89551C8.65049 3.89551 8.77663 3.94645 8.87828 4.04833C8.98004 4.15009 9.03092 4.27624 9.03092 4.42676V7.96842H12.5726C12.7231 7.96842 12.8493 8.01937 12.951 8.12125C13.0529 8.22313 13.1038 8.34933 13.1038 8.49985C13.1038 8.65049 13.0529 8.77663 12.951 8.87828C12.8493 8.98004 12.7231 9.03092 12.5726 9.03092H9.03092V12.5726C9.03092 12.7231 8.97998 12.8493 8.8781 12.951C8.77622 13.0529 8.65002 13.1038 8.4995 13.1038C8.34886 13.1038 8.22272 13.0529 8.12107 12.951C8.01931 12.8493 7.96842 12.7231 7.96842 12.5726V9.03092Z' fill='%230047AB'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}

@media screen and (min-width:641px){ /********* webzine 오버 효과 *********/
                /* 사진이 커지는 효과
                .webzine .list ul li a:hover .photo img{
                    transform : scale3d(1.2, 1.2, 1);
                } */
                .webzine .list ul li:hover a{
                    transform: translate(0, -10px); /*왼쪽은 그냥 주지 않기! - 왼쪽히면 복잡해짐*/
                    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.25);
                } 
}/* @media */

@media screen and (max-width:640px){ /* webzine 모바일 */
                .webzine{
                    padding: 71px 0 56px 0;
                }
                .webzine .tit{
                    margin-right: 56px; /* 브라우저가 줄어들어도 겹치지 않게 */
                }
                .webzine .tit h2{
                    margin: 0 0 7px 0;
                }
                .webzine .list{
                    padding: 24px 0 10px 20px; 
                    width: 100%; /*position 속성이 있는 요소는 넓이 auto 주면 100% 안됨*/
                    left: 0;
                    overflow-x: auto; /* overflow-x 좌우 - auto
                    list 안에 있는 요소가 list보다 넓이가 더 크면
                    그때만 가로스크롤바가 생김*/
                }
                .webzine .list ul{
                    gap: 16px;
                    width: 1330px; /* 콘텐츠 밖으로 나가기 때문에 계산 하는 것 */
                    /* li의 넓이 * li의 갯수 + li의 여백 * li의 갯수 
                        250 * 5 + 16 * 5 = 1250 + 80 = 1330
                    */
                }
                .webzine .list ul li{
                    width: 250px;
                }
                .webzine .list ul li a{
                    border-radius: 10px;
                }
                .webzine .list ul li a .photo{
                    height: 190px;
                }
                .webzine .list ul li a .txt{
                    padding: 20px 15px 22px 15px;
                }
                .webzine .list ul li a .txt h3{
                    font-size: 17px;
                    margin: 10px 0 4px 0;
                }
                .webzine .list ul li a .txt p{
                    margin: 0 0 16px 0;
                }
                .webzine .more{
                    right: 20px;
                    top: 95px;
                    border: 1px solid #fff;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                .webzine .more span{
                    display: none; /* '더보기' 글자- 숨김 */
                }
                .webzine .more::after{
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_3253' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_3253)'%3E%3Cpath d='M7.96842 9.03092H4.42676C4.27624 9.03092 4.15009 8.97998 4.04833 8.8781C3.94645 8.77622 3.89551 8.65002 3.89551 8.4995C3.89551 8.34886 3.94645 8.22272 4.04833 8.12107C4.15009 8.01931 4.27624 7.96842 4.42676 7.96842H7.96842V4.42676C7.96842 4.27624 8.01937 4.15009 8.12125 4.04833C8.22313 3.94645 8.34933 3.89551 8.49985 3.89551C8.65049 3.89551 8.77663 3.94645 8.87828 4.04833C8.98004 4.15009 9.03092 4.27624 9.03092 4.42676V7.96842H12.5726C12.7231 7.96842 12.8493 8.01937 12.951 8.12125C13.0529 8.22313 13.1038 8.34933 13.1038 8.49985C13.1038 8.65049 13.0529 8.77663 12.951 8.87828C12.8493 8.98004 12.7231 9.03092 12.5726 9.03092H9.03092V12.5726C9.03092 12.7231 8.97998 12.8493 8.8781 12.951C8.77622 13.0529 8.65002 13.1038 8.4995 13.1038C8.34886 13.1038 8.22272 13.0529 8.12107 12.951C8.01931 12.8493 7.96842 12.7231 7.96842 12.5726V9.03092Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
}/* @media */


.service{
    margin: 175px 0 0 0;
}
.service .tit h2{
    color: #0047AB;
    margin: 0 0 11px 0;
}
.service .list{
    margin: 66px 0 0 0;
}
.service .list ul{
    display: flex;
    justify-content: space-between;
}
.service .list ul li{
    width: calc(33.33% - 16px);
    /*한줄에 나올 li의 갯수 - (여백 총합 / li갯수)
    33.33% - (48 / 3) 16px */

}
.service .list ul li a{
    display: block;
    background-color: #f6f6f6;
    padding: 20px 0px 27px 32px; /*block이라서 오른쪽은 알아서 꽉 채워서 들어감*/
    position: relative;
    /*transition: 0.5s;  - 전체적으로 부드러운 효과 줄 때 필요함 */
    /*transition: transform 0.5s- 그냥 부드럽게 이동만 하고 싶을 때 - 제한해주기 */
}
.service .list ul li a::after{
    content: "";
    position: absolute;
    right: 32px;
    top: 30px;
    width: 32px;
    height: 32px;
    background-color: #0047AB;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_3744' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%230047AB'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_3744)'%3E%3Cpath d='M11.7775 9.0304H3.71875C3.56799 9.0304 3.44179 8.97952 3.34015 8.87776C3.23838 8.77611 3.1875 8.64991 3.1875 8.49915C3.1875 8.34839 3.23838 8.22219 3.34015 8.12055C3.44179 8.01878 3.56799 7.9679 3.71875 7.9679H11.7775L8.11591 4.30635C8.0106 4.20104 7.9586 4.07779 7.9599 3.9366C7.96131 3.7954 8.01692 3.66985 8.12671 3.55994C8.23662 3.45735 8.36105 3.40423 8.5 3.40057C8.63895 3.39691 8.76338 3.45003 8.87329 3.55994L13.3643 8.05095C13.4306 8.1173 13.4774 8.18725 13.5046 8.2608C13.5318 8.33435 13.5455 8.4138 13.5455 8.49915C13.5455 8.58451 13.5318 8.66396 13.5046 8.7375C13.4774 8.81105 13.4306 8.881 13.3643 8.94735L8.87329 13.4384C8.77519 13.5365 8.65371 13.5866 8.50885 13.5889C8.364 13.5911 8.23662 13.5409 8.12671 13.4384C8.01692 13.3285 7.96202 13.2022 7.96202 13.0598C7.96202 12.9171 8.01692 12.7909 8.12671 12.681L11.7775 9.0304Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 17px;
}
.service .list ul li a h3{
    /*display: block; /*inline 태그라서 한줄로 들어가기 때문에 block 줘야함*/
    color: #0047AB;
    font-size: 15px;
}
.service .list ul li a p{
    /*display: block; - inline 태그라서 한줄로 들어가기 때문에 block 줘야함*/
    font-family: 'Gmarket Sans'; 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 3px 0 0 0;
}
@media screen and (min-width:641px){ /**service 오버 스타일******/
                .service .list ul li a:hover{
                    background-color: #0047AB;
                    /* 그림자효과 box-sizing: 10px 10px 10px 0 rgba(0,0,0,0.25); */
                    /* 오버하면 살짝 이동하는 효과 transform: translate(-10px, -10px); 
                       => 이거 하면 hover를 li로 해줘야 됨*/
                }
                .service .list ul li a:hover::after{
                    background-color: #fff;
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_2181' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%230047AB'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_2181)'%3E%3Cpath d='M11.7775 9.0304H3.71875C3.56799 9.0304 3.44179 8.97952 3.34015 8.87776C3.23838 8.77611 3.1875 8.64991 3.1875 8.49915C3.1875 8.34839 3.23838 8.22219 3.34015 8.12055C3.44179 8.01878 3.56799 7.9679 3.71875 7.9679H11.7775L8.11591 4.30635C8.0106 4.20104 7.9586 4.07779 7.9599 3.9366C7.96131 3.7954 8.01692 3.66985 8.12671 3.55994C8.23662 3.45735 8.36105 3.40423 8.5 3.40057C8.63895 3.39691 8.76338 3.45003 8.87329 3.55994L13.3643 8.05095C13.4306 8.1173 13.4774 8.18725 13.5046 8.2608C13.5318 8.33435 13.5455 8.4138 13.5455 8.49915C13.5455 8.58451 13.5318 8.66396 13.5046 8.7375C13.4774 8.81105 13.4306 8.881 13.3643 8.94735L8.87329 13.4384C8.77519 13.5365 8.65371 13.5866 8.50885 13.5889C8.364 13.5911 8.23662 13.5409 8.12671 13.4384C8.01692 13.3285 7.96202 13.2022 7.96202 13.0598C7.96202 12.9171 8.01692 12.7909 8.12671 12.681L11.7775 9.0304Z' fill='%230047AB'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
                .service .list ul li a:hover h3{
                    color: #fff;
                }
                .service .list ul li a:hover p{
                    color: #fff;
                }
}/* @media */

@media screen and (max-width:640px){ /**service 모바일******/
                .service{
                    margin: 71px 0 0 0;
                }
                .service .tit h2{
                    margin: 0 0 7px 0;
                }
                .service .list{
                    margin: 24px 0 0 0;
                }
                .service .list ul li{
                    width: calc(33.33% - 10.66px);
                    /*한줄에 나올 li의 갯수 - (여백 총합 / li갯수)
                    33.33% - (32 / 3) 10.66px */
                }
                .service .list ul li a{
                    padding: 22px 10px 87px 10px; /*원래 위 아래만 여백줌 - 근데 답답해보여서 좌우에 여백 10px씩 줌*/
                    text-align: center;
                    height: 100%;
                }
                .service .list ul li a::after{
                    right: 50%; /* 중앙 위치 */
                    top: auto;
                    bottom: 22px;
                    transform: translateX(50%);
                    width: 32px;
                    height: 32px;
                }
                .service .list ul li a h3{
                    /* display: block; - inline 태그라서 한줄로 들어가기 때문에 block 줘야함*/
                    color: #1d1d1d;
                    font-size: 16px;
                    font-family: 'Gmarket Sans'; 
                    font-weight: 500;
                    line-height: 1.2;
                }
                .service .list ul li a p{
                    display: none; /*없어지는 글자 삭제*/
                }
}


footer{
    margin: 148px 0 0 0;
    padding: 93px 0 64px 0;
    background-color: #1d1d1d;
    color: #fff;
}
footer .f_nav ul{
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 - 모바일 고려 */
    gap: 3px 40px; /* 위아래값 - 좌우값 - 모바일 고려 */
}
footer .f_nav ul li{
    position: relative;
}
footer .f_nav ul li::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 6px;
    width: 1px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
}
footer .f_nav ul li:last-child:after{
    display: none;
}
footer .f_info{
    margin: 40px 0 16px 0;
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 - 모바일 고려 */
    gap: 3px 40px;
    color: rgba(255, 255, 255, 0.5);
}
footer .copyright{
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:640px){
                footer{
                    margin: 56px 0 0 0;
                    padding: 56px 0 46px 0;
                }
                footer .f_info{
                    margin: 28px 0 17px 0;
                    gap: 3px 38px;
                }
}












