@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual .swiper{
    width: 100%;
    height: 100%;
    height: 100dvh; /*높이가 줄어들어도 화면의 높이에 꽉 맞게*/
}
.visual .swiper .swiper-slide .photo{
    overflow: hidden;
    height: 100%;
}
.visual .swiper .swiper-slide .photo img,
.visual .swiper .swiper-slide .photo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper .swiper-slide .visual_txt{
    position: absolute; /*swiper-slide를 기준으로 정렬*/
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}
.visual .swiper .swiper-slide .visual_txt strong{
    font-weight: var(--bold-weight);
}
.visual .swiper .swiper-slide .visual_txt h3{
    font-size: var(--display-size);
    font-weight: var(--Extra-bold-weight);
    line-height: var(--tit-line-height);
    margin: 12px 0 28px 0;
}
.visual .swiper .swiper-slide .visual_txt a{
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 5px 30px;
    border-radius: 30px;
}

@media screen and (min-width: 769px) {
        .visual .swiper .paging {
            position: absolute; /* swiper를 기준으로 정렬*/
            left: 50%;
            bottom: 6%;
            z-index: 10;
            transform: translateX(-50%);
            width: calc(100% - 40px); /* 모바일 사이즈가 줄어들 때 생기는 여백*/
            max-width: 1260px; /*늘어나지 않도록*/
            color: #fff;
            display: flex;
        }

        .visual .swiper .paging .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
        .visual .swiper .paging .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0;
        }
        .visual .swiper .paging .swiper-pagination-bullet-active { /*active */
            opacity: 1;
            background: transparent;
        }
        .visual .swiper .paging .swiper-pagination-bullet { /*일반 */
            width: 25%;
            height: auto;
            display: block;
            border-radius: 0;
            background: transparent;
            opacity: 1;
            margin: 0;
            text-align: center;
            border-bottom: 4px solid rgba(255, 255, 255, 0.2);
            padding: 0 0 10px 0; /*밑 선이랑 여백주기*/
            position: relative; /*before 정렬의 기준*/
        }
        .visual .swiper .paging .swiper-pagination-bullet::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 4px;
            background-color: #fff;   
        }
        .visual .swiper .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before{
            animation-name: visual_paging;
            animation-duration: 5s;
            animation-iteration-count: 1; /*1번만 실행*/
            animation-fill-mode: forwards; /*마지막 100% 유지*/
            /*animation-timing-function: linear;가속도 삭제*/
        }
} /*@media visual pc paging */

@keyframes visual_paging {
    0% { width: 0; }
    100% { width: 100%; }
}

@media screen and (max-width:768px) {
            .visual .swiper{
                height: 800px;
            }
            .visual .swiper .swiper-slide .visual_txt h3{
                margin: 8px 0 13px 0;
            }
            .visual .swiper .swiper-slide .visual_txt h3 br{
                display: none;
            }
            .visual .swiper .swiper-slide .visual_txt a{
                padding: 3px 28px;
            }
            .visual .swiper .paging {
                position: absolute; /* swiper를 기준으로 정렬*/
                left: 50%;
                bottom: 39px;
                z-index: 10;
                transform: translateX(-50%);
                display: flex;
                width: auto;
                gap: 2px;
            }
            .visual .swiper .paging .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
            .visual .swiper .paging .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0;
            }
            .visual .swiper .paging .swiper-pagination-bullet.swiper-pagination-bullet-active { /*active*/
                opacity: 1;
                background: #fff;
                width: 46px;
            }
            .visual .swiper .paging .swiper-pagination-bullet { /*일반*/
                width: 13px;
                height: 5px;
                display: block;
                border-radius: 2.5px;
                background: rgba(255, 255, 255, 0.4);
                opacity: 1;
                margin: 0;
                /*글자 없애기*/
                font-size: 0;
                line-height: 0;   
            }
} /* @media visual 768 모바일 */


.tree .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tree .tit h2 {
    color: var(--point-font-color);
    font-size: var(--tree-size);
    font-weight: var(--Extra-bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 10px 0;
}
.tree .tit h2 strong {
    position: relative; /*after 정렬의 기준*/
}
.tree .tit h2 strong::after{
    content: "+";
    position: absolute;
    right: -20px;
    top: -10px;
    font-size: 30px;
    font-weight: var(--bold-weight);
}
.tree .tit{
    width: 40%;
}
.tree .tree_ani{
    position: relative; /*이미지 요소들 정렬의 기준*/
    max-width: 616px;
    width: calc(100% - 390px);
    width: 58%;
    margin: 5% 0 0 0;

}
.tree .tree_ani .img_tree{
    width: 81.49%; /*502 / 616 * 100*/
    position: relative; /*z-index는 무조건 position있어야 함*/
    z-index: 2;
}
.tree .tree_ani .img_sun{
    position: absolute;
    left: -5%;
    top: -5%;
    width: 28%;
    animation: tree_rotate 7s linear infinite;
}
.tree .tree_ani .img_been1{
    position: absolute;
    width: 25%;
    right: 3%;
    bottom: 15%;
    animation: tree_size 5s linear infinite;
}
.tree .tree_ani .img_been2{
    position: absolute;
    width: 18%;
    left: -1%;
    bottom: 15%;
    animation: tree_size 7s linear infinite;
}
.tree .tree_ani .img_leaf1{
    position: absolute;
    width: 19%;
    right: -4%;
    top: 27%;
    animation: tree_up 3s linear infinite;
}
.tree .tree_ani .img_leaf2{
    position: absolute;
    width: 12%;
    left: -11%;
    top: 43%;
    animation: tree_down 5s linear infinite;
}
@keyframes tree_up {
    /*왔다갔다 반복하는 애니메이션은 0%, 100% 같아야 함*/
    0% {transform: translateY(0);}
    50% {transform: translateY(30%);}
    100% {transform: translateY(0);}
}
@keyframes tree_down{
    /*왔다갔다 반복하는 애니메이션은 0%, 100% 같아야 함*/
    0% {transform: translateY(0);}
    50% {transform: translateY(-80%);}
    100% {transform: translateY(0);}
}
@keyframes tree_size {
    /*왔다갔다 반복하는 애니메이션은 0%, 100% 같아야 함*/
    0% {transform: scale(100%);}
    50% {transform: scale(80%);}
    100% {transform: scale(100%);}
}
@keyframes tree_rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@media screen and (max-width:768px) {
            .tree{
                margin: 64px 0 45px 0;
                text-align: center;
            }
            .tree .wrapper{
                display: block;
            }
            .tree .tit h2 {
                margin: 0 0 9px 0;
            }
            .tree .tit h2 strong::after{
                right: -16px;
                top: -5px;
                font-size: 20px;
            }
            .tree .tit p br{
                display: none;
            }
            .tree .tit{
                width: auto;
            }
            .tree .tree_ani{
                max-width: 400px;
                width: 80%;
                margin: 27px auto 0 auto;
            }
}/* @media tree 768 모바일 */


.work{
    background-color: #001931;
    color: #fff;
}
.work .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work .tit h2{
    font-size: var(--tit-size);
    font-weight: var(--Extra-bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 14px 0;
}
.work .tit h2 strong{
    color: var(--point-font-color);
}
.work .list{
    width: 532px;
}
.work .list ul{
    display: flex;
    flex-wrap: wrap; /*줄바꿈 허용*/
    gap: 24px;
}
.work .list ul li{
    width: calc(50% - 12px);
}
.work .list ul li a{
    display: block;
    background-color: #fff;
    color: var(--tit-font-color);
    height: 158px;
    border-radius: 20px;
    position: relative; /*before정렬의 기준*/
    padding: 106px 0 0 30px;
    font-size: var(--work-size);
    font-weight: var(--bold-weight);
}
.work .list ul li a::before{
    content: "";
    position: absolute;
    left: -24px;
    top: -8px;
    width: 48px;
    height: 25px;
    background-color: #001931;
    transform: rotate(-45deg);
}
.work .list ul li a span{
    display: block;
    position: relative; /*before, after 정렬의 기준*/
}
.work .list ul li a span::after{
    content: "";
    position: absolute;
    right: 30px;
    bottom: -1px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--point-font-color);
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.31288 6.0001L0.210937 1.89815L1.1506 0.958496L6.1922 6.0001L1.1506 11.0417L0.210937 10.102L4.31288 6.0001Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.work .list ul li a span::before{
    content: "";
    position: absolute;
    left: 0;
    top: -68px;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.work .list ul li.work01 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41_1348)'%3E%3Cpath d='M56.2357 55.5026H55.7697V45.8062C55.7697 45.4088 55.4155 45.0575 55.0054 45.0575H50.9231V21.2742C50.9231 20.8768 50.5689 20.5255 50.1588 20.5255H43.8954V16.6063C43.8954 16.2088 43.5413 15.8576 43.1312 15.8576C42.7211 15.8576 42.3669 16.2088 42.3669 16.6063V20.5255H35.9171C35.507 20.5255 35.1529 20.8768 35.1529 21.2742V25.1934H30.0266C29.6165 25.1934 29.2623 25.5447 29.2623 25.9421V45.3441L28.5633 44.9651C27.2118 44.2256 25.7578 43.8466 24.2293 43.8466H21.8526C19.9512 43.8466 18.0591 44.4474 16.5306 45.5289L15.8409 46.0188L14.2098 19.7028L14.6199 19.6289C16.3628 19.3146 17.677 17.7802 17.677 16.0609C17.677 14.3417 16.2976 12.7333 14.4708 12.4745L14.07 12.419V10.367C14.07 8.98049 13.0447 7.85279 11.6374 7.69565L11.2179 7.64944V3.74872C11.2179 3.35125 10.8638 3 10.4537 3C10.0436 3 9.68937 3.35125 9.68937 3.74872V7.65868L9.24199 7.68641C7.76004 7.7696 6.65091 8.92503 6.65091 10.3762V12.4283L6.25945 12.493C4.47924 12.7795 3.1371 14.3232 3.1371 16.0702C3.1371 17.8172 4.52584 19.4071 6.36197 19.6566L6.80003 19.7121L4.51652 55.5211H2.76428C2.35418 55.5211 2 55.8723 2 56.2698C2 56.6672 2.35418 57.0185 2.76428 57.0185H56.1425C56.5526 57.0185 56.9441 56.658 57 56.2698C57 55.8723 56.6458 55.5211 56.2357 55.5211V55.5026ZM8.17946 10.4594C8.17946 9.73845 8.77597 9.15611 9.50297 9.15611H11.4043C12.1313 9.15611 12.7278 9.73845 12.7278 10.4594V12.419H8.17946V10.4594ZM4.57245 16.0609C4.57245 14.8223 5.58837 13.824 6.84664 13.824H13.9675C15.263 13.824 16.2417 14.7853 16.2417 16.0609C16.2417 17.3365 15.2257 18.2978 13.9675 18.2978H6.84664C5.55109 18.2978 4.57245 17.3365 4.57245 16.0609ZM5.87731 55.5026L8.20742 19.6936H12.7931L14.8436 52.5632C14.8436 52.5632 14.8156 52.748 14.8156 52.7665L14.9834 54.7539L15.03 55.5118H5.87731V55.5026ZM15.9993 48.533L15.962 47.8768L16.0925 47.7381C17.4999 46.1575 19.5318 45.2516 21.6662 45.2516H24.0429C26.1679 45.2516 28.1066 46.065 29.514 47.544C30.5113 48.6255 31.201 49.975 31.5272 51.5187L31.6111 52.0548H16.2137L15.9993 48.533ZM31.6297 55.5026H16.4747L16.3162 53.4505H31.639V55.5026H31.6297ZM43.504 29.8613H37.1474C36.7373 29.8613 36.3832 30.2126 36.3832 30.6101C36.3832 31.0075 36.7373 31.3588 37.1474 31.3588H43.504V34.5293H37.1474C36.7373 34.5293 36.3832 34.8805 36.3832 35.278C36.3832 35.6755 36.7373 36.0267 37.1474 36.0267H43.504V39.1972H37.1474C36.7373 39.1972 36.3832 39.5484 36.3832 39.9459C36.3832 40.3434 36.7373 40.6946 37.1474 40.6946H43.504V43.8651H37.1474C36.7373 43.8651 36.3832 44.2164 36.3832 44.6138C36.3832 45.0113 36.7373 45.3625 37.1474 45.3625H43.504V55.5303H33.1583V53.0161L33.1862 52.8682L33.2235 52.785C33.2235 52.785 33.2515 52.7203 33.2608 52.7203C33.2608 50.6313 32.422 48.533 30.9121 46.8322L30.7909 46.7028V45.3625H33.6336C33.9319 45.3625 34.3327 45.0113 34.3979 44.6138C34.3979 44.2164 34.0437 43.8651 33.6336 43.8651H30.7909V40.6946H33.6336C33.9598 40.6946 34.3979 40.3249 34.3979 39.9459C34.3979 39.5484 34.0437 39.1972 33.6336 39.1972H30.7909V36.0267H33.6336C33.9598 36.0267 34.3979 35.657 34.3979 35.278C34.3979 34.8805 34.0437 34.5293 33.6336 34.5293H30.7909V31.3588H33.6336C33.9319 31.3588 34.3327 31.0075 34.3979 30.6101C34.3979 30.2126 34.0437 29.8613 33.6336 29.8613H30.7909V26.6909H43.504V29.8613ZM49.4877 55.5026H45.0325V25.9421C45.0325 25.5447 44.6784 25.1934 44.2683 25.1934H36.6721V22.0229H49.4877V55.5026ZM54.2318 55.5026H50.9137V46.4533H54.2318V55.5026Z' fill='%23099808'/%3E%3Cpath d='M28.2185 16.1535C30.8934 16.1535 33.0651 14.0183 33.0651 11.3932C33.0651 8.76804 30.8934 6.63281 28.2185 6.63281C25.5435 6.63281 23.3718 8.76804 23.3718 11.3932C23.3718 14.0183 25.5435 16.1535 28.2185 16.1535ZM28.2185 8.03781C30.1012 8.03781 31.6297 9.54449 31.6297 11.3932C31.6297 13.2419 30.1012 14.7485 28.2185 14.7485C26.3357 14.7485 24.8072 13.2419 24.8072 11.3932C24.8072 9.54449 26.3357 8.03781 28.2185 8.03781Z' fill='%23099808'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_1348'%3E%3Crect width='55' height='54' fill='white' transform='translate(2 3)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work02 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41_1360)'%3E%3Cpath d='M16.1982 38.6863V35.1768H4.62622V38.6863H6.37471H16.1982Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M16.1983 51.5992V39.8594H6.94824V51.5992H16.1983ZM12.7201 45.1428C12.7201 44.809 12.974 44.5515 13.303 44.5515C13.632 44.5515 13.8858 44.809 13.8858 45.1428V46.3158C13.8858 46.6496 13.632 46.9071 13.303 46.9071C12.974 46.9071 12.7201 46.6496 12.7201 46.3158V45.1428ZM9.25136 45.1428C9.25136 44.809 9.50518 44.5515 9.83419 44.5515C10.1632 44.5515 10.417 44.809 10.417 45.1428V46.3158C10.417 46.6496 10.1632 46.9071 9.83419 46.9071C9.50518 46.9071 9.25136 46.6496 9.25136 46.3158V45.1428Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M29.9983 14.5495C30.0547 14.4255 30.0735 14.273 30.0735 14.1585V10.5155H37.6033C37.9323 10.5155 38.1861 10.258 38.1861 9.92418V5.24162C38.1861 4.90783 37.9323 4.65033 37.6033 4.65033H30.0735V4.05905C30.0735 3.72527 29.8197 3.46777 29.4907 3.46777C29.1617 3.46777 28.9078 3.72527 28.9078 4.05905V14.1776C28.9078 14.292 28.9454 14.416 28.983 14.5686L15.0891 24.6299H43.864L29.9889 14.5495H29.9983Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M42.8018 51.5992H52.0518V39.8594H42.8018V51.5992ZM48.5831 45.1428C48.5831 44.809 48.8369 44.5515 49.1659 44.5515C49.4949 44.5515 49.7487 44.809 49.7487 45.1428V46.3158C49.7487 46.6496 49.4949 46.9071 49.1659 46.9071C48.8369 46.9071 48.5831 46.6496 48.5831 46.3158V45.1428ZM45.1049 45.1428C45.1049 44.809 45.3587 44.5515 45.6877 44.5515C46.0167 44.5515 46.2705 44.809 46.2705 45.1428V46.3158C46.2705 46.6496 46.0167 46.9071 45.6877 46.9071C45.3587 46.9071 45.1049 46.6496 45.1049 46.3158V45.1428Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M54.3738 38.6863V35.1768H42.8018V38.6863H52.6253H54.3738Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M45.1049 25.793H13.8765V29.3025H45.1049V25.793Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M54.9471 57.3409H52.0611V52.7633H42.811V57.3409H41.6548V30.4854H17.3451V57.3409H16.1888V52.7633H6.92935V57.3409H4.0528C3.72378 57.3409 3.46997 57.5984 3.46997 57.9322C3.46997 58.266 3.72378 58.5235 4.0528 58.5235H54.9565C55.2855 58.5235 55.5393 58.266 55.5393 57.9322C55.5205 57.6175 55.2667 57.3409 54.9565 57.3409H54.9471ZM31.2296 34.5862C31.2296 34.2524 31.4834 33.9949 31.8125 33.9949H36.4375C36.7665 33.9949 37.0203 34.2524 37.0203 34.5862V39.2783C37.0203 39.6121 36.7665 39.8695 36.4375 39.8695H31.8125C31.4834 39.8695 31.2296 39.6121 31.2296 39.2783V34.5862ZM21.9795 34.5862C21.9795 34.2524 22.2334 33.9949 22.5624 33.9949H27.1874C27.5164 33.9949 27.7703 34.2524 27.7703 34.5862V39.2783C27.7703 39.6121 27.5164 39.8695 27.1874 39.8695H22.5624C22.2334 39.8695 21.9795 39.6121 21.9795 39.2783V34.5862ZM24.2827 46.326C24.2827 45.9922 24.5365 45.7347 24.8655 45.7347H34.1156C34.4446 45.7347 34.6984 45.9922 34.6984 46.326V57.36H33.5422V46.9077H25.4577V57.36H24.3015V46.326H24.2827Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_1360'%3E%3Crect width='53' height='56' fill='white' transform='translate(3 3)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work03 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41_1377)'%3E%3Cpath d='M26.4132 30.0498C26.3224 29.7767 26.0501 29.5035 25.7777 29.5946L22.4005 30.241C20.2943 30.6962 18.6511 32.071 17.9249 33.9102L16.9172 29.0483L19.7496 28.502C23.1359 27.7645 25.3238 24.4686 24.5975 21.0817C24.5975 20.8996 24.5067 20.8085 24.3252 20.7175C24.2344 20.6264 24.0528 20.6264 23.8713 20.6264L20.4941 21.3548C18.3879 21.81 16.7447 23.1848 16.0184 25.024L15.0107 20.1621L17.8432 19.6158C21.2294 18.8783 23.4173 15.5824 22.6911 12.1955C22.6911 12.0134 22.6003 11.9223 22.4187 11.8313C22.3279 11.7402 22.1463 11.7402 21.9648 11.7402L18.5876 12.4777C16.9444 12.8419 15.5735 13.7615 14.5658 15.2273C14.2027 15.7736 13.9303 16.4201 13.7397 17.0574H13.5581C12.3689 15.5915 10.6349 14.6719 8.61945 14.6719C8.16553 14.6719 7.79332 14.6719 7.33939 14.763L3.96221 15.5005C3.68986 15.5915 3.4175 15.8647 3.50829 16.1378C4.14378 19.0695 6.7039 21.1818 9.63624 21.1818C10.0902 21.1818 10.4624 21.1818 10.9163 21.0908L13.7488 20.5445L14.7565 25.4064C13.658 24.3047 12.1056 23.6674 10.4624 23.6674C10.0085 23.6674 9.63624 23.6674 9.18232 23.7584L5.79606 24.4959C5.61449 24.4959 5.5237 24.587 5.43292 24.7691C5.34213 24.8601 5.34213 25.0422 5.34213 25.2243C5.9867 28.156 8.53775 30.2683 11.4701 30.2683C11.924 30.2683 12.2962 30.2683 12.7501 30.1773L15.5826 29.631L16.5903 34.4929C15.4918 33.3912 13.9394 32.7539 12.2962 32.7539C11.8423 32.7539 11.4701 32.7539 11.0162 32.8449L7.6299 33.5824C7.44833 33.5824 7.35755 33.6735 7.26676 33.8556C7.17598 33.9466 7.17598 34.1287 7.17598 34.3108C7.81147 37.2425 10.3716 39.3548 13.3039 39.3548C13.7579 39.3548 14.1301 39.3548 14.584 39.2638L17.4165 38.7175L20.9843 56.1348C21.0751 56.4079 21.2567 56.59 21.529 56.59H21.6198C21.8922 56.499 22.1645 56.2258 22.0737 55.9527L18.5059 38.5354L21.3384 37.9891C24.997 36.7964 27.1849 33.5005 26.4586 30.1044L26.4132 30.0498Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M15.2649 10.0744C15.3557 10.3475 15.5372 10.5296 15.8096 10.5296H15.9004C16.1727 10.4386 16.4451 10.1654 16.3543 9.89227L15.6189 6.50532C15.5282 6.23218 15.2558 5.95904 14.9834 6.05009C14.7111 6.14113 14.4387 6.41427 14.5295 6.68742L15.2649 10.0835V10.0744Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M12.4324 13.0065C12.5232 13.2797 12.7048 13.4618 12.9771 13.4618H13.0679C13.3403 13.3707 13.6126 13.0976 13.5218 12.8153L11.6971 3.92915C11.6063 3.65601 11.3339 3.38287 11.0616 3.47391C10.7892 3.56496 10.5169 3.8381 10.6077 4.11124L12.4324 13.0065Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M8.59227 11.5405C8.68306 11.8136 8.86463 11.9957 9.13698 11.9957H9.22777C9.50012 11.9047 9.77247 11.6315 9.68169 11.3493L8.94633 7.96235C8.85555 7.68921 8.5832 7.41607 8.31084 7.50712C8.03849 7.59816 7.76613 7.87131 7.85692 8.15355L8.59227 11.5405Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M55.2919 18.9602L52.3687 17.1302C51.361 16.4837 50.1717 16.1195 48.9824 16.1195C47.7931 16.1195 46.6946 16.3927 45.7868 17.0391L45.696 16.9481C45.696 16.9481 45.6052 16.9481 45.6052 16.857C45.696 16.2106 45.6052 15.5733 45.5144 14.8449C45.1513 13.1969 44.1436 11.8221 42.7727 10.9025L39.8495 9.07249C39.7587 8.98145 39.5771 8.98145 39.3956 8.98145C39.214 8.98145 39.1232 9.07249 39.0324 9.25459C37.2076 12.1863 38.0247 16.1286 40.948 17.9587L43.3265 19.5156L40.7664 23.8221C40.7664 23.4579 40.6756 23.0846 40.5848 22.7204C40.2217 21.0725 39.214 19.6977 37.8431 18.7781L34.9199 16.9481C34.8291 16.857 34.6475 16.857 34.466 16.857C34.2844 16.857 34.1936 16.9481 34.1028 17.1302C32.278 20.0619 33.0951 24.0042 36.0184 25.8343L38.3969 27.3912L35.746 31.6066C35.746 31.2424 35.6552 30.8783 35.5644 30.505C35.2013 28.857 34.1936 27.4822 32.8228 26.5626L29.8995 24.7326C29.6271 24.5505 29.264 24.6415 29.0734 24.9147C28.1564 26.3805 27.8841 28.0285 28.2472 29.6855C28.6104 31.3335 29.6181 32.7083 30.9889 33.6279L33.3675 35.1848L25.324 47.9223C25.1424 48.1954 25.2332 48.5596 25.5055 48.7508C25.5963 48.8418 25.6871 48.8418 25.7779 48.8418C25.9594 48.8418 26.141 48.7508 26.2318 48.5687L34.6384 35.6491L37.017 37.206C38.0247 37.8525 39.214 38.2167 40.3942 38.2167C42.5912 38.2167 44.5067 37.115 45.696 35.2849C45.7868 35.1939 45.7868 35.0118 45.7868 34.8297C45.7868 34.6476 45.696 34.5566 45.5144 34.4655L42.5912 32.6355C41.5835 31.9981 40.3942 31.6248 39.214 31.6248C38.3878 31.6248 37.5708 31.8069 36.8354 32.0801L39.4863 27.8646L41.8649 29.4215C42.8726 30.0588 44.0619 30.4321 45.2512 30.4321C47.4481 30.4321 49.3637 29.3305 50.553 27.5004C50.7345 27.2273 50.6438 26.8631 50.3714 26.6719L47.4481 24.8418C46.4404 24.1954 45.2512 23.8312 44.071 23.8312C43.2448 23.8312 42.4278 24.0133 41.6924 24.2865L44.3433 20.071L46.7219 21.6279C47.7296 22.2743 48.9188 22.6385 50.1081 22.6385C52.3051 22.6385 54.2207 21.5368 55.4099 19.7068C55.6823 19.5247 55.5915 19.1605 55.3192 18.9693L55.2919 18.9602Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M45.8775 10.3476C45.9683 10.4387 46.0591 10.4387 46.1498 10.4387C46.3314 10.4387 46.513 10.3476 46.6038 10.1655L48.4285 7.23381C48.6101 6.96067 48.5193 6.59648 48.247 6.40528C47.9746 6.22319 47.6024 6.31424 47.4208 6.58738L45.5961 9.51909C45.5053 9.79223 45.5961 10.1655 45.8684 10.3476H45.8775Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M47.5207 14.1077C47.6114 14.1988 47.7022 14.1988 47.793 14.1988C47.9746 14.1988 48.1561 14.1077 48.2469 13.9256L53.0857 6.22307C53.2673 5.94993 53.1765 5.58574 52.9042 5.39454C52.6318 5.21245 52.2596 5.30349 52.078 5.57663L47.4117 13.2792C47.2301 13.5524 47.3209 13.9165 47.5025 14.1077H47.5207Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M51.7332 14.0166C51.824 14.1076 51.9148 14.1076 52.0056 14.1076C52.1871 14.1076 52.3687 14.0166 52.4595 13.8345L54.2842 10.9028C54.4658 10.6296 54.375 10.2563 54.1027 10.0742C53.8303 9.89213 53.4672 9.98318 53.2765 10.2563L51.4518 13.188C51.361 13.4612 51.4518 13.8254 51.7241 14.0166H51.7332Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_1377'%3E%3Crect width='53' height='54' fill='white' transform='translate(3 3)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work04 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41_1388)'%3E%3Cpath d='M31.2389 20.8184H19.6001V49.1714H31.2194V48.4348C30.1818 45.6653 29.5553 42.7387 29.5553 40.1263C29.5553 37.514 30.1034 35.5007 31.2194 33.9293V20.8086H31.2487L31.2389 20.8184ZM27.0689 30.8259H23.7603C23.2905 30.8259 22.9283 30.4626 22.9283 29.9911C22.9283 29.5197 23.2905 29.1564 23.7603 29.1564H27.0983C27.5682 29.1564 27.9303 29.5197 27.9303 29.9911C27.9303 30.4626 27.5388 30.8259 27.0689 30.8259ZM27.0689 25.8369H23.7603C23.2905 25.8369 22.9283 25.4735 22.9283 25.0021C22.9283 24.5307 23.2905 24.1673 23.7603 24.1673H27.0983C27.5682 24.1673 27.9303 24.5307 27.9303 25.0021C27.9303 25.4735 27.5388 25.8369 27.0689 25.8369Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M32.7954 47.9728C32.7954 47.9728 32.8248 48.0219 32.8248 48.0809C34.8021 53.2074 38.2184 57.5187 41.1061 57.5187C41.5466 57.5187 42.2807 57.3911 43.1911 57.1259C43.7393 56.9688 44.2874 56.8902 44.8552 56.8902C45.4229 56.8902 45.9711 56.9688 46.5193 57.1259C47.4003 57.3911 48.1638 57.5187 48.6043 57.5187C52.9505 57.5187 58.5007 47.7666 58.5007 40.1652C58.5007 37.8671 57.9526 35.9618 56.9639 34.6753C55.848 33.2415 54.0762 32.5049 51.7563 32.5049C49.7496 32.5049 47.8995 33.3397 46.5976 34.7735L46.5682 34.803C46.206 35.2253 45.8634 35.6672 45.6089 36.1877C45.4523 36.4529 45.188 36.6297 44.8748 36.6297C44.5615 36.6297 44.2777 36.4725 44.1504 36.1877C42.9562 33.9387 40.5775 32.5245 38.003 32.5245C35.6635 32.5245 33.9113 33.2513 32.7954 34.6949C31.7774 35.9717 31.2586 37.8867 31.2586 40.1848C31.2292 42.6695 31.8361 45.4096 32.7954 47.9728ZM50.5327 35.844C52.6177 35.844 53.7336 36.8064 54.2818 37.6216C55.4564 39.3501 55.4564 42.2178 54.2818 45.331C54.1545 45.6747 53.8413 45.8515 53.4987 45.8515C53.391 45.8515 53.2931 45.822 53.2148 45.8024C52.7939 45.6453 52.5589 45.1444 52.7449 44.7319C53.7042 42.2276 53.7825 39.792 52.9309 38.5644C52.4317 37.8573 51.6584 37.5234 50.562 37.5234C50.0922 37.5234 49.73 37.16 49.73 36.6886C49.7006 36.2172 50.0922 35.8538 50.5327 35.8538V35.844Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M19.5904 19.1683H31.2096V14.5722C31.2096 13.4526 30.2993 12.5098 29.154 12.5098H21.6264C20.5105 12.5098 19.5708 13.4231 19.5708 14.5722V19.1683H19.6002H19.5904Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M19.5903 55.4468C19.5903 56.5664 20.5007 57.5092 21.646 57.5092H29.1735C30.2895 57.5092 31.2292 56.5958 31.2292 55.4468V50.8506H19.5903V55.4468Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M17.4663 10.4473C17.4663 8.82686 16.135 7.49121 14.5199 7.49121H5.43592C3.82077 7.49121 2.4895 8.82686 2.4895 10.4473V17.4987H17.4663V10.4473Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M5.45538 57.5092H14.5491C16.1643 57.5092 17.4956 56.1736 17.4956 54.5531V50.8408H2.53833V54.5531C2.50896 56.1736 3.81087 57.5092 5.45538 57.5092Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M44.8551 34.1945C44.9628 34.0669 45.0607 33.9294 45.1684 33.8017L46.0787 27.9779C46.1081 27.6342 45.9711 27.3494 45.7655 27.094C45.5306 26.8583 45.2173 26.7012 44.8845 26.7012C44.5517 26.7012 44.2287 26.8288 44.0035 27.094C43.7686 27.3297 43.6609 27.644 43.6903 27.9779L44.63 33.9392C44.7083 34.0178 44.7866 34.1258 44.8649 34.2044L44.8551 34.1945Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M17.4662 19.5608V19.168H2.5188V49.1709H17.4662V19.5608ZM7.49149 36.659C7.49149 37.1304 7.12931 37.4938 6.65945 37.4938C6.18959 37.4938 5.8274 37.1304 5.8274 36.659V25.0016C5.8274 24.5302 6.18959 24.1668 6.65945 24.1668C7.12931 24.1668 7.49149 24.5302 7.49149 25.0016V36.659Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_1388'%3E%3Crect width='57' height='51' fill='white' transform='translate(2 7)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work05 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41_1370)'%3E%3Cpath d='M34.403 30.9571C34.1867 30.9571 34.0174 30.8539 33.9233 30.685C33.7823 30.4786 33.7446 30.2815 33.7917 30.0939C33.8199 29.9531 33.9045 29.8218 33.9986 29.7655L43.159 23.7698C43.2718 23.6948 43.4035 23.6572 43.5446 23.6572C43.7515 23.6572 43.9584 23.7511 44.0336 23.8824C44.1465 24.0513 44.1841 24.2483 44.1465 24.436C44.1183 24.5768 44.0336 24.7081 43.9396 24.7644L34.6757 30.8258L34.6099 30.929C34.6099 30.929 34.4782 30.9571 34.403 30.9571Z' fill='%23099808'/%3E%3Cpath d='M33.4814 42.0103C33.2463 42.0103 33.0206 41.8789 32.8419 41.6443C32.7573 41.5223 32.729 41.3347 32.7761 41.1752C32.8137 41.025 32.9077 40.9125 33.0394 40.8468L48.2754 31.8017C48.4071 31.7172 48.5293 31.6797 48.661 31.6797C48.8773 31.6797 49.0654 31.7829 49.1595 31.9612C49.2911 32.1676 49.3381 32.3553 49.2911 32.5241C49.2535 32.6743 49.1594 32.7869 49.0278 32.8525L33.7918 41.8977C33.7072 41.9352 33.5473 42.0103 33.4908 42.0103H33.4814Z' fill='%23099808'/%3E%3Cpath d='M4.12847 55.9998C3.75228 55.9998 3.4137 55.662 3.4137 55.2961C3.4137 54.9302 3.75228 54.5924 4.12847 54.5924H18.8096V46.4668L18.5556 46.2792C18.1888 46.007 17.822 45.6505 17.5493 45.2846L17.3612 45.0406H17.0508C14.2294 45.0406 12.0192 42.8169 12.0192 39.9832C12.0192 39.5891 12.0192 39.3546 12.1039 39.0168L12.2543 38.4257L11.6618 38.2662C9.93131 37.8158 8.63343 36.2019 8.63343 34.5036V33.9969L8.13497 33.9031C5.15361 33.3308 2.99048 30.7692 2.99048 27.8136C2.99048 25.177 4.63634 22.8501 7.09103 22.0056L7.38258 21.9024L7.47663 21.6115C7.53306 21.4426 7.57068 21.2737 7.59889 21.1142C7.6177 21.0298 7.63651 20.9078 7.65532 20.8797L7.93747 20.3261L7.38258 20.054C5.35111 19.05 4.03443 16.9201 4.03443 14.6213C4.03443 11.2153 6.8465 8.44732 10.2981 8.44732C11.7465 8.44732 13.1384 8.93523 14.22 9.82661L14.5115 10.0612L14.8595 9.91105C15.4238 9.6671 16.1198 9.5545 16.9756 9.5545C18.076 9.5545 19.1199 9.82661 20.1733 10.3896L20.8692 10.7649L21.0667 9.9955C21.9508 6.50506 25.1955 3.97168 28.7788 3.97168C32.9734 3.97168 36.4344 7.16186 36.6601 11.234L36.6883 11.8158L41.0522 6.69272C41.1463 6.55198 41.2779 6.47691 41.3908 6.47691L41.5036 6.49568H41.6071C41.767 6.49568 41.9175 6.56136 42.1996 6.83346L52.6109 20.1572C53.0717 20.692 53.1563 21.452 52.846 22.1651C52.5168 22.8125 51.8679 23.216 51.1531 23.216H49.8552L55.9872 31.792C56.3822 32.3362 56.4387 33.0117 56.1471 33.5841C55.865 34.1377 55.3101 34.4661 54.6423 34.4661C54.5577 34.4661 54.2661 34.4849 54.0028 34.7476L53.8241 34.9258V35.1417C53.73 35.4325 53.7959 35.714 54.0122 35.9204L57.4356 40.7057C58.1221 41.6346 58.2162 42.9107 57.6895 44.046C57.1911 45.0312 56.0719 45.7162 54.9621 45.7162H45.5195C44.8612 45.7162 44.2875 46.2885 44.2875 46.936V52.2091C44.2875 52.8941 44.0806 53.579 43.7044 54.1983L43.4787 54.5549H54.1439C54.5201 54.5549 54.8586 54.8927 54.8586 55.2586C54.8586 55.6057 54.6329 55.9623 54.2473 55.9623H4.12847V55.9998ZM29.8886 21.7147L31.0548 21.8461C31.7413 21.9212 32.3056 22.2777 32.6442 22.8594C32.964 23.4975 32.9075 24.2575 32.4843 24.8111L26.7943 33.0211L27.4715 33.0962C27.6408 33.115 27.8101 33.1619 28.0076 33.2557C28.6001 33.4152 29.0609 33.8187 29.3525 34.391C29.7475 35.0947 29.6817 36.0518 29.202 36.6805L25.7034 41.5596C25.2801 42.1131 25.2237 42.8638 25.5529 43.5112C25.788 43.971 26.3241 44.4589 27.1329 44.4589H35.6538C37.0645 44.4589 38.2213 45.5942 38.2213 46.9829V52.1528C38.2213 53.5415 39.2371 54.5924 40.582 54.5924C41.2215 54.5924 41.7952 54.3578 42.2466 53.9074C42.6981 53.579 42.9426 52.9785 42.9426 52.1528V46.8797C42.9426 45.491 44.09 44.3557 45.5101 44.3557H54.9527C55.7615 44.3557 56.2976 43.8677 56.5327 43.408C56.8619 42.7606 56.7961 42.0006 56.3728 41.4376L52.893 36.5866C52.3945 35.8548 52.3381 35.0009 52.7237 34.3066C53.0247 33.7248 53.6454 33.2651 54.3884 33.0868L55.2725 32.871L49.5072 24.8299C49.1122 24.2012 49.0464 23.4318 49.3473 22.8313C49.6671 22.212 50.2878 21.8555 51.059 21.8555H52.3381L41.5413 8.20337L29.9262 21.7241L29.8886 21.7147ZM25.1767 45.6317V54.6018H37.563L37.3373 54.2452C36.9611 53.6447 36.7636 52.9598 36.7636 52.2561V47.0861C36.7636 46.2885 36.124 45.8663 35.5315 45.8663H27.0107C26.4934 45.8663 25.9761 45.7256 25.5153 45.4722L25.2707 45.3315L25.1673 45.6317H25.1767ZM17.9819 43.8302C18.1982 43.8302 18.3863 43.9803 18.4616 44.1211C18.8378 44.7497 19.3268 45.2377 19.9287 45.5942C20.1451 45.7068 20.2391 45.8945 20.2391 46.1759V54.6018H24.0387V45.5661C24.0387 45.5098 24.1233 45.3409 24.1798 45.2376L24.2456 45.1063V44.5527C24.2456 44.4026 24.2456 44.3932 24.2738 44.3463L24.3208 44.2431L24.2738 44.1399C23.766 43.1077 23.8694 41.841 24.556 40.8371L28.0358 35.9861C28.2239 35.8172 28.2897 35.4325 28.1675 35.1323C28.1581 35.1041 28.1392 35.076 28.1204 35.0478C28.0452 34.6537 27.8007 34.5036 27.6596 34.4473C27.5844 34.4192 27.5467 34.4098 27.5091 34.4098H27.4245C26.8414 34.4098 26.2112 34.0251 25.9103 33.4903C25.6281 32.9273 25.694 32.2705 26.0796 31.7263L32.221 23.1409H31.0172C30.3212 23.1409 29.7193 22.7469 29.4277 22.09C29.108 21.3863 29.1926 20.6263 29.6346 20.1103L35.5315 13.1388V12.6133C35.5315 12.5101 35.5503 12.3975 35.5691 12.2943C35.6068 12.0785 35.635 11.8908 35.635 11.7032C35.635 8.11892 32.6912 5.21022 29.0609 5.21022C25.4306 5.21022 22.4869 8.1283 22.4869 11.7032V12.2099C22.4869 12.5758 22.327 12.8479 22.0543 12.9511C21.9884 12.9793 21.9226 12.9886 21.8568 12.9886C21.6593 12.9886 21.4523 12.8948 21.3395 12.7447C20.4084 11.478 18.9883 10.7743 17.3612 10.7743C16.5994 10.7743 15.7906 10.9713 15.0382 11.3466C14.8971 11.4311 14.7937 11.4592 14.6808 11.4592C14.5115 11.4592 14.3422 11.3842 14.2106 11.2622C13.3359 10.2864 12.0756 9.77031 10.5897 9.77031C7.87163 9.77031 5.66148 11.9565 5.66148 14.6494C5.66148 17.0045 7.26031 18.9562 9.54571 19.4159C9.60214 19.4253 9.92191 19.5285 9.98774 19.8475C10.0442 20.0915 9.98774 20.3636 9.84667 20.5043C9.3294 21.011 9.04725 21.6772 9.04725 22.3622C9.04725 22.6906 8.81213 22.972 8.44533 23.094C6.18815 23.5632 4.53289 25.5523 4.53289 27.8324C4.53289 30.5159 6.74304 32.7115 9.46107 32.7115H9.56452C9.79024 32.7115 10.0536 32.8335 10.2605 33.0399C10.2793 33.0868 10.3545 33.3964 10.3075 33.6404C10.1852 33.9031 10.1852 34.194 10.1852 34.5224C10.1852 35.9767 11.3797 37.1684 12.8562 37.1684H13.2701C13.4205 37.1496 13.477 37.1402 13.5334 37.1402C13.7591 37.1402 13.9754 37.2434 14.1165 37.4311C14.267 37.6281 14.2576 37.8721 14.0789 38.1536C13.7309 38.7259 13.5804 39.317 13.5804 40.0958C13.5804 42.1694 15.2827 43.8584 17.38 43.8584H17.7938C17.9255 43.8396 17.9631 43.8396 17.9913 43.8396L17.9819 43.8302Z' fill='%23099808'/%3E%3Cpath d='M17.2673 33.0874C16.054 33.0874 15.0947 32.7121 14.3141 31.9521C13.6746 31.2859 12.9316 29.9441 13.0538 27.3732V27.2231C13.1009 26.9416 13.383 26.707 13.6934 26.707C13.7216 26.707 13.7592 26.707 13.7874 26.707C13.9943 26.7352 14.1636 26.8384 14.2765 26.9791C14.3705 27.1105 14.4082 27.2606 14.3893 27.4201C14.2577 28.1989 14.3047 30.1224 15.2828 31.0888C15.7719 31.5768 16.3362 31.8019 17.0698 31.8019C17.2202 31.8019 17.3707 31.7926 17.54 31.7738C17.7939 31.7738 18.1795 31.9896 18.1795 32.3743C18.1795 32.7215 17.9538 33.078 17.5682 33.078H17.2579L17.2673 33.0874Z' fill='%23099808'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_1370'%3E%3Crect width='55' height='52' fill='white' transform='translate(3 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.work06 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_41_1353)'%3E%3Cpath d='M27.0329 8.49544C27.4504 8.81158 27.8679 9.02233 28.2854 9.23309C29.0161 9.54922 29.7468 9.6546 30.5819 9.75998C31.4169 9.75998 32.3564 9.6546 33.1914 9.44384C33.1914 8.49544 32.9827 7.54704 32.6695 6.69443C32.252 5.42989 31.4169 4.37611 30.4775 3.62889C29.538 2.89124 28.2854 2.46973 27.0234 2.46973C26.0839 2.46973 25.1445 2.5751 24.1956 2.78586C24.1956 3.73426 24.4043 4.68267 24.7175 5.52569C25.2394 6.79023 25.9701 7.73863 27.0139 8.48586L27.0329 8.49544Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M32.3657 34.7821C39.16 34.7821 44.8061 29.1875 44.8061 22.223C44.8061 17.366 41.9783 12.9305 37.5943 10.823C37.1767 10.9283 36.7592 10.9283 36.3417 11.0337H36.1329C35.4022 11.0337 34.5672 10.9283 33.7321 10.6122H33.6277C32.6883 10.9283 31.6445 11.0337 30.6955 11.0337H30.4868C29.5473 11.0337 28.7123 10.823 27.8772 10.5068C23.0661 12.2983 19.8208 17.0499 19.8208 22.223C20.0296 29.1875 25.5713 34.7821 32.3657 34.7821ZM24.7363 21.7919C25.0494 21.7919 25.3626 22.108 25.3626 22.4241C25.3626 26.3327 28.5035 29.4941 32.3657 29.4941C32.6788 29.4941 32.992 29.8102 32.992 30.1263C32.992 30.4425 32.6788 30.7586 32.3657 30.7586C27.7633 30.7586 24.0056 26.9554 24.0056 22.3092C24.11 21.9931 24.4231 21.7823 24.7363 21.7823V21.7919Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M36.3419 9.7596C37.2813 9.7596 38.012 9.44346 38.7427 8.91657C39.3689 8.38968 39.8909 7.75741 40.204 6.91438C40.4128 6.38749 40.5172 5.8606 40.5172 5.22833C39.8909 5.12296 39.3689 5.01758 38.847 5.01758C38.012 5.01758 37.1769 5.33371 36.5506 5.75523C35.9243 6.28212 35.4024 6.91439 35.0893 7.75741C34.8805 8.2843 34.7761 8.81119 34.7761 9.44346C35.298 9.65422 35.8199 9.7596 36.3419 9.7596Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3Cpath d='M53.489 33.623C52.654 33.623 51.9233 33.9392 51.297 34.5715L39.3785 46.4983C39.1697 46.9199 38.9609 47.3414 38.6478 47.6575C37.8127 48.5005 36.6645 49.0274 35.5068 48.922L22.1269 48.2898C21.8138 48.2898 21.5006 47.9736 21.5006 47.5521C21.5006 47.236 21.8138 46.9199 22.2313 46.9199L35.6112 47.5521C36.4463 47.5521 37.1769 47.236 37.8032 46.7091C38.012 46.4983 38.1164 46.2876 38.2208 46.0768C38.2208 45.8661 38.3251 45.7607 38.4295 45.6553C38.5339 45.2338 38.6383 44.8123 38.5339 44.4962C38.4295 43.1262 37.2813 42.0725 36.0287 41.9671L11.9828 39.3326L2.67383 48.7113L12.1916 58.3199L14.5924 55.8962L9.05064 50.6177C8.84188 50.4069 8.84188 49.9854 9.05064 49.6693C9.2594 49.4585 9.67693 49.4585 9.99008 49.6693L15.6362 55.3693L38.4295 56.2123L55.5767 38.9015C56.8293 37.637 56.8293 35.7402 55.5767 34.4661C55.0548 33.9392 54.3241 33.623 53.489 33.623Z' stroke='%23099808' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_1353'%3E%3Crect width='55' height='57' fill='white' transform='translate(2 2)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}











#fp-nav.fp-left {
    left: 57px; /*왼쪽에서 떨어진 거리*/
}
#fp-nav {
    top: 50%; /*?????*/
}
#fp-nav ul li{
    width: auto;
    height: auto;
    margin: 15px 0; /*동그라미, 글자 위 아래 간 여백*/
    padding: 0 0 0 18px; /*동그라미와 글자 사이간 여백*/
}
#fp-nav ul li:last-child{
    display: none; /*마지막 footer 숨김*/
}
#fp-nav ul li a {
    position: absolute; /* li기준으로 정렬, a태그가 fp-tooltip까지 감싸야 돼서 absolute로 바꿔줌 */
    left: 0;
    top: 0;
}
#fp-nav ul li a::before{ /* 동그라미 */
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#fp-nav ul li a span{
    display: none;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: auto;
}
#fp-nav ul li .fp-tooltip { /* 글자  */ 
    position: relative; /* absolute XXX */
    top: auto;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-family: inherit; /*글자 상속*/
    max-width: 100%;
    overflow: visible;
    display: inline-block; /*딱 글자 넓이만 잡히게*/
    opacity: 1;
    width: auto;
    /*padding: 0 5px ; 초록배경버전*/
}

/* ################ 마우스 오버, 현재 클릭, 선택된 메뉴 ##################*/
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip {  
    color: var(--point-font-color); /*글자 초록색으로 바꿔주기*/
    font-weight: var(--bold-weight);
    /* 배경 버전 
    color: #fff;
    background-color: var(--point-font-color);
    padding: 0 3px;*/
}
#fp-nav ul li a.active::before,
#fp-nav ul li:hover a::before{ /*동그라미 초록색으로 바꿔주기*/
    background-color: var(--point-font-color);
    border-color: var(--point-font-color);
}
#fp-nav ul li a.active::after{  /*동그라미 초록 선 만들기*/
    content: "";
    position: absolute;
    left: -57px;
    top: 11px;
    width: 57px;
    height: 1px;
    background-color: var(--point-font-color);
}

@media screen and (max-width:1024px){
    #fp-nav {
        display: none !important;
    }
}

/* ############### 하얀색 배경일 때 ####################*/
body.bg_white #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip {  
    color: var(--point-font-color); /*글자 초록색으로 바꿔주기*/
}
body.bg_white #fp-nav ul li .fp-tooltip{
    color: var(--base-font-color);
}
body.bg_white #fp-nav ul li a::before{
    border: 1px solid var(--base-font-color);
}
body.bg_white #fp-nav ul li a.active::before,
body.bg_white #fp-nav ul li:hover a::before{
    border-color: var(--point-font-color);
}


.quick {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    /*순서 바꿔주기용 flex*/
    display: flex;
    flex-direction: column-reverse;
    width: 67px;
    font-size: 15px;
}
.quick .btn{
    width: 100%;
    height: 65px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--point-font-color);
    text-align: center;
    padding: 16px 0 0 0;
    position: relative; /*before 정렬 기준*/
}
.quick .btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
}
.quick .btn.open::before{
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.354736 10.9V9.46278H16.6464V10.9H0.354736ZM0.354736 6.21907V4.78157H16.6464V6.21907H0.354736ZM0.354736 1.53785V0.100586H16.6464V1.53785H0.354736Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .btn.close::before{
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.13338 12.877L0.123535 11.8672L5.4902 6.50053L0.123535 1.13387L1.13338 0.124023L6.50004 5.49069L11.8667 0.124023L12.8766 1.13387L7.50989 6.50053L12.8766 11.8672L11.8667 12.877L6.50004 7.51038L1.13338 12.877Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .detail{
    margin: 0 0 8px 0;
    background-color: #FAFFF8;
    border: 1px solid var(--point-font-color);
    border-radius: 40px;
    padding: 17px 0 14px 0;
    display: none;
}
/* .quick .detail ul li a,
.quick .detail ul li button{
    display: block;
    width: 100%;
    border-radius: 50%;
} */
.quick .detail ul li + li{ /*2번째 li부터*/
    border-top: 1px solid rgba(9, 152, 8, 0.6);
}
.quick .detail ul li a,
.quick .detail ul li button{
    display: block;
    width: 100%;
    color: var(--point-font-color);
    text-align: center;
    padding: 31px 0 6px 0;
    position: relative;
}
.quick .detail ul li.top button{
    padding: 25px 0 0 0;
}
.quick .detail ul li a::before,
.quick .detail ul li button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    top: 9px;
    background-position: center center;
    background-repeat: no-repeat
}
.quick .detail ul li.kakao a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54625 10.3673C1.20775 9.75442 0.94875 9.13167 0.76925 8.499C0.58975 7.86633 0.5 7.23333 0.5 6.6C0.5 4.88717 1.0885 3.44233 2.2655 2.2655C3.44233 1.0885 4.88717 0.5 6.6 0.5C7.63083 0.5 8.61642 0.741667 9.55675 1.225C10.4971 1.70833 11.3115 2.393 12 3.279C12.6885 2.393 13.5029 1.70833 14.4432 1.225C15.3836 0.741667 16.3692 0.5 17.4 0.5C19.1128 0.5 20.5577 1.0885 21.7345 2.2655C22.9115 3.44233 23.5 4.88717 23.5 6.6C23.5 7.2205 23.4102 7.84392 23.2307 8.47025C23.0512 9.09642 22.7923 9.72558 22.4538 10.3577C22.3101 10.1306 22.1402 9.92733 21.944 9.748C21.748 9.56867 21.5282 9.42317 21.2845 9.3115C21.5178 8.8385 21.6954 8.37858 21.8173 7.93175C21.9391 7.48492 22 7.041 22 6.6C22 5.30633 21.5567 4.21625 20.6702 3.32975C19.7837 2.44325 18.6937 2 17.4 2C16.2103 2 15.2241 2.34042 14.4413 3.02125C13.6586 3.70192 12.8448 4.5615 12 5.6C11.1552 4.55133 10.3414 3.68917 9.55875 3.0135C8.77592 2.33783 7.78967 2 6.6 2C5.30633 2 4.21625 2.44325 3.32975 3.32975C2.44325 4.21625 2 5.30633 2 6.6C2 7.05383 2.06092 7.50575 2.18275 7.95575C2.30458 8.40575 2.47892 8.86092 2.70575 9.32125C2.46225 9.43908 2.24433 9.58617 2.052 9.7625C1.85967 9.93883 1.69108 10.1404 1.54625 10.3673ZM0.5 18.5193V17.3C0.5 16.6243 0.848583 16.0753 1.54575 15.653C2.24292 15.2305 3.14767 15.0193 4.26 15.0193C4.46367 15.0193 4.65908 15.025 4.84625 15.0365C5.03342 15.048 5.21225 15.0704 5.38275 15.1038C5.19425 15.3988 5.05125 15.7126 4.95375 16.0452C4.85642 16.3781 4.80775 16.7326 4.80775 17.1087V18.5193H0.5ZM6.5 18.5193V17.1443C6.5 16.1891 7.00825 15.4231 8.02475 14.8462C9.04125 14.2692 10.3672 13.9808 12.0027 13.9808C13.6534 13.9808 14.9823 14.2692 15.9895 14.8462C16.9965 15.4231 17.5 16.1891 17.5 17.1443V18.5193H6.5ZM19.1923 18.5193V17.1087C19.1923 16.7326 19.1478 16.3781 19.0588 16.0452C18.9696 15.7126 18.8359 15.3988 18.6578 15.1038C18.8283 15.0704 19.0051 15.048 19.1883 15.0365C19.3716 15.025 19.5588 15.0193 19.75 15.0193C20.875 15.0193 21.7812 15.2305 22.4688 15.653C23.1562 16.0753 23.5 16.6243 23.5 17.3V18.5193H19.1923ZM11.9988 15.4808C10.9598 15.4808 10.0669 15.6186 9.32025 15.8943C8.57342 16.1699 8.159 16.5097 8.077 16.9135V17.0193H15.9385V16.9135C15.8462 16.5097 15.4308 16.1699 14.6923 15.8943C13.9539 15.6186 13.0561 15.4808 11.9988 15.4808ZM4.25975 14.048C3.78908 14.048 3.38617 13.8804 3.051 13.5452C2.71567 13.2101 2.548 12.8072 2.548 12.3365C2.548 11.8597 2.71567 11.4568 3.051 11.128C3.38617 10.7992 3.78908 10.6348 4.25975 10.6348C4.73658 10.6348 5.141 10.7992 5.473 11.128C5.80517 11.4568 5.97125 11.8597 5.97125 12.3365C5.97125 12.8072 5.80517 13.2101 5.473 13.5452C5.141 13.8804 4.73658 14.048 4.25975 14.048ZM19.75 14.048C19.2833 14.048 18.8814 13.8804 18.5443 13.5452C18.2071 13.2101 18.0385 12.8072 18.0385 12.3365C18.0385 11.8597 18.2071 11.4568 18.5443 11.128C18.8814 10.7992 19.2839 10.6348 19.7518 10.6348C20.2339 10.6348 20.6394 10.7992 20.9683 11.128C21.2971 11.4568 21.4615 11.8597 21.4615 12.3365C21.4615 12.8072 21.2975 13.2101 20.9695 13.5452C20.6415 13.8804 20.235 14.048 19.75 14.048ZM12.0035 13.2308C11.2832 13.2308 10.6698 12.9783 10.1635 12.4735C9.65717 11.9688 9.404 11.3559 9.404 10.6348C9.404 9.89908 9.65633 9.2825 10.161 8.785C10.6658 8.28733 11.2788 8.0385 12 8.0385C12.7355 8.0385 13.3521 8.287 13.8497 8.784C14.3472 9.28083 14.596 9.89658 14.596 10.6313C14.596 11.3514 14.3476 11.9648 13.8508 12.4713C13.3538 12.9776 12.738 13.2308 12.0035 13.2308ZM12 9.5385C11.6975 9.5385 11.4392 9.64358 11.225 9.85375C11.0108 10.0638 10.9038 10.3241 10.9038 10.6348C10.9038 10.9373 11.0108 11.1956 11.225 11.4098C11.4392 11.6238 11.6991 11.7308 12.0048 11.7308C12.3106 11.7308 12.5689 11.6238 12.7797 11.4098C12.9907 11.1956 13.0962 10.9356 13.0962 10.6298C13.0962 10.3241 12.9912 10.0658 12.781 9.85475C12.5708 9.64392 12.3105 9.5385 12 9.5385Z' fill='%23099808'/%3E%3C/svg%3E%0A");
}
.quick .detail ul li.naver a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1729 18.4808C9.04472 18.3439 7.92422 18.0437 6.81139 17.58C5.69856 17.1163 4.69856 16.4464 3.81139 15.5703C2.92422 14.6939 2.19697 13.5853 1.62964 12.2443C1.06247 10.9033 0.756389 9.28985 0.711389 7.40401L0.692139 6.50002L1.57689 6.51927C2.34989 6.53843 3.20081 6.68043 4.12964 6.94527C5.05847 7.20993 5.88572 7.57177 6.61139 8.03077C6.75372 6.68727 7.13581 5.29177 7.75764 3.84427C8.37947 2.39693 9.12689 1.16043 9.99989 0.134766C10.8729 1.16043 11.6203 2.40018 12.2421 3.85401C12.864 5.30785 13.2461 6.70652 13.3884 8.05002C14.0947 7.61035 14.9059 7.2501 15.8219 6.96927C16.7379 6.68843 17.5985 6.53843 18.4036 6.51927L19.3076 6.50002L19.2884 7.42302C19.2627 9.12952 19.0095 10.6196 18.5286 11.8933C18.048 13.1669 17.3993 14.2483 16.5826 15.1375C15.766 16.0265 14.8115 16.7428 13.7191 17.2865C12.6268 17.83 11.4447 18.2281 10.1729 18.4808ZM10.1421 16.95C9.95881 14.1833 9.13797 12.0917 7.67964 10.675C6.22131 9.25835 4.40881 8.38335 2.24214 8.05002C2.42547 10.9 3.27131 13.025 4.77964 14.425C6.28797 15.825 8.07547 16.6667 10.1421 16.95ZM9.99989 11.254C10.2371 10.8617 10.5332 10.4536 10.8884 10.0298C11.2436 9.6061 11.5974 9.24618 11.9499 8.95002C11.9294 7.96152 11.7483 6.92977 11.4066 5.85477C11.065 4.77977 10.5961 3.74101 9.99989 2.73851C9.40372 3.74101 8.93481 4.77977 8.59314 5.85477C8.25147 6.92977 8.07039 7.96152 8.04989 8.95002C8.40239 9.24618 8.75722 9.6061 9.11439 10.0298C9.47139 10.4536 9.76656 10.8617 9.99989 11.254ZM11.6421 16.5578C12.3421 16.3256 13.0383 16.0051 13.7306 15.5963C14.423 15.1873 15.0551 14.6488 15.6269 13.9808C16.1986 13.3128 16.6774 12.4935 17.0634 11.523C17.4492 10.5525 17.6806 9.39485 17.7576 8.05002C16.1653 8.28335 14.7582 8.82818 13.5364 9.68452C12.3146 10.541 11.4062 11.6103 10.8114 12.8923C11.0114 13.4256 11.1791 13.9865 11.3144 14.575C11.4496 15.1635 11.5588 15.8244 11.6421 16.5578Z' fill='%23099808'/%3E%3C/svg%3E%0A");
}
.quick .detail ul li.green a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.74625 14.2488C2.04108 13.5405 1.49042 12.726 1.09425 11.8053C0.698083 10.8847 0.5 9.93285 0.5 8.94985C0.5 7.96401 0.688833 6.98585 1.0665 6.01535C1.444 5.04485 2.05392 4.13843 2.89625 3.2961C3.50525 2.6871 4.26775 2.18543 5.18375 1.7911C6.09975 1.39693 7.13725 1.09668 8.29625 0.890346C9.45525 0.683846 10.7183 0.563597 12.0855 0.529597C13.4528 0.495763 14.8872 0.539681 16.3885 0.661347C16.4962 2.09468 16.533 3.48735 16.499 4.83935C16.465 6.19118 16.3468 7.45168 16.1443 8.62085C15.9416 9.79018 15.6458 10.8431 15.2568 11.7796C14.8676 12.7161 14.3666 13.4908 13.7538 14.1036C12.9281 14.9358 12.0451 15.5432 11.1048 15.9258C10.1644 16.3085 9.212 16.4998 8.2475 16.4998C7.23633 16.4998 6.24292 16.3018 5.26725 15.9056C4.29158 15.5094 3.45125 14.9572 2.74625 14.2488ZM4.9885 14.0843C5.491 14.3998 6.02208 14.6313 6.58175 14.7786C7.14142 14.9261 7.6975 14.9998 8.25 14.9998C9.021 14.9998 9.78358 14.8473 10.5378 14.5421C11.2921 14.2369 12.0077 13.7395 12.6845 13.0498C12.9833 12.7498 13.2863 12.329 13.5935 11.7873C13.9005 11.2457 14.1661 10.5373 14.3903 9.66235C14.6144 8.78735 14.7846 7.72901 14.9008 6.48735C15.0169 5.24568 15.0398 3.76651 14.9693 2.04985C14.1526 2.01651 13.2285 2.00718 12.197 2.02185C11.1657 2.03668 10.1368 2.12068 9.1105 2.27385C8.08433 2.42701 7.1145 2.6671 6.201 2.9941C5.2875 3.32093 4.54867 3.76643 3.9845 4.3306C3.241 5.07426 2.72433 5.82718 2.4345 6.58935C2.14483 7.35151 2 8.07426 2 8.7576C2 9.70243 2.18433 10.5569 2.553 11.3211C2.9215 12.0851 3.30508 12.6523 3.70375 13.0228C4.26275 11.7665 5.04833 10.5611 6.0605 9.4066C7.07267 8.2521 8.35508 7.24476 9.90775 6.3846C8.73325 7.40893 7.72742 8.53393 6.89025 9.7596C6.05308 10.9851 5.41917 12.4267 4.9885 14.0843Z' fill='%23099808'/%3E%3C/svg%3E%0A");
}
.quick .detail ul li.top button::before{
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.99994 3.05332L1.39994 7.65332L0.346191 6.59957L5.99994 0.94582L11.6537 6.59957L10.5999 7.65332L5.99994 3.05332Z' fill='%23099808'/%3E%3C/svg%3E%0A");
}


















