/* header , footer 같이 모든 페이지 공통사항 저장 */

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    border-bottom: 1px solid rgba(237, 237, 237, 0.5);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a{
    display: block;
    width: 154px;
    height: 48px;
    background: url(../images/common/logo_w.png) no-repeat center center / contain;
}
header .util .lang_open{
    position: relative;
    padding: 0 20px 0 0; /*브라우저 사이즈 줄어들 때 대비*/
}
header .util .lang_open::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_63_140' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' width='24' height='24' transform='rotate(90 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_63_140)'%3E%3Cpath d='M12 12.6L16.6 8L18 9.4L12 15.4L6 9.4L7.4 8L12 12.6Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/********스크롤 내리면 header 사라짐 fixed / gnb_up 쿨래스 추가************/
header.fixed.gnb_up{
    top: var(--header-h-m);
}
/********오버하면 header 다시 나옴 fixed / gnb_up  / menu_over 클래스 추가************/
header.fixed.gnb_up.menu_over{
    top: 0;
}

/********header에 fixed 클래스 추가 ************/
header.fixed{
    background-color: #fff;
    color: var(--tit-font-color);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}
header.fixed .logo a{
    background: url(../images/common/logo.png);
}
header.fixed .util .lang_open::after{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_63_980' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' width='24' height='24' transform='rotate(90 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_63_980)'%3E%3Cpath d='M12 12.6L16.6 8L18 9.4L12 15.4L6 9.4L7.4 8L12 12.6Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/********header에 fixed 클래스 추가 :: 끝 ************/


@media screen and (min-width:1025px) and (max-width: 1186px){
    header .logo a{
        width: 119px;
        height: 37px;
    }
    header .gnb_wrap ul.depth1 > li {
        padding: 0 20px; /*왜 안줄어들지...*/
    }
    header .gnb_wrap ul.depth1 > li > a {
        font-size: var(--scroll-size);
    }
    header .util .lang_open span{
        font-size: var(--scroll-size);
    }
    
}










@media screen and (min-width:1025px) {
    header .gnb_open,
    header .gnb_close{ /*모바일에서 숨기기*/
        display: none;
    } 
    header .gnb_wrap ul.depth1{ /*1차메뉴 정렬*/
        display: flex; 
        text-align: center;
    }
    header .gnb_wrap ul.depth1 > li{ /*1차메뉴 li*/
        /* width: 113px; */
        padding: 0 23px;
        /*position: relative; 2차메뉴 정렬 기준*/
    }
    header .gnb_wrap ul.depth1 > li > a{
        display: block;
        line-height: var(--header-h);
    }
    
    /****** li에 over 클래스 추가**********/
    header .gnb_wrap ul.depth1 > li.over > a span{
        color: var(--point-font-color);
        font-weight: var(--bold-weight);
        position: relative; /*after 선 기준*/
    }
    header .gnb_wrap ul.depth1 > li.over > a span::after{
        content: ""; /*1차메뉴 선*/
        position: absolute;
        left: 0;
        bottom: -38px;
        z-index: 10;
        width: 100%;
        height: 4px;
        background-color: var(--point-font-color);
    }
    
    /*2차메뉴*/
    header .gnb_wrap ul.depth1 > li > ul.depth2{ /*다른 2차메뉴 안보이게*/
        display: none;
        position: absolute; /*li를 기준으로*/
        left: 50%;
        top: var(--header-h);
        transform: translateX(-50%);
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
        display: block;
        line-height: var(--header-h);
        font-size: var(--scroll-size);
        padding: 0 27px;
        color: var(--tit-font-color);
        white-space: nowrap;
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span{
        position: relative; /*after 선 기준*/
    }
    /*2차메뉴 - 마우스 오버시*/
    header .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background-color: var(--tit-font-color);
    }

    /********* header에 menu_over 클래스 추가 ***********/
    header.menu_over::before{ /*2차 메뉴 뒷 배경*/
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: var(--header-h);
        background-color: #fff;
        z-index: -1;
    }
    header.menu_over::after{
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #ccc;
    }
    /* menu_over, over 클래스 들어간 2차메뉴 li*/
    header.menu_over .gnb_wrap ul.depth1 > li.over > ul.depth2{ 
        display: flex; /*none -> flex*/
        justify-content: flex-start;
    }
} /*@media 1025 이상에서만 */






