
header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex; /*logo, gnb, util 좌우 배치*/
    justify-content: space-between;
    align-items: center;
    padding: 0 1.17em; /*20 / 17*/
}
header .logo a{
    display: block;
    width: 8.52em; /*145 / 17*/
    height: 2.05em; /*35 / 17*/
    background: url(../images/common/logo.w.png) no-repeat center center / contain;
}

/*******************  아래로 스크롤 내릴 때 header  사라짐 ***********************/
header.fixed.gnb_up{
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over{
    top: 0;
}

/*******************  header에 fixed클래스 추가  ***********************/
header.fixed{
    background-color: #fff;
    color: var(--tit-font-color);
    border-bottom-color: var(--base-font-color);
}
header.fixed .logo a{
    background: url(../images/common/logo.png) no-repeat center center / contain;
}
header.fixed .util .search .search_open{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6833 22.375L13.0708 14.7625C12.4667 15.2458 11.7719 15.6285 10.9865 15.9104C10.201 16.1924 9.36528 16.3333 8.47917 16.3333C6.28403 16.3333 4.42622 15.5731 2.90573 14.0526C1.38524 12.5321 0.625 10.6743 0.625 8.47917C0.625 6.28403 1.38524 4.42622 2.90573 2.90573C4.42622 1.38524 6.28403 0.625 8.47917 0.625C10.6743 0.625 12.5321 1.38524 14.0526 2.90573C15.5731 4.42622 16.3333 6.28403 16.3333 8.47917C16.3333 9.36528 16.1924 10.201 15.9104 10.9865C15.6285 11.7719 15.2458 12.4667 14.7625 13.0708L22.375 20.6833L20.6833 22.375ZM8.47917 13.9167C9.98958 13.9167 11.2734 13.388 12.3307 12.3307C13.388 11.2734 13.9167 9.98958 13.9167 8.47917C13.9167 6.96875 13.388 5.6849 12.3307 4.6276C11.2734 3.57031 9.98958 3.04167 8.47917 3.04167C6.96875 3.04167 5.6849 3.57031 4.6276 4.6276C3.57031 5.6849 3.04167 6.96875 3.04167 8.47917C3.04167 9.98958 3.57031 11.2734 4.6276 12.3307C5.6849 13.388 6.96875 13.9167 8.47917 13.9167Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
header.fixed .util .lang .lang_open{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C10.36 24 8.81 23.685 7.35 23.055C5.89 22.425 4.615 21.565 3.525 20.475C2.435 19.385 1.575 18.11 0.945 16.65C0.315 15.19 0 13.64 0 12C0 10.34 0.315 8.785 0.945 7.335C1.575 5.885 2.435 4.615 3.525 3.525C4.615 2.435 5.89 1.575 7.35 0.945C8.81 0.315 10.36 0 12 0C13.66 0 15.215 0.315 16.665 0.945C18.115 1.575 19.385 2.435 20.475 3.525C21.565 4.615 22.425 5.885 23.055 7.335C23.685 8.785 24 10.34 24 12C24 13.64 23.685 15.19 23.055 16.65C22.425 18.11 21.565 19.385 20.475 20.475C19.385 21.565 18.115 22.425 16.665 23.055C15.215 23.685 13.66 24 12 24ZM12 21.54C12.52 20.82 12.97 20.07 13.35 19.29C13.73 18.51 14.04 17.68 14.28 16.8H9.72C9.96 17.68 10.27 18.51 10.65 19.29C11.03 20.07 11.48 20.82 12 21.54ZM8.88 21.06C8.52 20.4 8.205 19.715 7.935 19.005C7.665 18.295 7.44 17.56 7.26 16.8H3.72C4.3 17.8 5.025 18.67 5.895 19.41C6.765 20.15 7.76 20.7 8.88 21.06ZM15.12 21.06C16.24 20.7 17.235 20.15 18.105 19.41C18.975 18.67 19.7 17.8 20.28 16.8H16.74C16.56 17.56 16.335 18.295 16.065 19.005C15.795 19.715 15.48 20.4 15.12 21.06ZM2.7 14.4H6.78C6.72 14 6.675 13.605 6.645 13.215C6.615 12.825 6.6 12.42 6.6 12C6.6 11.58 6.615 11.175 6.645 10.785C6.675 10.395 6.72 10 6.78 9.6H2.7C2.6 10 2.525 10.395 2.475 10.785C2.425 11.175 2.4 11.58 2.4 12C2.4 12.42 2.425 12.825 2.475 13.215C2.525 13.605 2.6 14 2.7 14.4ZM9.18 14.4H14.82C14.88 14 14.925 13.605 14.955 13.215C14.985 12.825 15 12.42 15 12C15 11.58 14.985 11.175 14.955 10.785C14.925 10.395 14.88 10 14.82 9.6H9.18C9.12 10 9.075 10.395 9.045 10.785C9.015 11.175 9 11.58 9 12C9 12.42 9.015 12.825 9.045 13.215C9.075 13.605 9.12 14 9.18 14.4ZM17.22 14.4H21.3C21.4 14 21.475 13.605 21.525 13.215C21.575 12.825 21.6 12.42 21.6 12C21.6 11.58 21.575 11.175 21.525 10.785C21.475 10.395 21.4 10 21.3 9.6H17.22C17.28 10 17.325 10.395 17.355 10.785C17.385 11.175 17.4 11.58 17.4 12C17.4 12.42 17.385 12.825 17.355 13.215C17.325 13.605 17.28 14 17.22 14.4ZM16.74 7.2H20.28C19.7 6.2 18.975 5.33 18.105 4.59C17.235 3.85 16.24 3.3 15.12 2.94C15.48 3.6 15.795 4.285 16.065 4.995C16.335 5.705 16.56 6.44 16.74 7.2ZM9.72 7.2H14.28C14.04 6.32 13.73 5.49 13.35 4.71C12.97 3.93 12.52 3.18 12 2.46C11.48 3.18 11.03 3.93 10.65 4.71C10.27 5.49 9.96 6.32 9.72 7.2ZM3.72 7.2H7.26C7.44 6.44 7.665 5.705 7.935 4.995C8.205 4.285 8.52 3.6 8.88 2.94C7.76 3.3 6.765 3.85 5.895 4.59C5.025 5.33 4.3 6.2 3.72 7.2Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
/*******************  header에 fixed클래스 끝!! ***********************/


@media screen and (min-width:1025px) {
    header .gnb .gnb_open,
    header .gnb .gnb_close{
        display: none; /*온라인에서만 보임*/
    }
    header .gnb .gnb_wrap ul.depth1{
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li{
        position: relative; /*2차메뉴의 정렬*/
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a{
        display: block;
        line-height: var(--header-h);
        font-weight: var(--bold-weight);
        font-size: var(--header-font-size);
        padding: 0 1.55em; /* 31 / 20*/
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--bg-black-color);
        top: 3.82em;
        width: 9.94em; /*196 / 17*/
        padding: 0.64em 0 0.82em 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
        display: inline-block;
        white-space: nowrap;
        margin: 5px 0;
        position: relative; /*밑줄 정렬 기준*/
    }

    header .util{
        display: flex;
        gap: 2px;
    }
    header .util .search .search_open,
    header .util .lang .lang_open{
        display: block;
        width: 2.47em; /* 42 / 20*/
        height: 2.47em; /* 42 / 20*/
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .util .search .search_open{
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6833 22.375L13.0708 14.7625C12.4667 15.2458 11.7719 15.6285 10.9865 15.9104C10.201 16.1924 9.36528 16.3333 8.47917 16.3333C6.28403 16.3333 4.42622 15.5731 2.90573 14.0526C1.38524 12.5321 0.625 10.6743 0.625 8.47917C0.625 6.28403 1.38524 4.42622 2.90573 2.90573C4.42622 1.38524 6.28403 0.625 8.47917 0.625C10.6743 0.625 12.5321 1.38524 14.0526 2.90573C15.5731 4.42622 16.3333 6.28403 16.3333 8.47917C16.3333 9.36528 16.1924 10.201 15.9104 10.9865C15.6285 11.7719 15.2458 12.4667 14.7625 13.0708L22.375 20.6833L20.6833 22.375ZM8.47917 13.9167C9.98958 13.9167 11.2734 13.388 12.3307 12.3307C13.388 11.2734 13.9167 9.98958 13.9167 8.47917C13.9167 6.96875 13.388 5.6849 12.3307 4.6276C11.2734 3.57031 9.98958 3.04167 8.47917 3.04167C6.96875 3.04167 5.6849 3.57031 4.6276 4.6276C3.57031 5.6849 3.04167 6.96875 3.04167 8.47917C3.04167 9.98958 3.57031 11.2734 4.6276 12.3307C5.6849 13.388 6.96875 13.9167 8.47917 13.9167Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .util .lang .lang_open{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C10.36 24 8.81 23.685 7.35 23.055C5.89 22.425 4.615 21.565 3.525 20.475C2.435 19.385 1.575 18.11 0.945 16.65C0.315 15.19 0 13.64 0 12C0 10.34 0.315 8.785 0.945 7.335C1.575 5.885 2.435 4.615 3.525 3.525C4.615 2.435 5.89 1.575 7.35 0.945C8.81 0.315 10.36 0 12 0C13.66 0 15.215 0.315 16.665 0.945C18.115 1.575 19.385 2.435 20.475 3.525C21.565 4.615 22.425 5.885 23.055 7.335C23.685 8.785 24 10.34 24 12C24 13.64 23.685 15.19 23.055 16.65C22.425 18.11 21.565 19.385 20.475 20.475C19.385 21.565 18.115 22.425 16.665 23.055C15.215 23.685 13.66 24 12 24ZM12 21.54C12.52 20.82 12.97 20.07 13.35 19.29C13.73 18.51 14.04 17.68 14.28 16.8H9.72C9.96 17.68 10.27 18.51 10.65 19.29C11.03 20.07 11.48 20.82 12 21.54ZM8.88 21.06C8.52 20.4 8.205 19.715 7.935 19.005C7.665 18.295 7.44 17.56 7.26 16.8H3.72C4.3 17.8 5.025 18.67 5.895 19.41C6.765 20.15 7.76 20.7 8.88 21.06ZM15.12 21.06C16.24 20.7 17.235 20.15 18.105 19.41C18.975 18.67 19.7 17.8 20.28 16.8H16.74C16.56 17.56 16.335 18.295 16.065 19.005C15.795 19.715 15.48 20.4 15.12 21.06ZM2.7 14.4H6.78C6.72 14 6.675 13.605 6.645 13.215C6.615 12.825 6.6 12.42 6.6 12C6.6 11.58 6.615 11.175 6.645 10.785C6.675 10.395 6.72 10 6.78 9.6H2.7C2.6 10 2.525 10.395 2.475 10.785C2.425 11.175 2.4 11.58 2.4 12C2.4 12.42 2.425 12.825 2.475 13.215C2.525 13.605 2.6 14 2.7 14.4ZM9.18 14.4H14.82C14.88 14 14.925 13.605 14.955 13.215C14.985 12.825 15 12.42 15 12C15 11.58 14.985 11.175 14.955 10.785C14.925 10.395 14.88 10 14.82 9.6H9.18C9.12 10 9.075 10.395 9.045 10.785C9.015 11.175 9 11.58 9 12C9 12.42 9.015 12.825 9.045 13.215C9.075 13.605 9.12 14 9.18 14.4ZM17.22 14.4H21.3C21.4 14 21.475 13.605 21.525 13.215C21.575 12.825 21.6 12.42 21.6 12C21.6 11.58 21.575 11.175 21.525 10.785C21.475 10.395 21.4 10 21.3 9.6H17.22C17.28 10 17.325 10.395 17.355 10.785C17.385 11.175 17.4 11.58 17.4 12C17.4 12.42 17.385 12.825 17.355 13.215C17.325 13.605 17.28 14 17.22 14.4ZM16.74 7.2H20.28C19.7 6.2 18.975 5.33 18.105 4.59C17.235 3.85 16.24 3.3 15.12 2.94C15.48 3.6 15.795 4.285 16.065 4.995C16.335 5.705 16.56 6.44 16.74 7.2ZM9.72 7.2H14.28C14.04 6.32 13.73 5.49 13.35 4.71C12.97 3.93 12.52 3.18 12 2.46C11.48 3.18 11.03 3.93 10.65 4.71C10.27 5.49 9.96 6.32 9.72 7.2ZM3.72 7.2H7.26C7.44 6.44 7.665 5.705 7.935 4.995C8.205 4.285 8.52 3.6 8.88 2.94C7.76 3.3 6.765 3.85 5.895 4.59C5.025 5.33 4.3 6.2 3.72 7.2Z' fill='white'/%3E%3C/svg%3E%0A");
    }


    /* ##########  메뉴에 over클래스 추가했을 때  ##########*/
    header .gnb .gnb_wrap ul.depth1 > li.over > a{
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a::after{
        content: "";
        position: absolute;
        right: 1em;
        top: 1.05em;
        width: 0.4em;
        height: 0.4em;
        background-color: var(--main-font-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2{
        display: block;
        color: #fff;
    }

    /* ##########  2차 메뉴에 마우스를 오버했을 때  ##########*/
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: 1s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:hover > a::before{
        width: 100%;
    }
} /*@media header 1025 이상 pc에서만 보이는 것*/



@media screen and (max-width:1024px) {
    header .gnb .gnb_open,
    header .gnb .gnb_close{
        display: none; /*온라인에서만 보임*/
    }
    header .gnb .gnb_wrap ul.depth1{
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li{
        position: relative; /*2차메뉴의 정렬*/
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a{
        display: block;
        line-height: var(--header-h);
        font-weight: var(--bold-weight);
        font-size: var(--header-font-size);
        padding: 0 1.55em; /* 31 / 20*/
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--bg-black-color);
        top: 3.82em;
        width: 9.94em; /*196 / 17*/
        padding: 0.64em 0 0.82em 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
        display: inline-block;
        white-space: nowrap;
        margin: 5px 0;
        position: relative; /*밑줄 정렬 기준*/
    }

    header .util{
        display: flex;
        gap: 2px;
    }
    header .util .search .search_open,
    header .util .lang .lang_open{
        display: block;
        width: 2.47em; /* 42 / 20*/
        height: 2.47em; /* 42 / 20*/
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .util .search .search_open{
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6833 22.375L13.0708 14.7625C12.4667 15.2458 11.7719 15.6285 10.9865 15.9104C10.201 16.1924 9.36528 16.3333 8.47917 16.3333C6.28403 16.3333 4.42622 15.5731 2.90573 14.0526C1.38524 12.5321 0.625 10.6743 0.625 8.47917C0.625 6.28403 1.38524 4.42622 2.90573 2.90573C4.42622 1.38524 6.28403 0.625 8.47917 0.625C10.6743 0.625 12.5321 1.38524 14.0526 2.90573C15.5731 4.42622 16.3333 6.28403 16.3333 8.47917C16.3333 9.36528 16.1924 10.201 15.9104 10.9865C15.6285 11.7719 15.2458 12.4667 14.7625 13.0708L22.375 20.6833L20.6833 22.375ZM8.47917 13.9167C9.98958 13.9167 11.2734 13.388 12.3307 12.3307C13.388 11.2734 13.9167 9.98958 13.9167 8.47917C13.9167 6.96875 13.388 5.6849 12.3307 4.6276C11.2734 3.57031 9.98958 3.04167 8.47917 3.04167C6.96875 3.04167 5.6849 3.57031 4.6276 4.6276C3.57031 5.6849 3.04167 6.96875 3.04167 8.47917C3.04167 9.98958 3.57031 11.2734 4.6276 12.3307C5.6849 13.388 6.96875 13.9167 8.47917 13.9167Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .util .lang .lang_open{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C10.36 24 8.81 23.685 7.35 23.055C5.89 22.425 4.615 21.565 3.525 20.475C2.435 19.385 1.575 18.11 0.945 16.65C0.315 15.19 0 13.64 0 12C0 10.34 0.315 8.785 0.945 7.335C1.575 5.885 2.435 4.615 3.525 3.525C4.615 2.435 5.89 1.575 7.35 0.945C8.81 0.315 10.36 0 12 0C13.66 0 15.215 0.315 16.665 0.945C18.115 1.575 19.385 2.435 20.475 3.525C21.565 4.615 22.425 5.885 23.055 7.335C23.685 8.785 24 10.34 24 12C24 13.64 23.685 15.19 23.055 16.65C22.425 18.11 21.565 19.385 20.475 20.475C19.385 21.565 18.115 22.425 16.665 23.055C15.215 23.685 13.66 24 12 24ZM12 21.54C12.52 20.82 12.97 20.07 13.35 19.29C13.73 18.51 14.04 17.68 14.28 16.8H9.72C9.96 17.68 10.27 18.51 10.65 19.29C11.03 20.07 11.48 20.82 12 21.54ZM8.88 21.06C8.52 20.4 8.205 19.715 7.935 19.005C7.665 18.295 7.44 17.56 7.26 16.8H3.72C4.3 17.8 5.025 18.67 5.895 19.41C6.765 20.15 7.76 20.7 8.88 21.06ZM15.12 21.06C16.24 20.7 17.235 20.15 18.105 19.41C18.975 18.67 19.7 17.8 20.28 16.8H16.74C16.56 17.56 16.335 18.295 16.065 19.005C15.795 19.715 15.48 20.4 15.12 21.06ZM2.7 14.4H6.78C6.72 14 6.675 13.605 6.645 13.215C6.615 12.825 6.6 12.42 6.6 12C6.6 11.58 6.615 11.175 6.645 10.785C6.675 10.395 6.72 10 6.78 9.6H2.7C2.6 10 2.525 10.395 2.475 10.785C2.425 11.175 2.4 11.58 2.4 12C2.4 12.42 2.425 12.825 2.475 13.215C2.525 13.605 2.6 14 2.7 14.4ZM9.18 14.4H14.82C14.88 14 14.925 13.605 14.955 13.215C14.985 12.825 15 12.42 15 12C15 11.58 14.985 11.175 14.955 10.785C14.925 10.395 14.88 10 14.82 9.6H9.18C9.12 10 9.075 10.395 9.045 10.785C9.015 11.175 9 11.58 9 12C9 12.42 9.015 12.825 9.045 13.215C9.075 13.605 9.12 14 9.18 14.4ZM17.22 14.4H21.3C21.4 14 21.475 13.605 21.525 13.215C21.575 12.825 21.6 12.42 21.6 12C21.6 11.58 21.575 11.175 21.525 10.785C21.475 10.395 21.4 10 21.3 9.6H17.22C17.28 10 17.325 10.395 17.355 10.785C17.385 11.175 17.4 11.58 17.4 12C17.4 12.42 17.385 12.825 17.355 13.215C17.325 13.605 17.28 14 17.22 14.4ZM16.74 7.2H20.28C19.7 6.2 18.975 5.33 18.105 4.59C17.235 3.85 16.24 3.3 15.12 2.94C15.48 3.6 15.795 4.285 16.065 4.995C16.335 5.705 16.56 6.44 16.74 7.2ZM9.72 7.2H14.28C14.04 6.32 13.73 5.49 13.35 4.71C12.97 3.93 12.52 3.18 12 2.46C11.48 3.18 11.03 3.93 10.65 4.71C10.27 5.49 9.96 6.32 9.72 7.2ZM3.72 7.2H7.26C7.44 6.44 7.665 5.705 7.935 4.995C8.205 4.285 8.52 3.6 8.88 2.94C7.76 3.3 6.765 3.85 5.895 4.59C5.025 5.33 4.3 6.2 3.72 7.2Z' fill='white'/%3E%3C/svg%3E%0A");
    }


    /* ##########  메뉴에 over클래스 추가했을 때  ##########*/
    header .gnb .gnb_wrap ul.depth1 > li.over > a{
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a::after{
        content: "";
        position: absolute;
        right: 1em;
        top: 1.05em;
        width: 0.4em;
        height: 0.4em;
        background-color: var(--main-font-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2{
        display: block;
        color: #fff;
    }

    /* ##########  2차 메뉴에 마우스를 오버했을 때  ##########*/
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: 1s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:hover > a::before{
        width: 100%;
    }
} /*@media header 1024 이하 mobile*/






















footer{
    margin: 1000px 0 0 0;
}





