@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual{
    position: relative; /*ctrl_wraps, croll_down 정렬 기준*/
}

.visual .swiper{
    width: 100%;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
}

.visual .swiper-slide .photo{
    overflow: hidden;
    height: 100%;
    /*min-height: 31.76em;  최소 높이 : 540 / 17 */
}
.visual .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}

.visual .swiper-slide.swiper-slide-active .photo img{ 
    transform: scale3d(1.1, 1.1, 1);
}

.visual .swiper-slide .txt_wrap{
    position: absolute; /*.swiper-slide에 이미 position: realative 있음*/
    left: 0;
    bottom: 34.8%;
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt{
    overflow: hidden;
}
.visual .swiper-slide .txt_wrap .txt.mobile{
    display: none;
}
.visual .swiper-slide .txt_wrap .txt p{
    color: #fff;
    font-size: var(--display-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    white-space: nowrap; /* 1줄 표현*/

    transform: translateY(100%);
    transition: 0.7s;
    transition-delay: 0.5s;
}
.visual .swiper-slide .txt_wrap .txt.delay1 p {
    transition-delay: 1s;
}
.visual .swiper-slide .txt_wrap .txt.delay2 p {
    transition-delay: 1.2s;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p{
    transform: translateY(0);
}

.visual .ctrl_wrap{
    position: absolute;
    left: calc(50% - 630px); /*1920의 절반에서 왼쪽으로 1260의 딱 반*/ 
    bottom: 29.4%; /*visual높이가 1000, 사이 간격이 284px*/
    z-index: 10;
    display: flex;
}
.visual .ctrl_wrap button{ /*버튼들*/
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 0;
    width: 1.42em;
    height: 1.42em;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_wrap button:first-child{
    border-left: 1px solid rgba(255, 255, 255, 0.8);
}
.visual .ctrl_wrap button.btn_prev{
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='10' viewBox='0 0 5 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16693 9.02233L0.144531 4.99994L4.16693 0.977539L4.75828 1.56889L1.32714 4.99994L4.75828 8.43098L4.16693 9.02233Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M4.73926 1.56836L1.31836 4.99121L1.30957 5L4.74023 8.43066L4.16602 9.00391L0.162109 5L4.16602 0.995117L4.73926 1.56836Z' stroke='white' stroke-opacity='0.8' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_next{
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='10' viewBox='0 0 5 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833071 0.978649L4.85547 5.00104L0.833071 9.02344L0.241717 8.43208L3.67286 5.00104L0.241716 1.57L0.833071 0.978649Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M0.260742 8.43262L3.68164 5.00977L3.69043 5.00098L0.259765 1.57031L0.833984 0.997071L4.83789 5.00098L0.833984 9.00586L0.260742 8.43262Z' stroke='white' stroke-opacity='0.8' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_stop{
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.16634 7.79134V0.208008H7.35384V7.79134H5.16634ZM0.645508 7.79134V0.208008H2.83301V7.79134H0.645508Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M7.3418 0.220703V7.7793H5.17871V0.220703H7.3418ZM2.82031 0.220703V7.7793H0.658203V0.220703H2.82031Z' stroke='white' stroke-opacity='0.8' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_play{
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.958484 0.444641L6.54492 4.00064L0.958484 7.55664L0.958484 0.444641Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M0.970703 0.467774L6.52246 4.00098L0.970703 7.53418L0.970703 0.467774Z' stroke='white' stroke-opacity='0.8' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}

.visual .scroll_down{
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    bottom: 2.5%;
    z-index: 10;
    color: rgba(255, 255, 255, 0.8);
}
.visual .scroll_down::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.35em; /*23 / 17*/
    width: 1.05em; /*18 / 17*/
    height: 1.05em; /*18 / 17*/
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_50_4007' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_50_4007)'%3E%3Cpath d='M9.00008 11.2904L4.75977 7.05008L5.55008 6.25977L9.00008 9.70977L12.4501 6.25977L13.2404 7.05008L9.00008 11.2904Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");

    animation-name: scroll_down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /*가속도 없앰*/
}
@keyframes scroll_down {
    0% {top: 1.35em;}
    50% {top: 2.20em;}
    100% {top: 1.35em;}
}











