/* 모든페이지에 공통으로 들어가는 기본 스타일 */
body {
    font-family: "Pretendard", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /* 배수 */
    color: #555;
    word-break: keep-all; /* 스페이스기준 단어별로 줄바꿈 */
    word-wrap: break-word;
    /* 단어가 너무 긴경우 강제로 줄바꿈을 주는 방법  */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 */
}
#wrap {
    min-width: 1300px; /* 1260 + 20 + 20 = 1300 */
    position: relative; /* header 정렬의 기준 */
}
@media screen and (max-width:640px){
            /* 브라우저 넓이가 640px 이하에서만 작동 */
            body {
                font-size: 16px;
            }
            .wrapper {
                width: auto; /* 넓이는 알아서 좌우여백 20px */
                margin: 0 20px; 
            }
            #wrap {
                min-width: 0; /*최소넓이 없음*/
            }
}

/* 글자를 숨겨야하는 경우 blind 클래스를 적용 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}
