@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 400;
	font-display: swap;
	src: url("../font/NanumSquareNeoTTF-bRg.eot?#iefix") format("embedded-opentype"), url(../font/NanumSquareNeoTTF-bRg.woff2) format("woff2"), url(../font/NanumSquareNeoTTF-bRg.woff) format("woff"); 
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 800;
	font-display: swap;
	src: url("../font/NanumSquareNeoTTF-dEb.eot?#iefix") format("embedded-opentype"), url(../font/NanumSquareNeoTTF-dEb.woff2) format("woff2"), url(../font/NanumSquareNeoTTF-dEb.woff) format("woff"); 
}
