/* 모든페이지에 공통으로 들어가는 기본 스타일 */
body {
    font-family: "Pretendard", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /* 배수 */
    color: #555;
    word-break: keep-all;
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 */
}
#wrap {
    min-width: 1308px;
    /*
        1260 + 24 + 24 = 1308
        1260 + 30 + 30 = 1320 
    */
    position: relative; /* header 정렬의 기준 */
}
/* 글자를 숨겨야하는 경우 blind 클래스를 적용 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}