@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); /*본고딕 웹폰트*/
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700; /*지마켓산스 - 홈페이지에서 직접 따온 것*/
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('../font/GmarketSansBold.woff2') format('woff2'), 
	url('../font/GmarketSansBold.woff') format('woff'); 
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('../font/GmarketSansMedium.woff2') format('woff2'), 
	url('../font/GmarketSansMedium.woff') format('woff'); 
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('../font/GmarketSansLight.woff2') format('woff2'), 
	url('../font/GmarketSansLight.woff') format('woff'); 
}