@import url(common.css);
@import url(defalut.css);
@import url(font.css);

.section_tit{
    font-family:'Gmarket Sans';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: #1d1d1d;
}
@media screen and (max-width:640px){
        .section_tit{
            font-size: 20px;
        }
}/* @media section_tit*/



.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 900px;
    color: #fff;
    text-align: left;
}
.visual h2{
    padding: 548px 0 11px 0;
}
.visual p{
    color: #fff;
}
@media screen and (max-width:640px){ /*visual 모바일*/
        .visual{
            height: auto; /*그냥 마진으로 주면은 줄어들을때 계속 내려감*/
            padding: 0 0 93px 0;
        }
        .visual h2{
            padding: 355px 0 8px 0;
        }
        .visual p{
            font-size: 25px;
        }
        .visual p br{
            display: none; /*줄바꿈 삭제*/
        }
} /*visual media*/


header{
    height: 90px;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
    left: 0;
    top: 0;
    z-index: 100;
    color: #fff;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none;
}
header .gnb_wrap ul{
    display: flex;
}
header .gnb_wrap ul li a{
    display: block;
    line-height: 90px;
    font-family:'Gmarket Sans';
    font-weight: 500;
    font-size: 20px;
    padding: 0 30px; /*위아래는 안줘, 좌우만 여백주기*/
}
header .tnb{
    display: flex;
    gap: 4px;
}
header .tnb .mypage{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_20_857' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_20_857)'%3E%3Cpath d='M14.5 14.1283C13.337 14.1283 12.3414 13.7142 11.5133 12.8861C10.685 12.0578 10.2708 11.0621 10.2708 9.89909C10.2708 8.73607 10.685 7.7405 11.5133 6.91239C12.3414 6.08408 13.337 5.66992 14.5 5.66992C15.663 5.66992 16.6586 6.08408 17.4867 6.91239C18.315 7.7405 18.7292 8.73607 18.7292 9.89909C18.7292 11.0621 18.315 12.0578 17.4867 12.8861C16.6586 13.7142 15.663 14.1283 14.5 14.1283ZM5.4375 21.4946V20.6439C5.4375 20.0522 5.59821 19.5042 5.91963 19C6.24104 18.4957 6.6706 18.108 7.20831 17.8369C8.40255 17.2515 9.60736 16.8124 10.8227 16.5195C12.0381 16.2267 13.2639 16.0803 14.5 16.0803C15.7361 16.0803 16.9619 16.2267 18.1773 16.5195C19.3926 16.8124 20.5975 17.2515 21.7917 17.8369C22.3294 18.108 22.759 18.4957 23.0804 19C23.4018 19.5042 23.5625 20.0522 23.5625 20.6439V21.4946C23.5625 22.0041 23.384 22.4375 23.0269 22.7947C22.6698 23.1518 22.2365 23.3303 21.7267 23.3303H7.27326C6.76355 23.3303 6.33016 23.1518 5.97309 22.7947C5.61603 22.4375 5.4375 22.0041 5.4375 21.4946ZM7.25 21.5178H21.75V20.6439C21.75 20.3992 21.6791 20.1726 21.5373 19.9642C21.3956 19.756 21.2031 19.586 20.9601 19.4543C19.9189 18.9416 18.8574 18.5531 17.7755 18.2888C16.6934 18.0248 15.6016 17.8928 14.5 17.8928C13.3984 17.8928 12.3066 18.0248 11.2245 18.2888C10.1427 18.5531 9.08113 18.9416 8.03995 19.4543C7.79687 19.586 7.60444 19.756 7.46267 19.9642C7.32089 20.1726 7.25 20.3992 7.25 20.6439V21.5178ZM14.5 12.3158C15.1646 12.3158 15.7335 12.0791 16.2068 11.6059C16.68 11.1326 16.9167 10.5637 16.9167 9.89909C16.9167 9.23451 16.68 8.66558 16.2068 8.19232C15.7335 7.71905 15.1646 7.48242 14.5 7.48242C13.8354 7.48242 13.2665 7.71905 12.7932 8.19232C12.32 8.66558 12.0833 9.23451 12.0833 9.89909C12.0833 10.5637 12.32 11.1326 12.7932 11.6059C13.2665 12.0791 13.8354 12.3158 14.5 12.3158Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .lang{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_20_854' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_20_854)'%3E%3Cpath d='M14.0003 25.0837C12.4807 25.0837 11.0467 24.7924 9.69824 24.2098C8.34977 23.6273 7.17377 22.8341 6.17024 21.8304C5.16652 20.8269 4.37338 19.6509 3.79083 18.3024C3.20827 16.9539 2.91699 15.5199 2.91699 14.0003C2.91699 12.4687 3.20827 11.0316 3.79083 9.6892C4.37338 8.34676 5.16652 7.17377 6.17024 6.17024C7.17377 5.16652 8.34977 4.37338 9.69824 3.79083C11.0467 3.20827 12.4807 2.91699 14.0003 2.91699C15.532 2.91699 16.969 3.20827 18.3115 3.79083C19.6539 4.37338 20.8269 5.16652 21.8304 6.17024C22.8341 7.17377 23.6273 8.34676 24.2098 9.6892C24.7924 11.0316 25.0837 12.4687 25.0837 14.0003C25.0837 15.5199 24.7924 16.9539 24.2098 18.3024C23.6273 19.6509 22.8341 20.8269 21.8304 21.8304C20.8269 22.8341 19.6539 23.6273 18.3115 24.2098C16.969 24.7924 15.532 25.0837 14.0003 25.0837ZM14.0003 23.3089C14.5957 22.5192 15.0968 21.7228 15.5036 20.9195C15.9104 20.1163 16.2417 19.2383 16.4976 18.2855H11.5031C11.7739 19.2682 12.1091 20.1612 12.5085 20.9645C12.9076 21.7677 13.4049 22.5492 14.0003 23.3089ZM11.7411 22.988C11.2939 22.3464 10.8922 21.6169 10.5362 20.7997C10.1802 19.9822 9.90348 19.1442 9.70612 18.2855H5.74849C6.36469 19.4971 7.19107 20.515 8.22766 21.3392C9.26424 22.1633 10.4354 22.7129 11.7411 22.988ZM16.2596 22.988C17.5653 22.7129 18.7364 22.1633 19.773 21.3392C20.8096 20.515 21.636 19.4971 22.2522 18.2855H18.2945C18.0596 19.1515 17.7642 19.9933 17.4082 20.8107C17.0523 21.6282 16.6695 22.354 16.2596 22.988ZM5.01466 16.5355H9.35174C9.27844 16.1019 9.22526 15.6767 9.1922 15.26C9.15934 14.8435 9.14291 14.4236 9.14291 14.0003C9.14291 13.577 9.15934 13.1571 9.1922 12.7406C9.22526 12.3239 9.27844 11.8988 9.35174 11.4652H5.01466C4.90246 11.8614 4.81652 12.2735 4.75683 12.7012C4.69694 13.129 4.66699 13.562 4.66699 14.0003C4.66699 14.4386 4.69694 14.8716 4.75683 15.2994C4.81652 15.7272 4.90246 16.1392 5.01466 16.5355ZM11.1014 16.5355H16.8992C16.9723 16.1019 17.0254 15.6805 17.0584 15.2714C17.0913 14.8623 17.1077 14.4386 17.1077 14.0003C17.1077 13.562 17.0913 13.1384 17.0584 12.7292C17.0254 12.3201 16.9723 11.8988 16.8992 11.4652H11.1014C11.0283 11.8988 10.9753 12.3201 10.9422 12.7292C10.9093 13.1384 10.8929 13.562 10.8929 14.0003C10.8929 14.4386 10.9093 14.8623 10.9422 15.2714C10.9753 15.6805 11.0283 16.1019 11.1014 16.5355ZM18.6489 16.5355H22.986C23.0982 16.1392 23.1841 15.7272 23.2438 15.2994C23.3037 14.8716 23.3337 14.4386 23.3337 14.0003C23.3337 13.562 23.3037 13.129 23.2438 12.7012C23.1841 12.2735 23.0982 11.8614 22.986 11.4652H18.6489C18.7222 11.8988 18.7754 12.3239 18.8084 12.7406C18.8413 13.1571 18.8577 13.577 18.8577 14.0003C18.8577 14.4236 18.8413 14.8435 18.8084 15.26C18.7754 15.6767 18.7222 16.1019 18.6489 16.5355ZM18.2945 9.71516H22.2522C21.6286 8.4886 20.8078 7.47069 19.7899 6.66141C18.772 5.85233 17.5952 5.29894 16.2596 5.00124C16.7068 5.68024 17.1046 6.42292 17.4531 7.22928C17.8017 8.03545 18.0822 8.86408 18.2945 9.71516ZM11.5031 9.71516H16.4976C16.2267 8.73983 15.886 7.8412 15.4756 7.01928C15.0649 6.19737 14.5732 5.42153 14.0003 4.69178C13.4275 5.42153 12.9357 6.19737 12.5251 7.01928C12.1146 7.8412 11.7739 8.73983 11.5031 9.71516ZM5.74849 9.71516H9.70612C9.91845 8.86408 10.1989 8.03545 10.5476 7.22928C10.896 6.42292 11.2939 5.68024 11.7411 5.00124C10.3979 5.29894 9.21923 5.85427 8.2052 6.66724C7.19098 7.48002 6.37208 8.49599 5.74849 9.71516Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (max-width:640px){ /*visual 모바일*/
        header{
            height: 56px;
        }
        header .wrapper{
            margin-right: 0; /*메뉴열기 버튼 때문에 여백 삭제해주기*/
        }
        header .logo a img{
            width: 90px;
        }
        header .gnb .gnb_open{
            display: block;
            width: 55px;
            height: 55px;
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_3162' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_3162)'%3E%3Cpath d='M5.31348 8.74902C5.04785 8.74902 4.82525 8.65913 4.64566 8.47934C4.46587 8.29954 4.37598 8.07684 4.37598 7.81121C4.37598 7.54538 4.46587 7.32277 4.64566 7.1434C4.82525 6.96381 5.04785 6.87402 5.31348 6.87402H24.6885C24.9541 6.87402 25.1767 6.96392 25.3563 7.14371C25.5361 7.3235 25.626 7.54621 25.626 7.81184C25.626 8.07767 25.5361 8.30027 25.3563 8.47965C25.1767 8.65923 24.9541 8.74902 24.6885 8.74902H5.31348ZM5.31348 23.124C5.04785 23.124 4.82525 23.0341 4.64566 22.8543C4.46587 22.6745 4.37598 22.4518 4.37598 22.1862C4.37598 21.9204 4.46587 21.6978 4.64566 21.5184C4.82525 21.3388 5.04785 21.249 5.31348 21.249H24.6885C24.9541 21.249 25.1767 21.3389 25.3563 21.5187C25.5361 21.6985 25.626 21.9212 25.626 22.1868C25.626 22.4527 25.5361 22.6753 25.3563 22.8546C25.1767 23.0342 24.9541 23.124 24.6885 23.124H5.31348ZM5.31348 15.9365C5.04785 15.9365 4.82525 15.8466 4.64566 15.6668C4.46587 15.487 4.37598 15.2643 4.37598 14.9987C4.37598 14.7329 4.46587 14.5103 4.64566 14.3309C4.82525 14.1513 5.04785 14.0615 5.31348 14.0615H24.6885C24.9541 14.0615 25.1767 14.1514 25.3563 14.3312C25.5361 14.511 25.626 14.7337 25.626 14.9993C25.626 15.2652 25.5361 15.4878 25.3563 15.6671C25.1767 15.8467 24.9541 15.9365 24.6885 15.9365H5.31348Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }
        header .gnb_wrap{
            display: none;
        }
        header .tnb{
            display: none;
        }
} /*header media*/


.project{
    margin: 165px 0 0 0;
}
.project .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /*tit 높이만큼만 줄려고*/
}
.project .wrapper .tit{
    position: sticky;
    top: 20px;
    margin: 5px 0 0 0;
}
.project .tit h2{
    color: #0047AB;
    margin: 0 0 11px 0;
}
.project .list{
    width: 49.04%;
    /* 618 / 1260 * 100*/
    margin: 143px 0 0 0;
}
.project .list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}
.project .list ul li{
    width: calc(50% - 12px);
}
.project .list ul li:nth-child(even){
    transform: translateY(-143px);
}
.project .list ul li a{
    display: block;
    position: relative;
}
.project .list ul li a .photo{
    overflow: hidden;
    height: 435px;
    border-radius: 20px;
    position: relative; /*파란 배경 before의 기준*/
}
.project .list ul li a .photo::before{
    opacity: 0;
    transition: 0.5s;

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,71, 171, 0.9);
}
.project .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt{
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 40px;
}
.project .list ul li a .txt h3{
    font-family: 'Gmarket Sans'; 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2; 
}
.project .list ul li a .txt p{
    display: none;
    margin: 19px 0 13px 0;
    color: rgba(255, 255, 255, 0.8);
}
.project .list ul li a .txt span{
    display: none;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 0 19px 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.project .list ul li a .txt span::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_15_1101' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15_1101)'%3E%3Cpath d='M9.2684 7.5L4.56044 2.79203C4.43627 2.66786 4.3758 2.52005 4.37903 2.34859C4.38226 2.17714 4.44596 2.02927 4.57012 1.905C4.69429 1.78083 4.8421 1.71875 5.01356 1.71875C5.18502 1.71875 5.33288 1.78083 5.45715 1.905L10.242 6.69953C10.3549 6.81255 10.4386 6.93917 10.4931 7.07937C10.5477 7.21958 10.575 7.35979 10.575 7.5C10.575 7.64021 10.5477 7.78042 10.4931 7.92063C10.4386 8.06083 10.3549 8.18745 10.242 8.30047L5.44747 13.095C5.3233 13.2192 5.1771 13.2796 5.00887 13.2764C4.84054 13.2732 4.69429 13.2095 4.57012 13.0853C4.44596 12.9611 4.38387 12.8133 4.38387 12.6419C4.38387 12.4704 4.44596 12.3226 4.57012 12.1983L9.2684 7.5Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px){
/******************오버 스타일*******************/
    .project .list ul li a:hover .photo::before{
        opacity: 1;
    }
    .project .list ul li a:hover .txt p{
    display: block;
    }
    .project .list ul li a:hover .txt span{
        display: inline-block;
    }
} /*@media project 오버 스타일*/

@media screen and (max-width:640px){
            .project{
                margin: 71px 0 0 0;
            }
            .project .wrapper{
                display: block;
            }
            .project .wrapper .tit{
                position: relative;
                top: auto;
                margin: auto;
            }
            .project .tit h2{
                margin: 0 0 7px 0;
            }
            .project .list{
                width: auto;
                margin: 24px 0 0 0;
            }
            .project .list ul{
                gap: 16px 16px;
            }
            .project .list ul li{
                width: calc(50% - 8px);
            }
            .project .list ul li:nth-child(even){
                transform: none;
            }
            .project .list ul li a .photo{
                height: 85px;
                border-radius: 10px;
            }
            .project .list ul li a .txt{
                position: relative; /*떠있게 하는 거 풀기*/
                color: #1d1d1d;
                left: auto;
                bottom: auto;
                padding: 8px 0 0 0;
            }
            .project .list ul li a .txt h3{
                font-weight: 500;
                font-size: 15px;
            }
}/*@media 모바일 */

.news{
    margin: 128px 0 0 0;
    padding: 148px 0 146px 0;
    background: #f6f6f6;
}
.news .wrapper{
    position: relative;
}
.news .tit h2{
    color: #0047AB;
    margin: 0 0 11px 0;
}
.news .list{
    margin: 66px 0 0 0;
}
.news .list ul li{
    margin: 8px 0 0 0;
}
.news .list ul li:first-child{
    margin-top: 0;
}
.news .list ul li a{
    display: flex;
    justify-content: space-between;
    border: 1px solid #06275A;
    background-color: #fff;
    padding: 25px 40px; /*일반공지, 날짜 옆 여백*/
    align-items: center;
}
.news .list ul li a .subject{
    display: flex;
    width: calc(100% - 153px);
    justify-content: space-between;
    align-items:center ;
}
.news .list ul li a .subject strong{
    display: block;
    padding: 2px 16px 4px 16px;
    background-color: #0047AB;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
}
.news .list ul li a .subject h3{
    font-family:'Gmarket Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
    width: calc(100% - 135px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list ul li a .date{
    color: #0047AB;
    width: 153px;
    text-align: right;
}
.news .more{
    position: absolute;
    top: 59px;
    right: 0;
    padding: 3px 28px 4px 15px;
    border: 1px solid #0047AB;
    border-radius: 30px;
    color: #0047AB;
}
.news .more::after{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    right: 8px;
    top: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_1349' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_1349)'%3E%3Cpath d='M7.96842 9.03092H4.42676C4.27624 9.03092 4.15009 8.97998 4.04833 8.8781C3.94645 8.77622 3.89551 8.65002 3.89551 8.4995C3.89551 8.34886 3.94645 8.22272 4.04833 8.12107C4.15009 8.01931 4.27624 7.96842 4.42676 7.96842H7.96842V4.42676C7.96842 4.27624 8.01937 4.15009 8.12125 4.04833C8.22313 3.94645 8.34933 3.89551 8.49985 3.89551C8.65049 3.89551 8.77663 3.94645 8.87828 4.04833C8.98004 4.15009 9.03092 4.27624 9.03092 4.42676V7.96842H12.5726C12.7231 7.96842 12.8493 8.01937 12.951 8.12125C13.0529 8.22313 13.1038 8.34933 13.1038 8.49985C13.1038 8.65049 13.0529 8.77663 12.951 8.87828C12.8493 8.98004 12.7231 9.03092 12.5726 9.03092H9.03092V12.5726C9.03092 12.7231 8.97998 12.8493 8.8781 12.951C8.77622 13.0529 8.65002 13.1038 8.4995 13.1038C8.34886 13.1038 8.22272 13.0529 8.12107 12.951C8.01931 12.8493 7.96842 12.7231 7.96842 12.5726V9.03092Z' fill='%230047AB'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px){
    .news .list ul li a:hover{
        box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.25);
    }
    .news .list ul li a:hover .subject h3{
        color: #0047AB;
    }
    .news .more:hover{
        background-color: #3FE0D0;
        border: 1px solid #3FE0D0;
        color: #fff;
    }
    .news .more:hover::after{
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_2264' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_2264)'%3E%3Cpath d='M7.9694 9.03092H4.42773C4.27721 9.03092 4.15107 8.97998 4.04931 8.8781C3.94743 8.77622 3.89648 8.65002 3.89648 8.4995C3.89648 8.34886 3.94743 8.22272 4.04931 8.12107C4.15107 8.01931 4.27721 7.96842 4.42773 7.96842H7.9694V4.42676C7.9694 4.27624 8.02034 4.15009 8.12222 4.04833C8.22411 3.94645 8.35031 3.89551 8.50083 3.89551C8.65147 3.89551 8.77761 3.94645 8.87926 4.04833C8.98102 4.15009 9.0319 4.27624 9.0319 4.42676V7.96842H12.5736C12.7241 7.96842 12.8502 8.01937 12.952 8.12125C13.0539 8.22313 13.1048 8.34933 13.1048 8.49985C13.1048 8.65049 13.0539 8.77663 12.952 8.87828C12.8502 8.98004 12.7241 9.03092 12.5736 9.03092H9.0319V12.5726C9.0319 12.7231 8.98096 12.8493 8.87908 12.951C8.7772 13.0529 8.65099 13.1038 8.50047 13.1038C8.34983 13.1038 8.22369 13.0529 8.12205 12.951C8.02028 12.8493 7.9694 12.7231 7.9694 12.5726V9.03092Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/*@media news pc 오버*/

@media screen and (max-width:640px){
        .news{
            margin: 71px 0 0 0;
            padding: 0;
            background: transparent;
        }
        .news .tit{
            margin-right: 36px;
        }
        .news .tit h2{
            margin: 0 0 7px 0;
        }
        .news .list{
            margin: 24px 0 0 0;
        }
        .news .list ul li{
            margin: 0;
        }
        .news .list ul li:nth-last-child(1),
        .news .list ul li:nth-last-child(2){
           display: none;
        }
        .news .list ul li a{
            display: block;
            border: none;
            border-bottom: 1px solid #ccc;
            background-color: transparent;
            padding: 17px 15px;
        }
        .news .list ul li a .subject{
            display: block;
            width: auto;
        }
        .news .list ul li a .subject strong{
            display: inline-block;
            padding: 2px 15px 3px 15px;
        }
        .news .list ul li a .subject h3{
            font-size: 16px;
            width: auto;
            white-space: normal;
            overflow: visible;
            margin: 12px 0 7px 0;
        }
        .news .list ul li a .date{
            width: auto;
            text-align: left;
        }
        .news .more{
            top: 29px;
            right: 0;
            width: 30px;
            height: 30px;
            padding:0;
            border-radius: 50%;
        }
        .news .more::after{
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
        }
        .news .more span{
            display: none;
        }
}/*@media news 모바일*/


.webzine{
    padding: 147px 0 150px 0;
    background-color: #0047AB;
    position: relative; /*more 정렬의 기준*/
}
.webzine .tit h2{
    color: #3FE0D0;
    margin: 0 0 11px 0;
}
.webzine .tit p{
    color: #fff;
}
.webzine .list{
    padding: 66px 0 20px 0;
    width: calc(50% + 630px);
    overflow: hidden;
    left: calc(50% - 630px);
    position: relative;
}
.webzine .list ul{
    display: flex;
    gap: 24px;
    width: 1605px;
    /* 297 * 5 + 24 * 5 = 1485 + 120 = 1605*/
}
.webzine .list ul li{
    width: 297px;
}
.webzine .list ul li a{
    display: block;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.webzine .list ul li a .photo{
    overflow: hidden;
    height: 198px;
}
.webzine .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.webzine .list ul li a .txt{
    padding: 25px 23px 26px 23px;
}
.webzine .list ul li a .txt strong{
    color: #0047AB;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.webzine .list ul li a .txt h3{
    margin: 8px 0 11px 0;
    font-family:'Gmarket Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;

    /*2줄 제한*/
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.webzine .list ul li a .txt p{
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
    margin: 0 0 22px 0;
}
.webzine .list ul li a .txt .date{
    color: #0047AB;
}
.webzine .more{
    position: absolute;
    right: calc(50% - 630px);
    top: 193px;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 3px 28px 4px 15px;
    color: #fff;
}
.webzine .more::after{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 8px;
    right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_103_8' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_103_8)'%3E%3Cpath d='M7.96842 9.03092H4.42676C4.27624 9.03092 4.15009 8.97998 4.04833 8.8781C3.94645 8.77622 3.89551 8.65002 3.89551 8.4995C3.89551 8.34886 3.94645 8.22272 4.04833 8.12107C4.15009 8.01931 4.27624 7.96842 4.42676 7.96842H7.96842V4.42676C7.96842 4.27624 8.01937 4.15009 8.12125 4.04833C8.22313 3.94645 8.34933 3.89551 8.49985 3.89551C8.65049 3.89551 8.77663 3.94645 8.87828 4.04833C8.98004 4.15009 9.03092 4.27624 9.03092 4.42676V7.96842H12.5726C12.7231 7.96842 12.8493 8.01937 12.951 8.12125C13.0529 8.22313 13.1038 8.34933 13.1038 8.49985C13.1038 8.65049 13.0529 8.77663 12.951 8.87828C12.8493 8.98004 12.7231 9.03092 12.5726 9.03092H9.03092V12.5726C9.03092 12.7231 8.97998 12.8493 8.8781 12.951C8.77622 13.0529 8.65002 13.1038 8.4995 13.1038C8.34886 13.1038 8.22272 13.0529 8.12107 12.951C8.01931 12.8493 7.96842 12.7231 7.96842 12.5726V9.03092Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:641px){
    .webzine .list ul li a:hover{
        box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.25);
        transform: translate(0px, -10px);
    }
    .webzine .more:hover{
        background-color: #fff;
        color: #0047AB;
    }
    .webzine .more:hover::after{
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_164_3' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_164_3)'%3E%3Cpath d='M7.9694 9.03092H4.42773C4.27721 9.03092 4.15107 8.97998 4.04931 8.8781C3.94743 8.77622 3.89648 8.65002 3.89648 8.4995C3.89648 8.34886 3.94743 8.22272 4.04931 8.12107C4.15107 8.01931 4.27721 7.96842 4.42773 7.96842H7.9694V4.42676C7.9694 4.27624 8.02034 4.15009 8.12222 4.04833C8.22411 3.94645 8.35031 3.89551 8.50083 3.89551C8.65147 3.89551 8.77761 3.94645 8.87926 4.04833C8.98102 4.15009 9.0319 4.27624 9.0319 4.42676V7.96842H12.5736C12.7241 7.96842 12.8502 8.01937 12.952 8.12125C13.0539 8.22313 13.1048 8.34933 13.1048 8.49985C13.1048 8.65049 13.0539 8.77663 12.952 8.87828C12.8502 8.98004 12.7241 9.03092 12.5736 9.03092H9.0319V12.5726C9.0319 12.7231 8.98096 12.8493 8.87908 12.951C8.7772 13.0529 8.65099 13.1038 8.50047 13.1038C8.34983 13.1038 8.22369 13.0529 8.12205 12.951C8.02028 12.8493 7.9694 12.7231 7.9694 12.5726V9.03092Z' fill='%230047AB'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/*@media webzine pc 오버*/

@media screen and (max-width:640px){
        .webzine{
            padding: 71px 0 56px 0;
        }
        .webzine .tit{
            margin-right: 36px;
        }
        .webzine .tit h2{
            margin: 0 0 7px 0;
        }
        .webzine .list{
            padding: 24px 0 10px 20px;
            width: 100%;
            overflow-x: auto;
            left: 0;
        }
        .webzine .list ul{
            gap: 16px;
            width: 1330px;
            /* 250 * 5 + 16 * 5 = 1250 + 80 = 1330*/
        }
        .webzine .list ul li{
            width: 250px;
        }
        .webzine .list ul li a{
            border-radius: 10px;
        }
        .webzine .list ul li a .photo{
            height: 190px;
        }
        .webzine .list ul li a .txt{
            padding: 15px 23px 22px 15px;
        }
        .webzine .list ul li a .txt h3{
            margin: 5px 0 2px 0;
            font-size: 17px;
        }
        .webzine .list ul li a .txt p{
            margin: 0 0 16px 0;
        }
        .webzine .more{
            right: 20px;
            top: 95px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #fff;
            padding: 0;
        }
        .webzine .more::after{
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
        }
        .webzine .more span{
            display: none;
        }
}/*@media webzine 모바일*/


.service{
    margin: 175px 0 0 0;
}
.service .tit h2{
    color: #0047AB;
    margin: 0 0 11px 0;
}
.service .list{
    margin: 66px 0 148px 0;
}
.service .list ul{
    display: flex;
    justify-content: space-between;
}
.service .list ul li{
    width: calc(33.33% - 16px);
}
.service .list ul li a{
    display: block;
    padding: 20px 0 32px 27px;
    background-color: #f6f6f6;
    position: relative;
}
.service .list ul li a::after{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 32px;
    right: 32px;
    border-radius: 50%;
    background-color: #0047AB;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_25_3744' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%230047AB'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_25_3744)'%3E%3Cpath d='M11.7775 9.0304H3.71875C3.56799 9.0304 3.44179 8.97952 3.34015 8.87776C3.23838 8.77611 3.1875 8.64991 3.1875 8.49915C3.1875 8.34839 3.23838 8.22219 3.34015 8.12055C3.44179 8.01878 3.56799 7.9679 3.71875 7.9679H11.7775L8.11591 4.30635C8.0106 4.20104 7.9586 4.07779 7.9599 3.9366C7.96131 3.7954 8.01692 3.66985 8.12671 3.55994C8.23662 3.45735 8.36105 3.40423 8.5 3.40057C8.63895 3.39691 8.76338 3.45003 8.87329 3.55994L13.3643 8.05095C13.4306 8.1173 13.4774 8.18725 13.5046 8.2608C13.5318 8.33435 13.5455 8.4138 13.5455 8.49915C13.5455 8.58451 13.5318 8.66396 13.5046 8.7375C13.4774 8.81105 13.4306 8.881 13.3643 8.94735L8.87329 13.4384C8.77519 13.5365 8.65371 13.5866 8.50885 13.5889C8.364 13.5911 8.23662 13.5409 8.12671 13.4384C8.01692 13.3285 7.96202 13.2022 7.96202 13.0598C7.96202 12.9171 8.01692 12.7909 8.12671 12.681L11.7775 9.0304Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.service .list ul li a h3{
    color: #0047AB;
    font-size: 15px;
    margin: 0 0 3px 0;
}
.service .list ul li a p{
    font-family:'Gmarket Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
}
@media screen and (min-width:641px){
    .service .list ul li a:hover{
        background-color: #0047AB;
    }
    .service .list ul li a:hover h3{
        color: #fff;
    }
    .service .list ul li a:hover p{
        color: #fff;
    }
    .service .list ul li a:hover::after{
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_2181' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%230047AB'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_2181)'%3E%3Cpath d='M11.7775 9.0304H3.71875C3.56799 9.0304 3.44179 8.97952 3.34015 8.87776C3.23838 8.77611 3.1875 8.64991 3.1875 8.49915C3.1875 8.34839 3.23838 8.22219 3.34015 8.12055C3.44179 8.01878 3.56799 7.9679 3.71875 7.9679H11.7775L8.11591 4.30635C8.0106 4.20104 7.9586 4.07779 7.9599 3.9366C7.96131 3.7954 8.01692 3.66985 8.12671 3.55994C8.23662 3.45735 8.36105 3.40423 8.5 3.40057C8.63895 3.39691 8.76338 3.45003 8.87329 3.55994L13.3643 8.05095C13.4306 8.1173 13.4774 8.18725 13.5046 8.2608C13.5318 8.33435 13.5455 8.4138 13.5455 8.49915C13.5455 8.58451 13.5318 8.66396 13.5046 8.7375C13.4774 8.81105 13.4306 8.881 13.3643 8.94735L8.87329 13.4384C8.77519 13.5365 8.65371 13.5866 8.50885 13.5889C8.364 13.5911 8.23662 13.5409 8.12671 13.4384C8.01692 13.3285 7.96202 13.2022 7.96202 13.0598C7.96202 12.9171 8.01692 12.7909 8.12671 12.681L11.7775 9.0304Z' fill='%230047AB'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
} /* @media  오버 스타일*/

@media screen and (max-width:640px){
            .service{
                margin: 71px 0 0 0;
            }
            .service .tit h2{
                margin: 0 0 7px 0;
            }
            .service .list{
                margin: 24px 0 56px 0;
            }
            .service .list ul li{
                width: calc(33.33% - 10.66px);
            }
            .service .list ul li a{
                display: block;
                padding: 22px 12px 82px 12px;
                text-align: center;
                height: 100%;
            }
            .service .list ul li a p{
                display: none;
            }
            .service .list ul li a::after{
                width: 32px;
                height: 32px;
                top: auto;
                right: 50%;
                bottom: 28px;
                transform: translateX(50%);
            }
            .service .list ul li a h3{
                font-family:'Gmarket Sans';
                font-weight: 400;
                color: #1d1d1d;
                margin: 0;
            }
} /**service 모바일******/

footer{
    padding: 93px 0 64px 0 ;
    background-color: #1d1d1d;
    color: #fff;
}
footer .f_nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3px 40px;
}
footer .f_nav ul li{
    position: relative;
}
footer .f_nav ul li::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    top: 6px;
    right: -21px;
    background-color: rgba(255, 255, 255, 0.5);
}
footer .f_nav ul li:last-child:after{
    display: none;
}
footer .f_info{
    color: rgba(255, 255, 255, 0.5);
    margin: 40px 0 16px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3px 40px;
}
footer .copyright{
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:640px){
        footer{
            padding: 56px 0 46px 0 ;
        }
        footer .f_info{
            margin: 28px 0 17px 0;
            display: block;
            flex-wrap: nowrap;
        }
} /* @media footer 모바일*/