/* 회사소개 > ceo인사말 */
.ctn_ceo{
    position: relative; /*before정렬의 기준 - 배경*/
}
.ctn_ceo::before{ /*뒤에 배경*/
    content: "";
    position: absolute;
    left: 5.58em;
    top: 0;
    z-index: -1; /*cto_ceo 영역 안에서 맨 아래*/
    width: calc(100% - 11.16em);
    height: 19.70em;
    background-color: #F6F6F6;
    border-radius: 20px;
}

.ctn_ceo .wrapper{
    position: relative; /*photo정렬의 기준 - 배경*/
}

.ctn_ceo .ceo_tit{
    padding: 4.23em 0 0 49.04%;
}
.ctn_ceo .ceo_tit strong{
    display: block;
    color: var(--point-font-color);
}
.ctn_ceo .ceo_tit h2{
    color: var(--tit-font-color);
    font-size: 2.05rem; /*35px*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.22em 0 0.68em 0; /*35px로 나눠주기*/
}

.ctn_ceo .photo{
    position: absolute;
    left: 0;
    top: 4.23em;
    width: 38.09%;
    height: 45.29em;
    border-radius: 20px;
    overflow: hidden;
}
.ctn_ceo .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ctn_ceo .ceo_detail{
    margin: 7.11em 0 9.23em 49.04%;
}
.ctn_ceo .ceo_detail .sign{
    display: flex;
    margin: 3.41em 0 0 0 ;
    gap: 1.88em;
    align-items: center;
}
.ctn_ceo .ceo_detail .sign strong{
    font-weight: var(--bold-weight);
}



/* 회사소개 > 찾아오시는길 */
.ctn_map .map {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.ctn_map .map iframe{
    width: 100%;
    height: 598px;
    border: 0;
}

@media screen and (max-width:1300px) {
    .ctn_map .map {
        left: 20px;
        width: calc(100% + 20px);
    }
}

.ctn_map .map_maintit{
    padding: 3.76em 0 5.11em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5D5D5D;
    
}
.ctn_map .map_maintit h2{
    font-size: 2.05rem; /*35px*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
}
.ctn_map .map_maintit .sns_map{
    display: flex;
    gap: 0.70em; /*12*/
}
.ctn_map .map_maintit .sns_map .kakao{
    padding: 0.76em 1em 0.70em 3.47em;
    border: 1px solid var(--tit-font-color);
    border-radius: 1.77em;
}
.ctn_map .map_maintit .sns_map .kakao a span{
    position: relative;
}
.ctn_map .map_maintit .sns_map .kakao a span::after{
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    left: -3.058em;
    top: -0.352em;
    border-radius: 50%;
    background-color: #F9E000;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='19' viewBox='0 0 13 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.49908 0.000643832C2.90705 -0.00191865 0.00534381 2.99671 6.83446e-06 6.70693C-0.00246026 8.38912 0.663201 9.82616 1.6665 11.0516C3.49623 13.2864 5.09707 15.6396 5.97112 18.464C6.05007 18.719 6.16759 19.0086 6.50532 18.9998C6.87277 18.9902 6.9715 18.6656 7.05871 18.3909C7.87894 15.8066 9.24929 13.5738 10.9809 11.5462C12.0103 10.3409 12.8357 8.95209 12.9742 7.32078C13.3119 3.34521 10.285 -0.0537436 6.49908 0.000643832ZM8.70829 6.77052C8.69958 7.99801 7.65887 9.07174 6.48866 9.06065C5.30843 9.04957 4.28323 7.97228 4.28781 6.7483C4.29239 5.52568 5.3332 4.4533 6.51006 4.45895C7.6847 4.46449 8.7169 5.5501 8.70829 6.77052Z' fill='%23007DFD'/%3E%3C/svg%3E%0A");
}
.ctn_map .map_maintit .sns_map .naver{
    padding: 0.76em 1em 0.70em 3.47em;
    border: 1px solid var(--tit-font-color);
    border-radius: 1.77em;
}
.ctn_map .map_maintit .sns_map .naver a span{
    position: relative;
}
.ctn_map .map_maintit .sns_map .naver a span::after{
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    left: -3.058em;
    top: -0.352em;
    border-radius: 50%;
    background-color: #6BBC44;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0V15H10.631L5.36899 7.44842V15H0V0H5.36899L10.631 7.85518V0H16Z' fill='white'/%3E%3C/svg%3E%0A");
}

.ctn_map .map_tel{
    padding: 2.70em 0 4.58em 0;
    display: flex;
    justify-content: flex-start;
    gap: 7.82em;
} 
.ctn_map .map_tel h2{
    font-size: 2.05rem; /*35px*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
}
.ctn_map .map_tel .map_contact_txt .conact_txt{
    display: flex;
    width: 710px;
    justify-content: flex-start;
    gap: 5.76em;
}
.ctn_map .map_tel .map_contact_txt .conact_txt h3{
    font-size: 1.47rem; /*25px*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    margin: 0 0 1.04em 0;
}
.ctn_map .map_tel .map_contact_txt .conact_txt p{
    color: var(--tit-font-color);
    margin: 0 0 1.04em 0;
}
.ctn_map .map_tel .map_contact_txt .conact_etc p{
    color: #767676;
    margin-bottom: 0.52em;
}
.ctn_map .map_tel .map_contact_txt .conact_etc p.more a span{
    border: 1px solid #767676;
    padding: 4px 43px 4px 17px;
    border-radius: 1.77em;
    position: relative;
}
.ctn_map .map_tel .map_contact_txt .conact_etc p.more a span::after{
    content: "";
    position: absolute;
    width: 1.05em;
    height: 1.05em;
    top: 0.411em; 
    right: 0.941em; 
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.25 13.75V0.25H7V1.75H1.75V12.25H12.25V7H13.75V13.75H0.25ZM5.275 9.775L4.225 8.725L11.2 1.75H8.5V0.25H13.75V5.5H12.25V2.8L5.275 9.775Z' fill='%23767676'/%3E%3C/svg%3E%0A");
}

.ctn_map .map_pub{
    padding: 2.70em 0 11.70em 0;
    display: flex;
    justify-content: flex-start;
    gap: 7.82em;
    border-top: 1px solid #5D5D5D;
}
.ctn_map .map_pub h2{
    font-size: 2.05rem; /*35px*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
}
.ctn_map .map_pub .map_pub_txt .pub_txt{
    display: flex;
    justify-content: flex-start;
    gap: 5.76em;
}
.ctn_map .map_pub .map_pub_txt .pub_txt h3{
    font-size: 1.47rem; /*25px*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    margin: 0 0 1.04em 0;
}
.ctn_map .map_pub .map_pub_txt .pub_txt p{
    color: var(--tit-font-color);
    margin: 0 0 1.04em 0;
}

@media screen and (max-width:768px) {
            .ctn_map .map_maintit{
                padding: 3.46em 0 3.11em 0;
                display: block;
                border-bottom: 1px solid #5D5D5D;
                
            }
            .ctn_map .map_maintit h2{
                margin: 0.7em 0;
                font-size: 1.47rem; /*25px*/
            }
            
            .ctn_map .map_tel{
                padding: 2.50em 0 4.58em 0;
                display: block;
            } 
            .ctn_map .map_tel h2{
                font-size: 1.47rem; /*25px*/
                margin: 0 0 1em 0;

            }
            .ctn_map .map_tel .map_contact_txt .conact_txt{
                gap: 2.5em
            }
            .ctn_map .map_tel .map_contact_txt .conact_txt h3{
                font-size: 1.27rem; 
                margin: 0 0 1.04em 0;
            }
            .ctn_map .map_tel .map_contact_txt .conact_txt p{
                color: var(--tit-font-color);
                margin: 0 0 1.04em 0;
            }
            .ctn_map .map_tel .map_contact_txt .conact_etc p{
                color: #767676;
                margin-bottom: 0.52em;
            }
            
            .ctn_map .map_pub{
                padding: 2.50em 0 4.58em 0;
                display: block;
                gap: 7.82em;
                border-top: 1px solid #5D5D5D;
            }
            .ctn_map .map_pub h2{
                font-size: 1.47rem; /*25px*/
                margin: 0 0 1em 0;
            }
            .ctn_map .map_pub .map_pub_txt .pub_txt{
                gap: 2.5em
            }
            .ctn_map .map_pub .map_pub_txt .pub_txt h3{
                font-size: 1.27rem; 
                margin: 0 0 1.04em 0;
            }
            .ctn_map .map_pub .map_pub_txt .pub_txt p{
                color: var(--tit-font-color);
                margin: 0 0 1.04em 0;
            }
    
}

