/* header , footer 같이 모든 페이지 공통사항 저장 */

header{
    position: fixed; /*body 기준 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    padding: 0 20px; /*좌우 여백*/
    display: flex; /* logo, gnb, util*/
    color: #fff;
    justify-content: space-between;
    align-items: center;

    transition: top 0.5s; /*헤더 바가 스크롤 하면서 부드럽게 바뀔 때*/
}
header .logo{
    margin-bottom: 10px;
}
header .logo a{
    display: block;
    width: 6.88em; /*117 / 17 */
    height: 2.26em;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    margin-bottom: 0.58em;
}
header .util{
    display: flex;
    gap: 0.58em;
}
header .util .lang .lang_open{
    padding-right: 1.29em;
    position: relative;
    width: 3.82em; /* 65 / 17 */
    height: 1.76em; /* 30 / 17 */
}
header .util .lang .lang_open::after{
    content: "";
    position: absolute;
    width: 0.52em; /* 9 / 17 */
    height: 0.29em; /* 5 / 17 */
    right: 0.62em;
    top: 0.62em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00004 4.50016L0.833374 0.333496H9.16671L5.00004 4.50016Z' fill='white'/%3E%3C/svg%3E%0A");
}

header .util .search .search_open{
    display: block;
    width: 1.76em; 
    height: 1.76em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_501' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_501)'%3E%3Cpath d='M17.9667 19.25L12.1917 13.475C11.7333 13.8417 11.2063 14.1319 10.6104 14.3458C10.0146 14.5597 9.38056 14.6667 8.70833 14.6667C7.04306 14.6667 5.63368 14.0899 4.48021 12.9365C3.32674 11.783 2.75 10.3736 2.75 8.70833C2.75 7.04306 3.32674 5.63368 4.48021 4.48021C5.63368 3.32674 7.04306 2.75 8.70833 2.75C10.3736 2.75 11.783 3.32674 12.9365 4.48021C14.0899 5.63368 14.6667 7.04306 14.6667 8.70833C14.6667 9.38056 14.5597 10.0146 14.3458 10.6104C14.1319 11.2063 13.8417 11.7333 13.475 12.1917L19.25 17.9667L17.9667 19.25ZM8.70833 12.8333C9.85417 12.8333 10.8281 12.4323 11.6302 11.6302C12.4323 10.8281 12.8333 9.85417 12.8333 8.70833C12.8333 7.5625 12.4323 6.58854 11.6302 5.78646C10.8281 4.98438 9.85417 4.58333 8.70833 4.58333C7.5625 4.58333 6.58854 4.98438 5.78646 5.78646C4.98438 6.58854 4.58333 7.5625 4.58333 8.70833C4.58333 9.85417 4.98438 10.8281 5.78646 11.6302C6.58854 12.4323 7.5625 12.8333 8.70833 12.8333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}


/*******************  아래로 스크롤 내릴 때 header  사라짐 ***********************/

header.fixed.gnb_up{
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over{
    top: 0;
}

/*******************  header에 fixed클래스 추가  ***********************/

header.fixed,
header.menu_over{
    background-color: #fff;
    color: var(--tit-font-color);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}

header.fixed .logo a,
header.menu_over .logo a{
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang .lang_open,
header.menu_over .util .lang .lang_open{
    color: var(--tit-font-color);
}
header.fixed .util .lang .lang_open::after,
header.menu_over .util .lang .lang_open::after{
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00016 4.50016L0.833496 0.333496H9.16683L5.00016 4.50016Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}

header.fixed .util .search .search_open,
header.menu_over .util .search .search_open{
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_652' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='22' height='22' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_652)'%3E%3Cpath d='M17.9667 19.25L12.1917 13.475C11.7333 13.8417 11.2063 14.1319 10.6104 14.3458C10.0146 14.5597 9.38056 14.6667 8.70833 14.6667C7.04306 14.6667 5.63368 14.0899 4.48021 12.9365C3.32674 11.783 2.75 10.3736 2.75 8.70833C2.75 7.04306 3.32674 5.63368 4.48021 4.48021C5.63368 3.32674 7.04306 2.75 8.70833 2.75C10.3736 2.75 11.783 3.32674 12.9365 4.48021C14.0899 5.63368 14.6667 7.04306 14.6667 8.70833C14.6667 9.38056 14.5597 10.0146 14.3458 10.6104C14.1319 11.2063 13.8417 11.7333 13.475 12.1917L19.25 17.9667L17.9667 19.25ZM8.70833 12.8333C9.85417 12.8333 10.8281 12.4323 11.6302 11.6302C12.4323 10.8281 12.8333 9.85417 12.8333 8.70833C12.8333 7.5625 12.4323 6.58854 11.6302 5.78646C10.8281 4.98438 9.85417 4.58333 8.70833 4.58333C7.5625 4.58333 6.58854 4.98438 5.78646 5.78646C4.98438 6.58854 4.58333 7.5625 4.58333 8.70833C4.58333 9.85417 4.98438 10.8281 5.78646 11.6302C6.58854 12.4323 7.5625 12.8333 8.70833 12.8333Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*******************  header에 fixed클래스 추가  끝!!!***********************/




@media screen and (min-width:1025px) {
            header .gnb .gnb_bg,
            header .gnb .gnb_util,
            header .gnb .gnb_open,
            header .gnb .gnb_close{
                display: none; /*모바일에서만 숨김!!!*/
            }
            header .gnb .gnb_wrap ul.depth1{
                display: flex;
            }
            header .gnb .gnb_wrap ul.depth1 > li{
                text-align: center;
                width: 7.8em;
                position: relative; /*depth2 정렬 기준*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                line-height: var(--header-h);
                font-size: 1.17rem;
                font-weight: var(--bold-weight);
            }

            header .gnb .gnb_wrap ul.depth1 > li.over > a{
                color: var(--point-font-color);
            }
            header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
                position: relative; 
            }
            header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1.7em;
                width: 100%;
                height: 3px;
                background-color: var(--point-font-color);
                z-index: 1;
            }

            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                display: none !important; /*숨김*/
                position: absolute; /*li를 기준으로*/
                left: 0;
                top: var(--header-h);
                width: 100%;
                padding-top: 27px;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                color: var(--base-font-color);
                line-height: 1.9;  
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                font-weight: var(--bold-weight);
                color: var(--point-font-color);
            }

            /**********************   menu_over 추가시    *******************/
            header.menu_over::before{
                content: "";
                position: absolute; /*header 기준으로 정렬*/
                left: 0;
                top: 0;
                width: 100%;
                height: 20.35em;
                background-color: #fff;
                z-index: -1; 
                /*header 안에 있는 요소 들 중에 맨 아래 
                  header에 배경색을 줘도 그 것 보다는 위에 존재
                */
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
            }
            header.menu_over::after{
                content: "";
                position: absolute;
                left: 0;
                top: var(--header-h);
                width: 100%;
                height: 1px;
                border-bottom: 1px solid #ededed;
            }
            header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2{ /*마우스 오버*/
                display: block !important; /*나타남*/
            }
} /* @media pc형 */




@media screen and (max-width:1024px) {
            header{
                padding: 0 0 0 20px;
            }
            header .logo{
                margin-bottom: 8px;
            }
            header .logo a{
                width: 5.31em; /*85 / 16 */
                height: 1.81em;
            }
            header .util{
                display: none;
                gap: 0.8em;
            }
            header .gnb .gnb_util{
                display: none;
                position: absolute; /*gnb_wrap을 기준으로 정렬*/
                left: 20px;
                top: 1.25em;
                gap: 1.25em;
            }
            header .gnb .gnb_util .lang .lang_open{ 
                padding-right: 17px;
                position: relative;
            }
            header .gnb .gnb_util .lang .lang_open::after{
                content: "";
                position: absolute;
                width: 1.25em;
                height: 1.25em;
                right: -0.31em;
                top: 0.06em;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_1320' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_1320)'%3E%3Cpath d='M9 11.25L5.25 7.5H12.75L9 11.25Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_util .search .search_open{
                display: block;
                width: 1.25em; 
                height: 1.25em;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_1317' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_1317)'%3E%3Cpath d='M16.3333 17.5L11.0833 12.25C10.6667 12.5833 10.1875 12.8472 9.64583 13.0417C9.10417 13.2361 8.52778 13.3333 7.91667 13.3333C6.40278 13.3333 5.12153 12.809 4.07292 11.7604C3.02431 10.7118 2.5 9.43056 2.5 7.91667C2.5 6.40278 3.02431 5.12153 4.07292 4.07292C5.12153 3.02431 6.40278 2.5 7.91667 2.5C9.43056 2.5 10.7118 3.02431 11.7604 4.07292C12.809 5.12153 13.3333 6.40278 13.3333 7.91667C13.3333 8.52778 13.2361 9.10417 13.0417 9.64583C12.8472 10.1875 12.5833 10.6667 12.25 11.0833L17.5 16.3333L16.3333 17.5ZM7.91667 11.6667C8.95833 11.6667 9.84375 11.3021 10.5729 10.5729C11.3021 9.84375 11.6667 8.95833 11.6667 7.91667C11.6667 6.875 11.3021 5.98958 10.5729 5.26042C9.84375 4.53125 8.95833 4.16667 7.91667 4.16667C6.875 4.16667 5.98958 4.53125 5.26042 5.26042C4.53125 5.98958 4.16667 6.875 4.16667 7.91667C4.16667 8.95833 4.53125 9.84375 5.26042 10.5729C5.98958 11.3021 6.875 11.6667 7.91667 11.6667Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }

            
            header .gnb .gnb_open{
                display: block;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_843' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_843)'%3E%3Cpath d='M5.31329 8.74902C5.04767 8.74902 4.82506 8.65913 4.64548 8.47934C4.46569 8.29954 4.37579 8.07684 4.37579 7.81121C4.37579 7.54538 4.46569 7.32277 4.64548 7.1434C4.82506 6.96381 5.04767 6.87402 5.31329 6.87402H24.6883C24.9539 6.87402 25.1765 6.96392 25.3561 7.14371C25.5359 7.3235 25.6258 7.54621 25.6258 7.81184C25.6258 8.07767 25.5359 8.30027 25.3561 8.47965C25.1765 8.65923 24.9539 8.74902 24.6883 8.74902H5.31329ZM5.31329 23.124C5.04767 23.124 4.82506 23.0341 4.64548 22.8543C4.46569 22.6745 4.37579 22.4518 4.37579 22.1862C4.37579 21.9204 4.46569 21.6978 4.64548 21.5184C4.82506 21.3388 5.04767 21.249 5.31329 21.249H24.6883C24.9539 21.249 25.1765 21.3389 25.3561 21.5187C25.5359 21.6985 25.6258 21.9212 25.6258 22.1868C25.6258 22.4527 25.5359 22.6753 25.3561 22.8546C25.1765 23.0342 24.9539 23.124 24.6883 23.124H5.31329ZM5.31329 15.9365C5.04767 15.9365 4.82506 15.8466 4.64548 15.6668C4.46569 15.487 4.37579 15.2643 4.37579 14.9987C4.37579 14.7329 4.46569 14.5103 4.64548 14.3309C4.82506 14.1513 5.04767 14.0615 5.31329 14.0615H24.6883C24.9539 14.0615 25.1765 14.1514 25.3561 14.3312C25.5359 14.511 25.6258 14.7337 25.6258 14.9993C25.6258 15.2652 25.5359 15.4878 25.3561 15.6671C25.1765 15.8467 24.9539 15.9365 24.6883 15.9365H5.31329Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header.fixed .gnb .gnb_open{
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_78_35' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_78_35)'%3E%3Cpath d='M5.31329 8.74902C5.04767 8.74902 4.82506 8.65913 4.64548 8.47934C4.46569 8.29954 4.37579 8.07684 4.37579 7.81121C4.37579 7.54538 4.46569 7.32277 4.64548 7.1434C4.82506 6.96381 5.04767 6.87402 5.31329 6.87402H24.6883C24.9539 6.87402 25.1765 6.96392 25.3561 7.14371C25.5359 7.3235 25.6258 7.54621 25.6258 7.81184C25.6258 8.07767 25.5359 8.30027 25.3561 8.47965C25.1765 8.65923 24.9539 8.74902 24.6883 8.74902H5.31329ZM5.31329 23.124C5.04767 23.124 4.82506 23.0341 4.64548 22.8543C4.46569 22.6745 4.37579 22.4518 4.37579 22.1862C4.37579 21.9204 4.46569 21.6978 4.64548 21.5184C4.82506 21.3388 5.04767 21.249 5.31329 21.249H24.6883C24.9539 21.249 25.1765 21.3389 25.3561 21.5187C25.5359 21.6985 25.6258 21.9212 25.6258 22.1868C25.6258 22.4527 25.5359 22.6753 25.3561 22.8546C25.1765 23.0342 24.9539 23.124 24.6883 23.124H5.31329ZM5.31329 15.9365C5.04767 15.9365 4.82506 15.8466 4.64548 15.6668C4.46569 15.487 4.37579 15.2643 4.37579 14.9987C4.37579 14.7329 4.46569 14.5103 4.64548 14.3309C4.82506 14.1513 5.04767 14.0615 5.31329 14.0615H24.6883C24.9539 14.0615 25.1765 14.1514 25.3561 14.3312C25.5359 14.511 25.6258 14.7337 25.6258 14.9993C25.6258 15.2652 25.5359 15.4878 25.3561 15.6671C25.1765 15.8467 24.9539 15.9365 24.6883 15.9365H5.31329Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap{
                position: fixed;
                right: -100%;
                top: 0;
                width: calc(100% - 3.75em);
                max-width: 18.75em; /*300px 최대 넓이::::를 줘서 그 이상 늘어나지 않음*/
                height: 100%;
                background-color: #fff;
                color: var(--tit-font-color);
                transition: 0.5s;
                z-index: 10; /*검은 배경 위에 있어야 돼서 */
            }
            header .gnb .gnb_wrap ul.depth1 { /*모바일 메뉴바 크기 높이 잡아주기!*/
                margin-top: var(--header-h);
                padding: 0 20px;
                height: calc(100% - var(--header-h));
                overflow-x: hidden; /*좌우 스크롤바 X*/
                overflow-y: auto; /*위아래 스크롤바 자동으로 알아서*/
                border-top: 1px solid #ededed;
            }
            header .gnb .gnb_wrap ul.depth1 > li{
                border-bottom: 1px solid #ededed;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                font-size: 1.125rem; /*18px / 16*/
                font-weight: var(--bold-weight);
                color: var(--tit-font-color);
                line-height: var(--tit-line-height);
                padding: 0.94em 0; /* 17 / 18px - 현재 글자 크기 */
                position: relative;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after{
                content: "";
                position: absolute;
                width: 0.88em; /* 16 / 18*/
                height: 0.88em; /* 16 / 18*/
                right: 0;
                top: 1.11em; /* 20 / 18*/
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_1336' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect y='14' width='14' height='14' transform='rotate(-90 0 14)' fill='%23D9D9D9'/%3E%3Crect x='0.5' y='13.5' width='13' height='13' transform='rotate(-90 0.5 13.5)' stroke='white' stroke-opacity='0.7'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_1336)'%3E%3Cpath d='M12.6316 8.1665L7.00025 13.7979L1.3689 8.1665L2.19679 7.3386L7.00025 12.1422L11.8037 7.3386L12.6316 8.1665Z' fill='%231D1D1D'/%3E%3Cpath d='M2.19604 7.35742L6.99097 12.1514L7.00073 12.1602L11.8035 7.35742L12.613 8.16699L6.99976 13.7803L1.38647 8.16699L2.19604 7.35742Z' stroke='white' stroke-opacity='0.7' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                background-color: #F5F5F5;
                margin: 0 0 0.38em 0;
                padding: 1em 0 1.22em 1.11em; /*18로 나눠주기*/
                display: none;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                line-height: 1.8;
            }
            header .gnb .gnb_close{
                display: none;
                position: absolute; /*gnb_wrap을 기준으로 정렬*/
                right: 0;
                top: 0;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_1313' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='33'%3E%3Crect width='33' height='33' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_1313)'%3E%3Cpath d='M16.5001 17.9491L9.5247 24.9248C9.33426 25.115 9.0949 25.2124 8.80661 25.217C8.51855 25.2214 8.27483 25.124 8.07545 24.9248C7.87631 24.7255 7.77673 24.4839 7.77673 24.2002C7.77673 23.9165 7.87631 23.6749 8.07545 23.4756L15.0512 16.5002L8.07545 9.52483C7.88524 9.33439 7.78785 9.09502 7.78326 8.80673C7.77891 8.51867 7.87631 8.27495 8.07545 8.07557C8.27483 7.87643 8.51637 7.77686 8.80008 7.77686C9.08379 7.77686 9.32533 7.87643 9.5247 8.07557L16.5001 15.0513L23.4755 8.07557C23.6659 7.88537 23.9053 7.78797 24.1935 7.78339C24.4816 7.77903 24.7253 7.87643 24.9247 8.07557C25.1238 8.27495 25.2234 8.51649 25.2234 8.8002C25.2234 9.08391 25.1238 9.32545 24.9247 9.52483L17.949 16.5002L24.9247 23.4756C25.1149 23.666 25.2123 23.9054 25.2169 24.1937C25.2212 24.4817 25.1238 24.7255 24.9247 24.9248C24.7253 25.124 24.4838 25.2235 24.2001 25.2235C23.9164 25.2235 23.6748 25.124 23.4755 24.9248L16.5001 17.9491Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
        

            /*2차 메뉴가 열렸을 때 */
            header .gnb .gnb_wrap ul.depth1 > li.open > a{
                color: var(--point-font-color);
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after{ 
                /*방향 똑같음 색깔만 바뀜*/
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_82_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect y='14' width='14' height='14' transform='rotate(-90 0 14)' fill='%23D9D9D9'/%3E%3Crect x='0.5' y='13.5' width='13' height='13' transform='rotate(-90 0.5 13.5)' stroke='white' stroke-opacity='0.7'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_82_12)'%3E%3Cpath d='M12.6316 8.1665L7.00025 13.7979L1.3689 8.1665L2.19679 7.3386L7.00025 12.1422L11.8037 7.3386L12.6316 8.1665Z' fill='%23CC001E'/%3E%3Cpath d='M2.19604 7.35742L6.99097 12.1514L7.00073 12.1602L11.8035 7.35742L12.613 8.16699L6.99976 13.7803L1.38647 8.16699L2.19604 7.35742Z' stroke='white' stroke-opacity='0.7' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
                transform: rotate(180deg); /*방향 돌려주기*/
            }
            header .gnb .gnb_bg{ /*검은배경*/
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
            }


            /*메뉴가 열렸을 때*/
            header.menu_open .gnb .gnb_util{
                display: flex; /* display:none으로 숨긴 것 나타내기 block으로 하면은 중첩돼서 여기서 flex주기*/
            }
            header.menu_open .gnb .gnb_wrap{
                right: 0;
            }
            header.menu_open .gnb .gnb_close{
                display: block;
            }
            header.menu_open .gnb .gnb_bg{ /*검은배경*/
                display: block;
                animation-name: gnb_bg;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            @keyframes gnb_bg { /*서서히 검은 배경 나타나게 하기 - trasition 안돼서 대신 사용*/
                0% {opacity: 0;}
                100% {opacity: 1;}
            }
} /* @media header 모바일 1024 */



footer{
    background-color: var(--tit-font-color);
    color: rgba(255, 255, 255, 0.7); /* color: #fff; */
    
}
footer .wrapper{
    padding: 5.05em 0 ;
    position: relative; /*top버튼 정렬의 기준*/
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
footer .top{
    position: absolute;
    right: 0;
    top: 5.05em;
    background-color: var(--point-font-color);
    color: #fff;
    padding: 1.52em 0.70em 0.17em 0.70em;
    font-size: 0.82rem;
}
footer .top::before{
    content: "";
    position: absolute;
    top: 0.235em;
    right: 14px;
    width: 1.29em;
    height: 1.29em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.3125 13.875V2.75858L1.09094 7.98015L0.125 7L7 0.125L13.875 7L12.9091 7.98015L7.6875 2.75858V13.875H6.3125Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .family_site{
    position: relative; /*ul 정렬의 기준*/
}
footer .family_site .family_open{
    display: block;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 0 2.17em 0 0.94em;
    height: 2.17em;
    position: relative;/*after 정렬의 기준*/
}
footer .family_site .family_open::after{
    content: "";
    position: absolute;
    right: 0.70em;
    top: 0.52em;
    width: 0.82em;
    height: 0.82em;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.368395 5.83253L5.99975 0.201172L11.6311 5.83253L10.8032 6.66042L5.99975 1.85682L1.19629 6.66042L0.368395 5.83253Z' fill='white' fill-opacity='0.7'/%3E%3Cpath d='M10.804 6.6416L6.00903 1.84766L5.99927 1.83887L1.19653 6.6416L0.386963 5.83203L6.00024 0.21875L11.6135 5.83203L10.804 6.6416Z' stroke='white' stroke-opacity='0.7' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}
footer .family_site ul{
    display: none;
    position: absolute; /*family_site을 기준으로 정렬*/
    left: 0;
    bottom: 2.17em;
    width: 100%;
    background-color: #353535;
    padding: 0.47em 0 0.52em 0.82em;
}
footer .family_site ul li a{
    display:  block;
    line-height: 1.8;
    font-size: 0.88rem;
}

footer .f_nav ul{
    display: flex;
    flex-wrap: wrap; /*여러줄 허용*/
    gap: 0.2em 2.82em;
}
footer .f_nav ul li{
    position: relative; /*after 정렬 기준*/
    color: #fff;
}
footer .f_nav ul li::after{
    content: "";
    position: absolute;
    right: -1.41em;
    top: 0.4em;
    width: 1px;
    height: 0.64em;
    background-color: rgba(255, 255, 255, 0.4);
}   
footer .f_nav ul li:last-child::after{
    display: none;
}
footer .f_info {
    margin: 2.11em 0 4.47em 0;
}
footer .f_info address{
    margin-bottom: 0.58em;
}
footer .f_info span + span {
    margin-left: 2.47em;
}


@media screen and (max-width:1490px) {
            footer .top{
                top: 0  ;
                transform: translateY(-50%); /*내 높이의 절반*/
            }
}

@media screen and (max-width:1024px) {
            footer .wrapper{
                padding: 4em 0 5.31em 0;
                position: relative; /*top버튼 정렬의 기준*/
                display: block;
            }
            footer .family_site{
                margin: 0 0 2.81em 0;
            }
            footer .family_site .family_open{
                padding: 0 2.17em 0 1em;
                width: 100%;
                max-width: 400px; /*이 이상 늘어나지 않게*/
            }
            footer .family_site ul{
                display: none;
                position: absolute; /*family_site을 기준으로 정렬*/
                left: 0;
                bottom: 2.17em;
                width: 100%;
                background-color: #353535;
                padding: 0.47em 0 0.52em 0.82em;
            }
            footer .family_site ul li a{
                display:  block;
                line-height: 1.8;
                font-size: 0.88rem;
            }  
            footer .f_info {
                margin: 1.81em 0 3.12em 0;
            }
            footer .f_info address{
                margin-bottom: 0.25em;
            }
            footer .f_info span{
                display: inline-block;
                margin-right: 2.47em;
            }
            footer .f_info span + span {
                margin-left: 0;
            }
} /* @media footer 모바일 1024 */


