@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual .swiper-slide .photo{
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
}
.visual .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}
.visual .swiper-slide.swiper-slide-active .photo img{
    transform: scale3d(1.1, 1.1, 1);
}
.visual .swiper-slide .txt_wrap{
    position: absolute; /*.swiper-slide에 이미 position: realative 있음*/
    left: 0;
    bottom: 33.5%;
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt{
    overflow: hidden;
}
.visual .swiper-slide .txt_wrap .txt.mobile{
    display: none; /* 숨김 */
}
.visual .swiper-slide .txt_wrap .txt p{
    color: #fff;
    font-size: 3.23rem; /* 55 % 17px*/
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    white-space: nowrap; /* 1줄로 표현!! */

    transform: translateY(100%);
   /* transform: translateY(50%);  100% -> 0으로 애니메이션*/
   transition: 0.7s;
   transition-delay: 0.5s;
   
}
.visual .swiper-slide .txt_wrap .txt.delay1 p {
    transition-delay: 1s;
}
.visual .swiper-slide .txt_wrap .txt.delay2 p {
    transition-delay: 1.2s;
}
.visual .swiper-slide .txt_wrap .txt.delay3 p {
    transition-delay: 1.4s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p{
    transform: translateY(0);
    /* animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards; */
}

@keyframes visual_txt {
    0% { transform: translateY(100%);}
    100% { transform: translateY(0);}
}

@media screen and (max-width:1024px) {
    .visual .swiper-slide .txt_wrap{
        bottom: 26.2%; 
    }
    .visual .swiper-slide .txt_wrap .txt.mobile{
        display: block; 
    }
    .visual .swiper-slide .txt_wrap .txt.pc{
        display: none; /* 숨김 */
    }
    .visual .swiper-slide .txt_wrap .txt p{
        font-size: 2.37rem; /*38 % 16*/
    }
}















