@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);
@import url(contents.css);

/* 서브 레이아웃 요소(중복요소 - 페이지명까지) */
.sub_visual{
    height: 27.11em; /*461 / 17*/
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
    color: #fff;
    padding: 12.29em 0 0 0;
}
.sub_visual.bg1{
    background-image: url(../images/sub/sub_visual01.jpg);
}
.sub_visual.bg2{
    background-image: url(../images/sub/sub_visual02.jpg);
}
.sub_visual.bg3{
    background-image: url(../images/sub/sub_visual03.jpg);
}
.sub_visual.bg4{
    background-image: url(../images/sub/sub_visual04.jpg);
}
.sub_visual.bg5{
    background-image: url(../images/sub/sub_visual05.jpg);
}
.sub_visual .breadcrumb ol{
    display: flex;
    /* justify-content: flex-start; */
    gap: 2.35em;
    align-items: baseline; /*가운데 정렬 하려고 일부러 넣어준 것*/
}
.sub_visual .breadcrumb ol li.home{
    width: 0.76em; 
    height: 0.76em; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain ;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833008 12.875V4.375L6.49967 0.125L12.1663 4.375V12.875H7.91634V7.91667H5.08301V12.875H0.833008Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sub_visual .breadcrumb ol li + li{ /*첫번째 빼고 나머지 전부*/
    position: relative; /*before정렬의 기준*/
}
.sub_visual .breadcrumb ol li + li::before{
    content: "";
    position: absolute;
    width: 0.94em;
    height: 0.94em;
    left: -31px; 
    top: 4px; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain ;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_719' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='16' y='16' width='16' height='16' transform='rotate(180 16 16)' fill='%23D9D9D9'/%3E%3Crect x='15.5' y='15.5' width='15' height='15' transform='rotate(180 15.5 15.5)' stroke='white' stroke-opacity='0.7'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_719)'%3E%3Cpath d='M8.4043 13.4902L13.8848 8.00977L13.8945 8.00098L13.8848 7.99219L8.4043 2.51172L9.33301 1.58301L15.752 8.00098L9.33301 14.4189L8.4043 13.4902Z' fill='white' stroke='white' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");

}
.sub_visual .depth1_name{
    font-size: 3.82rem;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.2em 0 0 0;
}

@media screen and (max-width: 1024px) {
            .sub_visual{
                height: 28.43em; /*455 / 16*/
                padding: 15.31em 0 0 0;
                text-align: center;
            }
            .sub_visual .breadcrumb ol{
                gap: 1.87em;
                justify-content: center;
            }
            .sub_visual .breadcrumb ol li + li::before{
                left: -25px; 
            }
            .sub_visual .depth1_name{
                font-size: 2.64rem; /*45px*/
                margin: 0.34em 0 0 0;
            }
}


@media screen and (max-width:768px) {
            .sub_visual{
                height: 26.875em; /*430 / 16*/
            }
            .sub_visual .depth1_name{
                font-size: 2.18rem; /*35px*/
                margin: 0.2em 0 0 0;
            }
}

.lnb{
    background-color: var(--point-font-color);
    color: #fff;
}
.lnb ul {
    display: flex;
    overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
    overflow-x: auto; /* 좌우 스크롤바 생성 */
    /* justify-content: center; */
}
.lnb ul li a{
    display: block;
    height: 3.34em;
    line-height: 3.34em;
    font-size: 1.05rem; /*18px / 17*/
    padding: 0 2.22em; /*40 / 18px*/
}
.lnb ul li.active a{
    font-weight: var(--bold-weight);
    position: relative; /*after 정렬의 기준*/
}
.lnb ul li.active a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3em;
    background-color: #fff;

}

.page_tit{
    text-align: center;
    margin: 2.15em 0 0.91em 0;
    font-size: 2.64rem; /*45px*/
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
}

@media screen and (max-width:1024px) {
            .lnb ul li a{
                font-size: 1.06rem; /*17px / 16*/
                padding: 0 1.17em; /*20 / 17px*/
            }
            .page_tit{
                margin: 2.64em 0 1.32em 0;
                font-size: 1.875em; /*30px*/
            }
}

@media screen and (max-width:768px) {
            .page_tit{
                margin: 2.64em 0 1.32em 0;
                font-size: 1.56em; /*25px*/
            }
}

.contents {
    min-height: 20em;
}

