/*html파일에서는 main.css만 호출, 다른 필요한 css는 main.css가 부름 */
@import url(font.css);
body{
    font-family: 'Pretendard' , sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
    word-break: keep-all;
}
/* ############START :: 태그의 기본 스타일 삭제(초기화) ##############*/
h1,h2,h3,h3,h4,h5,h6{
    font-size: inherit; /*브라우저가 주는 값 무시*/
    font-weight: inherit;
}
li{
    list-style: none; /* 앞 동그라미 삭제*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
em, address{
    font-style: normal;
}


/* ############END :: 태그의 기본 스타일 삭제(초기화) ##############*/
#wrap{
    min-width: 1300px;
    /* 홈페이지 넓이 1260px에 왼쪽/오른쪽에 여백을 20px정도 줌
    1260 + 20 + 20 = 1300px
    (브라우저가 줄어들었을 때 가로스크롤바가 생겼을 때 왼쪽/오른쪽 여백)

    min-width은 늘어나는 건 상관 없는데 줄어들 때 이거보다 줄어드면 안됨
    */
}



.wrapper{ /*보통 콘텐츠 넓이가 들어가는 것에만 부르지 다른 것에서는 wrapper를 부르지 않음! */
    width: 1260px;
    margin: 0 auto;
}

header{
    height: 104px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    /*logo와 gnb를 좌우로 배치*/
}
header .logo{
    margin: 31px 0 0 0;
}

header .logo a img{
    width: 163px; 
    /*이미지는 넓이나 높이 둘중에 하나만 주면 나머지는 비율에 맞게 알아서 조절됨
    -- 오히려 넓이/ 높이 모두 주면 찌그러짐*/
}

header .gnb ul{
    display: flex;
}

header .gnb ul li a{
    display: block;
    font-size: 23px;
    color: #1d1d1d;
    letter-spacing: -0.02em;
    padding: 38px 34px 30px 34px;
}

.visual{
    background: url(../images/visual_bg.png) no-repeat center center/ cover;
    /*background 한번에 정의                    반복      좌우   위아래   크기 */
    height: 869px;
    color: #fff;
    text-align: right;
}
.visual h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.02em;  /* 포토샵값 -20 = -0.02em */
    padding: 520px 0 19px 0;
}

/*####################################################*/

.biz{
    margin: 158px 0 0 0;
}

.biz .tit h2{
    color: #082f8b;
    margin: 0 0 5px 0;
}

.biz .tit p{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #1d1d1d;
}

.biz .list{
    margin: 55px 0 0 0;
}
.biz .list ul{
    display: flex;
    justify-content: space-between;
}
.biz .list ul li{
    width: 297px;
}
.biz .list ul li a{
    display: block; /*a의 필수값*/
    text-align: center;
}
.biz .list ul li a h3{
    font-size: 25px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #1d1d1d;
    margin: 14px 0 15px 0;
}
.biz .list ul li a .more{
    border: 1px solid #555555;
    display: block;
    padding: 13px 0;
    margin: 22px 0 0 0;
}

/*####################################################*/

.brand{
    background: url(../images/brand_bg.png) no-repeat center center/ cover;
    margin: 120px 0 0 0;
    height: 900px;
    color: #fff
}

.brand h2{
    padding: 228px 0 11px 0;
}
.brand .sub_tit{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.02em;
    margin: 0 0 165px 0 ;
}

.brand .cnt{
    color: rgba(255,255,255,0.8); /* opacity 80% */
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 23px 0 0 0;
}

footer{
    padding: 41px 0 102px 0;
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.8);
}
footer .f_nav ul{
    display: flex;
    gap: 35px;
    color: #fff;
}
footer .f_info{
    margin: 9px 0;
    display: flex;
    gap: 21px;
}
footer .f_info strong{
    font-weight: 800;
}










